<footer class="footer">
  <div class="container">
    <div class="grid grid--direction-column">
      <div class="footer__horizontal-section footer__horizontal-section--has-padding-bottom grid grid--justify-center">

        <div class="grid__col-12 grid__col-sm-6">
          <div class="footer__item grid grid--justify-space-between grid--direction-column grid--align-center">
            <h2 class="header header--is-color-white header--is-smaller-size-4 font-weight-light">Where to buy PetsBuddy
            </h2>
            <picture>
              <img class="footer__img" src="img/food-bags-footer.png" alt="Bags of animal food" />
            </picture>
            <a href="distributors.html" class="btn btn--has-small-padding btn--has-sides-padding text-uppercase">
              Distributors</a>
          </div>
        </div>

        <div class="grid__col-12 grid__col-sm-6">
          <div
            class="footer__item footer__item--is-bottom-on-mobile grid grid--justify-space-between grid--direction-column">
            <h2 class="header header--is-color-white header--is-smaller-size-4 font-weight-light">Let’s stay in touch!
            </h2>
            <p class="footer__paragraph" style="margin-top: 49px; margin-bottom:73px;">
              Thanks for your support. We would love to hear from you. If you have any question, please leave your email box and we will be in touch!
            </p>
            <div class="form footer_form">
              <div class="form__input-container form__input-container--has-icon-right">
                <input class="form__input form__input--has-white-placeholder"
                  placeholder="ENTER YOUR EMAIL" style="cursor:pointer" />
                <a class="form__input-icon form__input-icon--is-same-width-sm-down"
                  href="javascript:;" data-modal-id="modal-newsletter">
                  <img class="form__input-icon-img" src="img/icon-search.png" alt="Search icon" />
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="footer__horizontal-section grid grid--direction-column">
        <div class="footer__content-row grid grid--align-center">

          <div class="footer__bottom-section grid__col-sm-6 grid--direction-row">
            <a class="footer__word" href="contact-us.html">Contact</a>
            <a class="footer__word" href="about-us.html">About Us</a>
            <a class="footer__word" href="faq.html">FAQ</a>
          </div>

          <div class="footer__bottom-section grid__col-sm-6 grid--direction-row grid--justify-end">

            <a class="footer__word darker-on-hover" href="https://www.facebook.com/AustraliaPetIndustryGroup"
              target="_blank">
              <i class="footer__icon fa fa-facebook" aria-hidden="true"></i>
            </a>

            <a class="footer__word darker-on-hover" href="https://twitter.com/AUpetindustry" target="_blank">
              <i class="footer__icon fa fa-twitter" aria-hidden="true"></i>
            </a>

            <a class="footer__word darker-on-hover" href="https://www.youtube.com/channel/UCLAvZ_Q-ZPDbz4XW0Y6cd-Q"
              target="_blank">
              <i class="footer__icon fa fa-youtube" aria-hidden="true"></i>
            </a>

          </div>
        </div>
        <div class="footer__content-row grid grid--align-center">
          <div class="footer__bottom-section grid__col-sm-4 grid__col-md-6 grid--direction-row">
          </div>
          <div
            class="footer__bottom-section footer__bottom-section--is-col-on-mobile grid__col-sm-8 grid__col-md-6 grid--direction-row grid--justify-end">
            <span class="footer__word footer__word--small">
              Copyright &copy; 2019 The Website by Australia Pet Industry Group. All Rights Reserved
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>
<script>
  $(".footer_form").click(function(){
    window.location.href="contact-us.html";
  })
</script>