<div class="modal js-modal" data-dimmer="true" id="modal-language">
  <div class="modal__close-btn js-close-modal-btn">
   <img src="img/icon-quit-x-black.png" alt="Quit button" />
  </div>
  <div class="modal__content">
   <h3 class="modal__title header header--is-small-size">PetsBuddy around the World</h3>
   <div class="modal__dropdown-container">
    <select class="select-to-dropdown__select js-select-to-dropdown" id="site_changer_select" data-keep-select-behavior-mobile="true">
      <option value="pronature.ca/fr-ca/" selected="">Canada</option>
      <option value="china.pronaturepetfood.com/en-cn/">China</option>
      <option value="greece.pronaturepetfood.com/el-gr/">Greece</option>
      <option value="hongkong.pronaturepetfood.com/zh-hk/">HongKong</option>
      <option value="malaysia.pronaturepetfood.com/en-my/">Malaysia</option>
      <option value="poland.pronaturepetfood.com/pl-pl/">Poland</option>
      <option value="taiwan.pronaturepetfood.com/en-tw/">Taiwan</option>
      <option value="usa.pronaturepetfood.com/en-us/">Usa</option>
     </select>
   </div>
   <a class="modal__btn btn" id="site_changer_submit">Visit the website</a>
  </div>
</div>