<!-- sidebar start -->
<!-- ================ -->
<aside class="col-md-4 col-lg-3 col-lg-offset-1">
  <div class="side-bar">

    <div class="block clearfix">
      <h3 class="title">Latest Blog</h3>
      <div class="separator-2"></div>

      
      
      <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog50.jpg" alt="blog-thumb">
            <a href="post-50.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-50.html">Internet Key to Pet Food Industry Changes Post-Pandemic</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Mar, 2020</p>
        </div>
        <hr>
      </div>
      
      
      
      <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog49.jpg" alt="blog-thumb">
            <a href="post-49.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-49.html">Do Pet Food Brand Loyalty, Quality Apply in a Pandemic?</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Mar, 2020</p>
        </div>
        <hr>
      </div>
      
      
      
      <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog48.jpg" alt="blog-thumb">
            <a href="post-48.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-48.html">Soy Uncommon in Dog and Cat Foods</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Feb, 2020</p>
        </div>
        <hr>
      </div>
      
      
      
      <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog47.jpg" alt="blog-thumb">
            <a href="post-47.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-47.html">Combination Feeding a Popular Option for Pet Parents</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Feb, 2020</p>
        </div>
        <hr>
      </div>
      
      
      
      <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog46.jpg" alt="blog-thumb">
            <a href="post-46.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-46.html">When Humanization in Pet Food Goes Too Far</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Jan, 2020</p>
        </div>
        <hr>
      </div>
      
      
      
      <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog45.jpg" alt="blog-thumb">
            <a href="post-45.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-45.html">Minerals are Crucial to Pet Food Product Differentiation</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Jan, 2020</p>
        </div>
        <hr>
      </div>
      
      
      
      <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog44.jpg" alt="blog-thumb">
            <a href="post-44.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-44.html">3 Steps to Earning Skeptical Pet Owners’ Trust</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Dec, 2019</p>
        </div>
        <hr>
      </div>
      
      
      
      <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog43.jpg" alt="blog-thumb">
            <a href="post-43.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-43.html">Cat People vs. Dog People: The Battle Continues</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Dec, 2019</p>
        </div>
        <hr>
      </div>
      
      
      
      <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog42.jpg" alt="blog-thumb">
            <a href="post-42.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-42.html">Veterinarians and Pet Food: A Relationship in Progress</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Nov, 2019</p>
        </div>
        <hr>
      </div>
      
      
      
      <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog41.jpg" alt="blog-thumb">
            <a href="post-41.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-41.html">Consumer Trust and The Pet Food Industry: Bridging The Gap</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Nov, 2019</p>
        </div>
        <hr>
      </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      


    </div>
</aside>
<!-- sidebar end -->

<script>
  if (($(".popup-img").length > 0) || ($(".popup-iframe").length > 0) || ($(".popup-img-single").length > 0)) {
    $(".popup-img").magnificPopup({
      type: "image",
      gallery: {
        enabled: true,
      }
    });
    $(".popup-img-single").magnificPopup({
      type: "image",
      gallery: {
        enabled: false,
      }
    });
    $('.popup-iframe').magnificPopup({
      disableOn: 700,
      type: 'iframe',
      preloader: false,
      fixedContentPos: false
    });
  };
</script>