<!-- sidebar start -->
<!-- ================ -->
<aside class="col-md-4 col-lg-3 col-lg-offset-1">
  <div class="side-bar">

    <div class="block clearfix">
      <h3 class="title">Latest Blog</h3>
      <div class="separator-2"></div>

                  <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog36-1.jpg" alt="blog-thumb">
            <a href="post-36.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-36.html">2019，We are in Pet Fair Asia at Shanghai again</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Aug, 2019</p>
        </div>
        <hr>
      </div>
                        <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog35-1.jpg" alt="blog-thumb">
            <a href="post-35.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-35.html">We Love Pets, We Are Here for Spoil Them</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Aug, 2019</p>
        </div>
        <hr>
      </div>
                        <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog34.jpg" alt="blog-thumb">
            <a href="post-34.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-34.html">Taurine Supplementation may Reduce The Risk of Dogs Developing Dilated Cardiomyopathy</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Jul, 2019</p>
        </div>
        <hr>
      </div>
                        <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog33.jpg" alt="blog-thumb">
            <a href="post-33.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-33.html">Cat Care Program may Emphasize Lifestage Pet Food</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Jul, 2019</p>
        </div>
        <hr>
      </div>
                        <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog32.jpg" alt="blog-thumb">
            <a href="post-32.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-32.html">Renewed Focus on Pet Food Packaging Sustainability?</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Jun, 2019</p>
        </div>
        <hr>
      </div>
                        <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog31.jpg" alt="blog-thumb">
            <a href="post-31.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-31.html">Crude Fiber Guarantees: Are They on Their Way Out?</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Jun, 2019</p>
        </div>
        <hr>
      </div>
                        <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog30.jpg" alt="blog-thumb">
            <a href="post-30.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-30.html">5 Tips for Dog, Cat Gut Health via Pet Food Ingredients</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>May, 2019</p>
        </div>
        <hr>
      </div>
                        <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog29.jpg" alt="blog-thumb">
            <a href="post-29.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-29.html">Why Newer Pet Food Formats Like Freeze Dried are Rising</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>May, 2019</p>
        </div>
        <hr>
      </div>
                        <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog28.jpg" alt="blog-thumb">
            <a href="post-28.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-28.html">Online Pet Food Sales may Beat Other Channels by 2023</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Apr, 2019</p>
        </div>
        <hr>
      </div>
                        <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog27.jpg" alt="blog-thumb">
            <a href="post-27.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-27.html">3 Controversial Pet Food Ingredients Debated by AAFCO</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Apr, 2019</p>
        </div>
        <hr>
      </div>
                                                                                                                                                                                                                                                                                                                                    

    </div>
</aside>
<!-- sidebar end -->

<script>
  if (($(".popup-img").length > 0) || ($(".popup-iframe").length > 0) || ($(".popup-img-single").length > 0)) {
    $(".popup-img").magnificPopup({
      type: "image",
      gallery: {
        enabled: true,
      }
    });
    $(".popup-img-single").magnificPopup({
      type: "image",
      gallery: {
        enabled: false,
      }
    });
    $('.popup-iframe').magnificPopup({
      disableOn: 700,
      type: 'iframe',
      preloader: false,
      fixedContentPos: false
    });
  };
</script>