<!-- sidebar start -->
<!-- ================ -->
<aside class="col-md-4 col-lg-3 col-lg-offset-1">
  <div class="side-bar">

    <div class="block clearfix">
      <h3 class="title">Latest Blog</h3>
      <div class="separator-2"></div>

                  <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog82.jpg" alt="blog-thumb">
            <a href="post-82.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-82.html">CBD Popularity Continues to Grow in Pet Products</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Jul, 2021</p>
        </div>
        <hr>
      </div>
                        <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog81.jpg" alt="blog-thumb">
            <a href="post-81.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-81.html">U.S. Pet Food Spending Rose in 2020, Tracking Sales Growth</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Jul, 2021</p>
        </div>
        <hr>
      </div>
                        <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog80.jpg" alt="blog-thumb">
            <a href="post-80.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-80.html">Pet Food Calorie Counts Compared to Weight-Control Claims</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Jun, 2021</p>
        </div>
        <hr>
      </div>
                        <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog79.jpg" alt="blog-thumb">
            <a href="post-79.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-79.html">5 Usage Rates of Dog Food Ingredients in FDA DCM Warning</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Jun, 2021</p>
        </div>
        <hr>
      </div>
                        <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog78.jpg" alt="blog-thumb">
            <a href="post-78.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-78.html">Pet Supplements Present Another Health Option for Owners</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>May, 2021</p>
        </div>
        <hr>
      </div>
                        <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog77.jpg" alt="blog-thumb">
            <a href="post-77.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-77.html">The Latest on Pet Supplement Market Growth</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>May, 2021</p>
        </div>
        <hr>
      </div>
                        <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog76.jpg" alt="blog-thumb">
            <a href="post-76.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-76.html">Increasing Pet Food Nutrition Value with Hydrolysed Proteins</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Apr, 2021</p>
        </div>
        <hr>
      </div>
                        <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog75.jpg" alt="blog-thumb">
            <a href="post-75.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-75.html">5 Dog, Cat and Other Pet Food Ingredients from Cattle</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Apr, 2021</p>
        </div>
        <hr>
      </div>
                        <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog74.jpg" alt="blog-thumb">
            <a href="post-74.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-74.html">Accurate Pet Food Calorie Estimates may Fight Obesity</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Mar, 2021</p>
        </div>
        <hr>
      </div>
                        <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog73.jpg" alt="blog-thumb">
            <a href="post-73.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-73.html">Krill Omega-3 Fatty Acids Boosted Dogs’ Levels Over Fish</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Mar, 2021</p>
        </div>
        <hr>
      </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            

    </div>
</aside>
<!-- sidebar end -->

<script>
  if (($(".popup-img").length > 0) || ($(".popup-iframe").length > 0) || ($(".popup-img-single").length > 0)) {
    $(".popup-img").magnificPopup({
      type: "image",
      gallery: {
        enabled: true,
      }
    });
    $(".popup-img-single").magnificPopup({
      type: "image",
      gallery: {
        enabled: false,
      }
    });
    $('.popup-iframe').magnificPopup({
      disableOn: 700,
      type: 'iframe',
      preloader: false,
      fixedContentPos: false
    });
  };
</script>