{% extends "layouts/default.html" %}
{% set title = "About Us - PetsBuddy" %}

{% block content %}

<div class="static-page">
  <div class="section section--has-medium-padding">
    <div class="container container--has-padding-mobile">
      <div class="grid__container grid">
        <div class="grid__col-wrapper grid__col-12">
          <div class="cms-content">
            <div class="cms-content__title cms-content__title--has-small-margin">
              <H2>Fresh regional ingredients</H2>
            </div>
            <p>
                We carefully make appropriate foods from fresh regional ingredients. Unmatched by any other dog or cat food, our fresh regional ingredients rival mother nature , supplying nutrients in their freshest, most natural and nourishing form. Our kitchens provide inspiration for our foods and world-class ingredients from Australian farmers and hunters directly.
            </p>
          </div>
          <div class="cms-content">
            <div class="cms-content__img">
              <img src="img/about2.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="grid__col-wrapper grid__col-12">
          <div class="cms-content">
            <div class="cms-content__title cms-content__title--has-small-margin">
              <H2>Research and Development</H2>
            </div>
            <p>
                Our commitment to animal health is reflected in the innovation and consistent quality of our products. We start with the most up to date nutritional knowledge backed by research and product testing to create products that are natural and nutritionally balanced. The main methods of testing revolve around palatability and digestibility of our products under controlled and supervised feeding trials, ensuring the continued high quality of our products.
            </p>
          </div>
          <div class="cms-content">
            <div class="cms-content__img">
              <img src="img/about1.jpg" alt="" />
            </div>
          </div>
          <div class="cms-content">
            <p>
                Trusted by pet lovers everywhere, and your trust means everything to us. Our foods and treats are brimming with goodness and guaranteed to keep your cherished dogs and cats happy, healthy and strong.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}