{% extends "layouts/default.html" %}
{% set title = "Blogs - PetsBuddy" %}

{% block content %}
<div class="container section section--has-medium-padding section--has-smaller-padding-top-below-desktop">
  <div class="container blogs">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title">Blogs</h1>
        <div class="separator-2"></div>
        <p class="lead">
          Gathering knowledge for your lovely pets wellbeing.
        </p>
        <!-- page-title end -->


        <!-- blogpost start -->
        <div class="image-box style-3 mb-20 shadow bordered light-gray-bg">
          <div class="row grid-space-0">
            <div class="col-md-6">
              <div class="overlay-container">
                <img src="img/blogs/blog20.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="body">
                <div style="margin-top: 20px;"></div>
                <h3>3 Superfoods Growing Fast as Cat Food Trends</h3>
                <p class="small mb-10">
                  <i class="icon-calendar"></i> Dec, 2018</p>
                <div class="separator-2"></div>
                <p class="margin-clear">
                  Superfood ingredients in cat food.
                </p>
                <br />
                <a href="post-20.html"
                  class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read
                  More
                  <i class="fa fa-arrow-right pl-10"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- blogpost end -->

        <!-- blogpost start -->
        <div class="image-box style-3 mb-20 shadow bordered light-gray-bg">
          <div class="row grid-space-0">
            <div class="col-md-6">
              <div class="overlay-container">
                <img src="img/blogs/blog19.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="body">
                <div style="margin-top: 20px;"></div>
                <h3>New Product Opportunities Posed for Pet Treats</h3>
                <p class="small mb-10">
                  <i class="icon-calendar"></i> Dec, 2018</p>
                <div class="separator-2"></div>
                <p class="margin-clear">
                  Pet treat opportunities based on ingredients, functional benefits.
                </p>
                <br />
                <a href="post-19.html"
                  class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read
                  More
                  <i class="fa fa-arrow-right pl-10"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- blogpost end -->

        <!-- blogpost start -->
        <div class="image-box style-3 mb-20 shadow bordered light-gray-bg">
          <div class="row grid-space-0">
            <div class="col-md-6">
              <div class="overlay-container">
                <img src="img/blogs/blog18.jpg" alt="">

              </div>
            </div>
            <div class="col-md-6">
              <div class="body">
                <div style="margin-top: 20px;"></div>
                <h3>Will More Pet Food Consumers Continue to Find Out The Meaning of 'Fresh'?</h3>
                <p class="small mb-10">
                  <i class="icon-calendar"></i> Nov, 2018</p>
                <div class="separator-2"></div>
                <p class="margin-clear">
                  One definition for “fresh” that best applies to pet food is: “Not preserved, as by canning, smoking or
                  freezing.” Yet as a market category, fresh pet food is still not well-defined, established or tracked.
                </p>
                <br />
                <a href="post-18.html"
                  class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read
                  More
                  <i class="fa fa-arrow-right pl-10"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- blogpost end -->

        <!-- blogpost start -->
        <div class="image-box style-3 mb-20 shadow bordered light-gray-bg">
          <div class="row grid-space-0">
            <div class="col-md-6">
              <div class="overlay-container">
                <img src="img/blogs/blog17-1.jpg" alt="">

              </div>
            </div>
            <div class="col-md-6">
              <div class="body">
                <div style="margin-top: 20px;"></div>
                <h3>PetsBuddy Pet Food in AusPet 2018 of Gold Coast</h3>
                <p class="small mb-10">
                  <i class="icon-calendar"></i> Nov, 2018</p>
                <div class="separator-2"></div>
                <p class="margin-clear">
                  We are just back from the AusPet 2018 in Gold Coast. Our proud PetsBuddy Pet Food were loved and fully
                  supported by Australian visitors and customers. These adorable pictures show how popular the PetsBuddy
                  roo
                  and dairy products are.
                </p>
                <br />
                <a href="post-17.html"
                  class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read
                  More
                  <i class="fa fa-arrow-right pl-10"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- blogpost end -->

        <!-- blogpost start -->
        <div class="image-box style-3 mb-20 shadow bordered light-gray-bg">
          <div class="row grid-space-0">
            <div class="col-md-6">
              <div class="overlay-container">
                <img src="img/blogs/blog16.jpg" alt="">

              </div>
            </div>
            <div class="col-md-6">
              <div class="body">
                <div style="margin-top: 20px;"></div>
                <h3>Cats and Dogs Respond Differently to Similar Raw Pet Food</h3>
                <p class="small mb-10">
                  <i class="icon-calendar"></i> Oct, 2018</p>
                <div class="separator-2"></div>
                <p class="margin-clear">
                  The differences in cats and dogs digestive systems was exemplified in the way that their systems
                  responded
                  to similar raw, high-protein diets.
                </p>
                <br />
                <a href="post-16.html"
                  class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read
                  More
                  <i class="fa fa-arrow-right pl-10"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- blogpost end -->

        <!-- blogpost start -->
        <div class="image-box style-3 mb-20 shadow bordered light-gray-bg">
          <div class="row grid-space-0">
            <div class="col-md-6">
              <div class="overlay-container">
                <img src="img/blogs/blog15.jpg" alt="">

              </div>
            </div>
            <div class="col-md-6">
              <div class="body">
                <div style="margin-top: 20px;"></div>
                <h3>Functional Pet Food Ingredient is More Popular</h3>
                <p class="small mb-10">
                  <i class="icon-calendar"></i> Oct, 2018</p>
                <div class="separator-2"></div>
                <p class="margin-clear">
                  Functional ingredients are now being used in all kinds of pet food formulations, as larger industry
                  trends
                  find answers in functional options.
                </p>
                <br>
                <a href="post-15.html"
                  class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read
                  More
                  <i class="fa fa-arrow-right pl-10"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- blogpost end -->


        <!-- blogpost start -->
        <div class="image-box style-3 mb-20 shadow bordered light-gray-bg">
          <div class="row grid-space-0">
            <div class="col-md-6">
              <div class="overlay-container">
                <img src="img/blogs/blog14-1.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="body">
                <div style="margin-top: 20px;"></div>
                <h3>Pet Food Brands Conquer Competitors in Search Engines</h3>
                <p class="small mb-10">
                  <i class="icon-calendar"></i> Sep, 2018</p>
                <div class="separator-2"></div>
                <p class="margin-clear">By bidding against competitors’ branded terms, pet food companies using
                  conquesting
                  aim to encourage customers to switch brands.</p>
                <br>
                <a href="post-14.html"
                  class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read
                  More
                  <i class="fa fa-arrow-right pl-10"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- blogpost end -->
        <!-- blogpost start -->
        <div class="image-box style-3 mb-20 shadow bordered light-gray-bg">
          <div class="row grid-space-0">
            <div class="col-md-6">
              <div class="overlay-container">
                <img src="img/blogs/blog13.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="body">
                <div style="margin-top: 20px;"></div>
                <h3>Human Food Trends Driving Pet Food Product Innovation</h3>
                <p class="small mb-10">
                  <i class="icon-calendar"></i> Sep, 2018</p>
                <div class="separator-2"></div>
                <p class="margin-clear">Natural pet food continuing to evolve</p>
                <br>
                <a href="post-13.html"
                  class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read
                  More
                  <i class="fa fa-arrow-right pl-10"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- blogpost end -->


        <!-- blogpost start -->
        <div class="image-box style-3 mb-20 shadow bordered light-gray-bg">
          <div class="row grid-space-0">
            <div class="col-md-6">
              <div class="overlay-container">
                <img src="img/blogs/blog12-1.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="body">
                <div style="margin-top: 20px;"></div>
                <h3>The PetsBuddy in Pet Fair Asia 2018 in Shanghai</h3>
                <p class="small mb-10">
                  <i class="icon-calendar"></i> Aug, 2018</p>
                <div class="separator-2"></div>
                <p class="margin-clear">In the Pet Fair Asia 2018 that has just passed in the end of August, Australia
                  Pet
                  Industry Group with our business partners continued to display PetsBuddy™ products to Chinese
                  customers.</p>
                <br>
                <a href="post-12.html"
                  class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read
                  More
                  <i class="fa fa-arrow-right pl-10"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- blogpost end -->
        <!-- blogpost start -->
        <div class="image-box style-3 mb-20 shadow bordered light-gray-bg">
          <div class="row grid-space-0">
            <div class="col-md-6">
              <div class="overlay-container">
                <img src="img/blogs/blog11.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="body">
                <div style="margin-top: 20px;"></div>
                <h3>Why a Pet Owner Chooses Your Pet Shop?</h3>
                <p class="small mb-10">
                  <i class="icon-calendar"></i> Aug, 2018</p>
                <div class="separator-2"></div>
                <p class="margin-clear">Pet owners in the Australian Market stated that convenience, price and brand
                  selection dominated their reasons for choosing one pet product retailer over another.</p>
                <br>
                <a href="post-11.html"
                  class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read
                  More
                  <i class="fa fa-arrow-right pl-10"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- blogpost end -->

        <!-- pagination start -->
        <nav>
          <ul class="pagination">
            <li>
              <a href="blogs-1.html" aria-label="Previous">
                <i class="fa fa-angle-left"></i>
              </a>
            </li>
            <li class="active">
              <a href="blogs-1.html">1</a>
            </li>
            <li>
              <a href="blogs-2.html">2</a>
            </li>
            <li>
              <a href="blogs-2.html" aria-label="Next">
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
          </ul>
        </nav>
        <!-- pagination end -->

      </div>
      <!-- main end -->

    </div>
  </div>
</div>
{% endblock %}