{% extends "layouts/default.html" %}
{% set title = "Blogs - PetsBuddy" %}

{% block content %}
<div class="container section section--has-medium-padding section--has-smaller-padding-top-below-desktop">
  <div class="container blogs">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title">Blogs</h1>
        <div class="separator-2"></div>
        <p class="lead">
          Gathering knowledge for your lovely pets wellbeing.
        </p>
        <!-- page-title end -->


        <!-- blogpost start -->
        <div class="image-box style-3 mb-20 shadow bordered light-gray-bg">
          <div class="row grid-space-0">
            <div class="col-md-6">
              <div class="overlay-container">
                <img src="img/blogs/blog10.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="body">
                <div style="margin-top: 20px;"></div>
                <h3>Trump’s Metal Tariffs May Raise Costs for Canned Pet Food</h3>
                <p class="small mb-10">
                  <i class="icon-calendar"></i> Dec, 2018</p>
                <div class="separator-2"></div>
                <p class="margin-clear">
                    US tariffs on steel and aluminum may raise costs for pet food companies and US consumers.
                </p>
                <br />
                <a href="post-10.html"
                  class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read
                  More
                  <i class="fa fa-arrow-right pl-10"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- blogpost end -->

        <!-- blogpost start -->
        <div class="image-box style-3 mb-20 shadow bordered light-gray-bg">
          <div class="row grid-space-0">
            <div class="col-md-6">
              <div class="overlay-container">
                <img src="img/blogs/blog9.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="body">
                <div style="margin-top: 20px;"></div>
                <h3>Research Shows That Long-term Raw Dog Food Diet Will Increase Gut Bacteria Levels</h3>
                <p class="small mb-10">
                  <i class="icon-calendar"></i> Dec, 2018</p>
                <div class="separator-2"></div>
                <p class="margin-clear">
                  Dogs eating a homemade raw diet harbored a wider range of microorganisms, and larger populations of them.
                </p>
                <br />
                <a href="post-9.html"
                  class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read
                  More
                  <i class="fa fa-arrow-right pl-10"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- blogpost end -->

        <!-- blogpost start -->
        <div class="image-box style-3 mb-20 shadow bordered light-gray-bg">
          <div class="row grid-space-0">
            <div class="col-md-6">
              <div class="overlay-container">
                <img src="img/blogs/blog8-1.jpg" alt="">

              </div>
            </div>
            <div class="col-md-6">
              <div class="body">
                <div style="margin-top: 20px;"></div>
                <h3>We Are Just Back from CPFE 2018 in China</h3>
                <p class="small mb-10">
                  <i class="icon-calendar"></i> Nov, 2018</p>
                <div class="separator-2"></div>
                <p class="margin-clear">
                  Australia Pet Industry Group continues to expand and prompt PetsBuddy™ products in Chinese market with our valuable business partners
                </p>
                <br />
                <a href="post-8.html"
                  class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read
                  More
                  <i class="fa fa-arrow-right pl-10"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- blogpost end -->

        <!-- blogpost start -->
        <div class="image-box style-3 mb-20 shadow bordered light-gray-bg">
          <div class="row grid-space-0">
            <div class="col-md-6">
              <div class="overlay-container">
                <img src="img/blogs/blog7.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="body">
                <div style="margin-top: 20px;"></div>
                <h3>Dogs Likely Evolved to Eat Cooked Meat and Carbohydrates</h3>
                <p class="small mb-10">
                  <i class="icon-calendar"></i> Nov, 2018</p>
                <div class="separator-2"></div>
                <p class="margin-clear">
                    According to Brian Hare, PhD, associate professor of evolutionary anthropology at Duke University and founder of Dognition, dog foods marketed as replicating wolves’ raw meat diets actually may satisfy human ...
                </p>
                <br />
                <a href="post-7.html"
                  class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read
                  More
                  <i class="fa fa-arrow-right pl-10"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- blogpost end -->

        <!-- blogpost start -->
        <div class="image-box style-3 mb-20 shadow bordered light-gray-bg">
          <div class="row grid-space-0">
            <div class="col-md-6">
              <div class="overlay-container">
                <img src="img/blogs/blog6.jpg" alt="">

              </div>
            </div>
            <div class="col-md-6">
              <div class="body">
                <div style="margin-top: 20px;"></div>
                <h3>Pet Food is Focusing on Alternative Ingredients—Dried Yeast is One Possible Answer</h3>
                <p class="small mb-10">
                  <i class="icon-calendar"></i> Oct, 2018</p>
                <div class="separator-2"></div>
                <p class="margin-clear">
                    Two presentations at Petfood Forum 2018 highlighted the need for alternative pet food ingredient research.
                </p>
                <br />
                <a href="post-6.html"
                  class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read
                  More
                  <i class="fa fa-arrow-right pl-10"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- blogpost end -->

        <!-- blogpost start -->
        <div class="image-box style-3 mb-20 shadow bordered light-gray-bg">
          <div class="row grid-space-0">
            <div class="col-md-6">
              <div class="overlay-container">
                <img src="img/blogs/blog5.jpg" alt="">

              </div>
            </div>
            <div class="col-md-6">
              <div class="body">
                <div style="margin-top: 20px;"></div>
                <h3>PetsBuddy™ Pet Products Now Available in China in April 2018</h3>
                <p class="small mb-10">
                  <i class="icon-calendar"></i> Oct, 2018</p>
                <div class="separator-2"></div>
                <p class="margin-clear">
                  Working with our best business partner—Beijing Margo Commercial & Trade Co., Australia Pet Industry Group launched PetsBuddy™ formulated pet dairy products and roo pet treats onto Chinese market through the 5th China Beijing International Pet Supplies Exhibition that has just passed in April...
                </p>
                <br>
                <a href="post-5.html"
                  class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read
                  More
                  <i class="fa fa-arrow-right pl-10"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- blogpost end -->


        <!-- blogpost start -->
        <div class="image-box style-3 mb-20 shadow bordered light-gray-bg">
          <div class="row grid-space-0">
            <div class="col-md-6">
              <div class="overlay-container">
                <img src="img/blogs/blog1.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="body">
                <div style="margin-top: 20px;"></div>
                <h3>The Important Role of Taurine in Cats Food</h3>
                <p class="small mb-10">
                  <i class="icon-calendar"></i> Sep, 2018</p>
                <div class="separator-2"></div>
                <p class="margin-clear">Amino acids are the "building blocks" of proteins. All animals require amino acids to maintain a healthy physiological function. Proteins are made up of groups of amino acids, around 10 of which cannot be produced by a cat's body and need to be supplied within the diet.</p>
                <br>
                <a href="post-14.html"
                  class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read
                  More
                  <i class="fa fa-arrow-right pl-10"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- blogpost end -->
        <!-- blogpost start -->
        <div class="image-box style-3 mb-20 shadow bordered light-gray-bg">
          <div class="row grid-space-0">
            <div class="col-md-6">
              <div class="overlay-container">
                <img src="img/blogs/blog2.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="body">
                <div style="margin-top: 20px;"></div>
                <h3>Research on Milk Products for Dog and Cat</h3>
                <p class="small mb-10">
                  <i class="icon-calendar"></i> Sep, 2018</p>
                <div class="separator-2"></div>
                <p class="margin-clear">Dog and cat milk have very different nutrient composition than normal cow's milk. Cow's milk is dilute (contains less solids per litre), and has a lower energy and protein content than both dog & cat milk. This is because cows are born well-developed (precocial), are slower growing and need less nutrients in their milk than puppies or kittens.</p>
                <br>
                <a href="post-3.html"
                  class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read
                  More
                  <i class="fa fa-arrow-right pl-10"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- blogpost end -->


        <!-- blogpost start -->
        <div class="image-box style-3 mb-20 shadow bordered light-gray-bg">
          <div class="row grid-space-0">
            <div class="col-md-6">
              <div class="overlay-container">
                <img src="img/blogs/blog3.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="body">
                <div style="margin-top: 20px;"></div>
                <h3>The Study on Benefits of Kangaroo Meat</h3>
                <p class="small mb-10">
                  <i class="icon-calendar"></i> Aug, 2018</p>
                <div class="separator-2"></div>
                <p class="margin-clear">Kangaroo meat is high in protein and low in fat (about 2%). Kangaroo meat has a very high concentration of conjugated linoleic acid (CLA) when compared with other foods. CLA has been attributed with a wide range of health benefits including anti-carcinogenic and anti-diabetes properties, in addition to reducing obesity and atherosclerosis.</p>
                <br>
                <a href="post-2.html"
                  class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read
                  More
                  <i class="fa fa-arrow-right pl-10"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- blogpost end -->
        <!-- blogpost start -->
        <div class="image-box style-3 mb-20 shadow bordered light-gray-bg">
          <div class="row grid-space-0">
            <div class="col-md-6">
              <div class="overlay-container">
                <img src="img/blogs/blog4.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="body">
                <div style="margin-top: 20px;"></div>
                <h3>The Role of High Protein in the Management of Obesity in Pets</h3>
                <p class="small mb-10">
                  <i class="icon-calendar"></i> Aug, 2018</p>
                <div class="separator-2"></div>
                <p class="margin-clear">An important goal in the management of obesity is to reduce excess body fat while minimizing the loss of lean tissue. The high protein diet resulted in a greater loss of body fat and greater retention of lean body mass compared with the control diet.</p>
                <br>
                <a href="post-1.html"
                  class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read
                  More
                  <i class="fa fa-arrow-right pl-10"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- blogpost end -->

        <!-- pagination start -->
        <nav>
          <ul class="pagination">
            <li>
              <a href="blogs-1.html" aria-label="Previous">
                <i class="fa fa-angle-left"></i>
              </a>
            </li>
            <li>
              <a href="blogs-1.html">1</a>
            </li>
            <li class="active">
              <a href="blogs-2.html">2</a>
            </li>
            <li>
              <a href="blogs-2.html" aria-label="Next">
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
          </ul>
        </nav>
        <!-- pagination end -->

      </div>
      <!-- main end -->

    </div>
  </div>
</div>
{% endblock %}