{% extends "layouts/default.html" %} {% set title = "Distributors - PetsBuddy"
%} {% block content %}

<div
  class="container section section--has-medium-padding section--has-smaller-padding-top-below-desktop"
>
  <div
    class="row grid-space-10 cms-content__title cms-content__title--has-small-margin"
  >
    <h2>AUSTRALIA</h2>

    <div class="row">
      <div class="col-sm-6">
        <h4 style="margin-top: 30px">Hong Kong</h4>
        <div class="team-member image-box style-2 bordered shadow text-center">
          <div class="body">
            <ul class="list-icons" style="text-align: left; margin-left: 40px">
              <li><b>Pet’s Life</b></li>
              <li>Flat M, 11/F, Yue Cheung Center,</li>
              <li>1-3 Wong Chuk Yeung Street, Fo Tan</li>
              <li>Hong Kong</li>
              <li>+852 60647775</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h4 style="margin-top: 30px">Philippines</h4>
        <div class="team-member image-box style-2 bordered shadow text-center">
          <div class="body">
            <ul class="list-icons" style="text-align: left; margin-left: 40px">
              <li><b>Nouvior Nutri Systems</b></li>
              <li>No. 29 Milan St., San Francisco Village</li>
              <li>Muzon, Taytay, Rizal</li>
              <li>Philippines</li>
              <li>+63 917 88439985</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h4 style="margin-top: 30px">Singapore</h4>
        <div class="team-member image-box style-2 bordered shadow text-center">
          <div class="body">
            <ul class="list-icons" style="text-align: left; margin-left: 40px">
              <li><b>Pets Pacific Pte Ltd</b></li>
              <li>21 Marsiling Industrial Estate</li>
              <li>Road 9 (Level 3), Singapore</li>
              <li>+65 63631121</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h4 style="margin-top: 30px">South Korea</h4>
        <div class="team-member image-box style-2 bordered shadow text-center">
          <div class="body">
            <ul class="list-icons" style="text-align: left; margin-left: 40px">
              <li>
                <b>Mom's Mind Trading</b>
              </li>
              <li>2F, 33, Dujeongsang -ga, 3-gil, Seobuk-gu,</li>
              <li>Cheonan-si, Chungcheongnam-do, Republic of Korea</li>
              <li>+82 07075520610</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
