{% extends "layouts/default.html" %} {% set title = "Distributors - PetsBuddy"
%} {% block content %}

<div
  class="container section section--has-medium-padding section--has-smaller-padding-top-below-desktop"
>
  <div
    class="row grid-space-10 cms-content__title cms-content__title--has-small-margin"
  >
    <h2>AUSTRALIA</h2>

    <h4 style="margin-top: 30px">Sydney</h4>
    <div class="row">
      <div class="col-sm-6">
        <div class="team-member image-box style-2 bordered shadow text-center">
          <div class="body">
            <ul class="list-icons" style="text-align: left; margin-left: 40px">
              <li>
                <b>ENVON Pet Supplies</b>
              </li>
              <li>41 Garema Cct</li>
              <li>Kingsgrove NSW 2208</li>
              <li>Phone (02) 9160 0088</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="team-member image-box style-2 bordered shadow text-center">
          <div class="body">
            <ul class="list-icons" style="text-align: left; margin-left: 40px">
              <li>
                <b>Nibobo Pty Ltd</b>
              </li>
              <li>25 Solent Circuit</li>
              <li>Norwest NSW 2153</li>
              <li>Phone: (02) 9894 6363</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <h4 style="margin-top: 30px">Perth</h4>
    <div class="row">
      <div class="col-sm-6">
        <div class="team-member image-box style-2 bordered shadow text-center">
          <div class="body">
            <ul class="list-icons" style="text-align: left; margin-left: 40px">
              <li>
                <b>West Pets Australia</b>
              </li>
              <li>5/6 Ryelane Street</li>
              <li>Maddington WA 6107</li>
              <li>Phone: (08) 9467 WPET(9738)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <h2 style="margin-top: 80px">Hong Kong (China)</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="team-member image-box style-2 bordered shadow text-center">
          <div class="body">
            <ul class="list-icons" style="text-align: left; margin-left: 40px">
              <li><b>Pet’s Life</b></li>
              <li>Flat M, 11/F, Yue Cheung Center,</li>
              <li>1-3 Wong Chuk Yeung Street, Fo Tan</li>
              <li>Hong Kong</li>
              <li>+852 60647775</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <h2 style="margin-top: 80px">Philippines</h2>
    <div class="row">
      <div class="col-sm-6">
        <h4 style="margin-top: 30px"></h4>
        <div class="team-member image-box style-2 bordered shadow text-center">
          <div class="body">
            <ul class="list-icons" style="text-align: left; margin-left: 40px">
              <li><b>Nouvior Nutri Systems</b></li>
              <li>No. 29 Milan St., San Francisco Village</li>
              <li>Muzon, Taytay, Rizal</li>
              <li>Philippines</li>
              <li>+63 917 88439985</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <h2 style="margin-top: 80px">Singapore</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="team-member image-box style-2 bordered shadow text-center">
          <div class="body">
            <ul class="list-icons" style="text-align: left; margin-left: 40px">
              <li><b>Pets Pacific Pte Ltd</b></li>
              <li>21 Marsiling Industrial Estate</li>
              <li>Road 9 (Level 3), Singapore</li>
              <li>+65 63631121</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <h2 style="margin-top: 80px">South Korea</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="team-member image-box style-2 bordered shadow text-center">
          <div class="body">
            <ul class="list-icons" style="text-align: left; margin-left: 40px">
              <li>
                <b>Mom's Mind Trading</b>
              </li>
              <li>2F, 33, Dujeongsang -ga, 3-gil, Seobuk-gu,</li>
              <li>Cheonan-si, Chungcheongnam-do, Republic of Korea</li>
              <li>+82 07075520610</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <h2 style="margin-top: 80px">CHINA</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="team-member image-box style-2 bordered shadow text-center">
          <div class="body">
            <ul class="list-icons" style="text-align: left; margin-left: 40px">
              <li>
                <b>Beijing Margo Commercial &amp; Trade Co., Ltd</b>
              </li>
              <li>Xiaoyingqiao Business Zone</li>
              <li>Haidian District, Beijing</li>
              <li>Phone: +86 (0)10 5718 8849</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
