{% extends "layouts/default.html" %}
{% set title = "Distributors - PetsBuddy" %}

{% block content %}

<div class="container section section--has-medium-padding section--has-smaller-padding-top-below-desktop">
  <div class="row grid-space-10 cms-content__title cms-content__title--has-small-margin">
    <h2>AUSTRALIA</h2>

    <h4 style="margin-top: 30px">Sydney</h4>
    <div class="row">
      <div class="col-sm-6">

        <div class="team-member image-box style-2 bordered shadow text-center">
          <div class="body">
            <ul class="list-icons" style="text-align: left; margin-left: 40px;">
              <li>
                <b>ENVON Pet Supplies</b>
              </li>
              <li>
                1/82-84 Riverside Road
              </li>
              <li>
                Chipping Norton NSW 2170
              </li>
              <li>
                Phone: (02) 8710 8571
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-sm-6">

        <div class="team-member image-box style-2 bordered shadow text-center">
          <div class="body">
            <ul class="list-icons" style="text-align: left; margin-left: 40px;">
              <li>
                <b>Nibobo Pty Ltd</b>
              </li>
              <li>
                25 Solent Circuit
              </li>
              <li>
                Norwest NSW 2153
              </li>
              <li>
                Phone: (02) 9894 6363
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <h4 style="margin-top: 30px">Perth</h4>
    <div class="row">
      <div class="col-sm-6">

        <div class="team-member image-box style-2 bordered shadow text-center">
          <div class="body">
            <ul class="list-icons" style="text-align: left; margin-left: 40px;">
              <li>
                <b>West Pets Australia</b>
              </li>
              <li>
                5/6 Ryelane Street
              </li>
              <li>
                Maddington WA 6107
              </li>
              <li>
                Phone: (08) 9467 WPET(9738)
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <h2 style="margin-top: 80px;">CHINA</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="team-member image-box style-2 bordered shadow text-center">
          <div class="body">
            <ul class="list-icons" style="text-align: left; margin-left: 40px;">
              <li>
                <b>Beijing Margo Commercial &amp; Trade Co., Ltd</b>
              </li>
              <li>
                Xiaoyingqiao Business Zone
              </li>
              <li>
                Haidian District, Beijing
              </li>
              <li>
                Phone: +86 (0)10 5718 8849
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}