{% extends "layouts/default.html" %} {% set title = "Explore Us - PetsBuddy" %}
{% block content %}

<!-- section start -->
<!-- ================ -->
<section class="section section section--has-medium-padding section--has-smaller-padding-top-below-desktop">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">
          Pet
          <strong>Blog</strong>
        </h2>
        <div class="separator"></div>
        <p class="lead text-center">
          Gathering knowledge for your lovely pets wellbeing.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% for blog in blogs %} {% if loop.index > 0 and loop.index <= 3 %}
      <div class="col-sm-4">
        <div class="image-box shadow text-center mb-20">
          <div class="overlay-container">
            <img src="{{ blog.image }}" alt="" />
            <div class="overlay-top">
              <div class="text">
                <p class="small">{{ blog.title }}</p>
              </div>
            </div>
            <div class="overlay-bottom">
              <div class="links">
                <a href="{{ blog.url }}" class="btn btn-gray-transparent btn-animated btn-sm">View Details
                  <i class="pl-10 fa fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>

    <div class="row">
      {% for blog in blogs %} {% if loop.index > 3 and loop.index <= 6 %}
      <div class="col-sm-4">
        <div class="image-box shadow text-center mb-20">
          <div class="overlay-container">
            <img src="{{ blog.image }}" alt="" />
            <div class="overlay-top">
              <div class="text">
                <p class="small">{{ blog.title }}</p>
              </div>
            </div>
            <div class="overlay-bottom">
              <div class="links">
                <a href="{{ blog.url }}" class="btn btn-gray-transparent btn-animated btn-sm">View Details
                  <i class="pl-10 fa fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
</section>
<!-- section end -->

<!-- video section start -->
<section class="pv-30">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">
          Our
          <strong>Videoes</strong>
        </h2>
        <div class="separator"></div>
        <p class="lead text-center">
          Experience PetsBuddy via vivid clips.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <br />
        <div role="tabpanel">
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home">
              <div class="embed-responsive embed-responsive-16by9">
                <video id="player_1" style="max-width:100%;" poster="img/videos/poster-3.png" preload="none" controls
                  playsinline webkit-playsinline>
                  <source src="videos/Freeze-Dried-Cubes-Clip.mp4?raw=true" type="video/mp4" />
                </video>
              </div>
              <h4>PetsBuddy® Freeze Dried Bites for Pets</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <br />
        <div role="tabpanel">
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home">
              <div class="embed-responsive embed-responsive-16by9">
                <video id="player_1" style="max-width:100%;" poster="img/videos/poster-4.png" preload="none" controls
                  playsinline webkit-playsinline>
                  <source src="videos/Formulated-Replacers-Clip.mp4?raw=true" type="video/mp4" />
                </video>
              </div>
              <h4>PetsBuddy® Formulated Replacement for Pets</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <br />
        <div role="tabpanel">
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home">
              <div class="embed-responsive embed-responsive-16by9">
                <video id="player_1" style="max-width:100%;" poster="img/videos/poster-1.png" preload="none" controls
                  playsinline webkit-playsinline>
                  <source src="videos/PetsBuddy-Pet-Treats-540.mp4?raw=true" type="video/mp4" />
                </video>
              </div>
              <h4>PetsBuddy® Air Dried Treats for Pets</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <br />
        <div role="tabpanel">
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home">
              <div class="embed-responsive embed-responsive-16by9">
                <video id="player_1" style="max-width:100%;" poster="img/videos/poster-2.png" preload="none" controls
                  playsinline webkit-playsinline>
                  <source src="videos/PetsBuddy-GoatsMilk-540.mp4?raw=true" type="video/mp4" />
                </video>
              </div>
              <h4>PetsBuddy® Formulated Goatsmilk for Pets</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</section>
<!-- video section end -->

{% endblock %}