{% extends "layouts/default.html" %}
{% set title = "Explore Us - PetsBuddy" %}

{% block content %}

<!-- section start -->
<!-- ================ -->
<section class="section section section--has-medium-padding section--has-smaller-padding-top-below-desktop">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Pet
          <strong>Blog</strong>
        </h2>
        <div class="separator"></div>
        <p class="lead text-center">
          Gathering knowledge for your lovely pets wellbeing.
        </p>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row">
      <div class="col-sm-4">
        <div class="image-box shadow text-center mb-20">
          <div class="overlay-container">
            <img src="img/blogs/blog20.jpg" alt="">
            <div class="overlay-top">
              <div class="text">
                <p class="small">3 Superfoods Growing Fast as Cat Food Trends</p>
              </div>
            </div>
            <div class="overlay-bottom">
              <div class="links">
                <a href="post-20.html" class="btn btn-gray-transparent btn-animated btn-sm">View Details
                  <i class="pl-10 fa fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="image-box shadow text-center mb-20">
          <div class="overlay-container">
            <img src="img/blogs/blog19.jpg" alt="">
            <div class="overlay-top">
              <div class="text">

                <p class="small">New Product Opportunities Posed for Pet Treats</p>
              </div>
            </div>
            <div class="overlay-bottom">
              <div class="links">
                <a href="post-19.html" class="btn btn-gray-transparent btn-animated btn-sm">View Details
                  <i class="pl-10 fa fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="image-box shadow text-center mb-20">
          <div class="overlay-container">
            <img src="img/blogs/blog18.jpg" alt="">
            <div class="overlay-top">
              <div class="text">
                <p class="small">Will More Pet Food Consumers Continue to Find Out The Meaning of 'Fresh'?</p>
              </div>
            </div>
            <div class="overlay-bottom">
              <div class="links">
                <a href="post-18.html" class="btn btn-gray-transparent btn-animated btn-sm">View Details
                  <i class="pl-10 fa fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="image-box shadow text-center mb-20">
          <div class="overlay-container">
            <img src="img/blogs/blog17-1.jpg" alt="">
            <div class="overlay-top">
              <div class="text">
                <p class="small">PetsBuddy Pet Food in AusPet 2018 of Gold Coast</p>
              </div>
            </div>
            <div class="overlay-bottom">
              <div class="links">
                <a href="post-17.html" class="btn btn-gray-transparent btn-animated btn-sm">View Details
                  <i class="pl-10 fa fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="image-box shadow text-center mb-20">
          <div class="overlay-container">
            <img src="img/blogs/blog16.jpg" alt="">
            <div class="overlay-top">
              <div class="text">

                <p class="small">Cats and Dogs Respond Differently to Similar Raw Pet Food</p>
              </div>
            </div>
            <div class="overlay-bottom">
              <div class="links">
                <a href="post-16.html" class="btn btn-gray-transparent btn-animated btn-sm">View Details
                  <i class="pl-10 fa fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="image-box shadow text-center mb-20">
          <div class="overlay-container">
            <img src="img/blogs/blog15.jpg" alt="">
            <div class="overlay-top">
              <div class="text">
                <p class="small">Functional Pet Food Ingredient is More Popular</p>
              </div>
            </div>
            <div class="overlay-bottom">
              <div class="links">
                <a href="post-15.html" class="btn btn-gray-transparent btn-animated btn-sm">View Details
                  <i class="pl-10 fa fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section end -->

<!-- video section start -->
<section class="pv-30">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Our
          <strong>Videoes</strong>
        </h2>
        <div class="separator"></div>
        <p class="lead text-center">
          Experience PetsBuddy via vivid clips.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <br>
        <div role="tabpanel">
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home">
              <div class="embed-responsive embed-responsive-16by9">
                <video id="player_1" style="max-width:100%;" poster="img/videos/poster-1.png" preload="none" controls
                  playsinline webkit-playsinline>
                  <source src="videos/PetsBuddy-Pet-Treats-540.mp4?raw=true" type="video/mp4">
                </video>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <br>
        <div role="tabpanel">
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home">
              <div class="embed-responsive embed-responsive-16by9">
                <video id="player_1" style="max-width:100%;" poster="img/videos/poster-2.png" preload="none" controls
                  playsinline webkit-playsinline>
                  <source src="videos/PetsBuddy-GoatsMilk-540.mp4?raw=true" type="video/mp4">
                </video>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</section>
<!-- video section end -->

{% endblock %}