{% extends "layouts/default.html" %}

{% set title = "PetsBuddy®" %}

{% block content %}
<section class="home-top-section">
  <div class="home-top-section__container">
    <div class="home-top-section__title-wrapper">
      <h1 class="home-top-section__title">SPOIL IN A NATURAL AND HEALTHY WAY</h1>
    </div>
    <div class="home-top-section__logo-wrapper"></div>
    <div class="home-top-section__footer">
      <h5 class="home-top-section__footer-text text-center text-uppercase">
        FIND MORE<br />ABOUT US
      </h5>
      <a class="home-top-section__footer-icon-wrapper js-scroll-to-carousel-trigger" href="javascript:void(0)">
        <img
          class="home-top-section__footer-icon"
          src="img/icon-arrow-down.png" />
      </a>
    </div>
  </div>
</section>

<section class="section section--has-medium-padding">
 <div class="advanced-carousel js-advanced-carousel">

  <div class="advanced-carousel__pagination-container">
   <ul class="advanced-carousel__list">
    <li class="advanced-carousel__list-item">
      <a class="advanced-carousel__pagination-link js-pagination-link is-active" data-target-slide="life">
        THE CALL<span style="vertical-align: super"></span> OF NATURE
      </a>
    </li>
    <li class="advanced-carousel__list-item">
      <a class="advanced-carousel__pagination-link js-pagination-link " data-target-slide="holistic">
        PetsBuddy<span style="vertical-align: super">®</span> BLOG
      </a>
    </li>
    <li class="advanced-carousel__list-item">
      <a class="advanced-carousel__pagination-link js-pagination-link " data-target-slide="original">
        PetsBuddy<span style="vertical-align: super">®</span> VIDEO
      </a>
    </li>
   </ul>
  </div>

  <div class="advanced-carousel__carousel-wrapper">
   <div class="advanced-carousel__carousel-container index_container">

    <div class="advanced-carousel__arrow-container advanced-carousel__arrow-container--is-left js-left-arrow">
     <img class="advanced-carousel__arrow advanced-carousel__arrow--is-left" src="img/advanced_carousel_arrow_left.png" />
    </div>

    <div class="advanced-carousel__arrow-container advanced-carousel__arrow-container--is-right js-right-arrow">
     <img class="advanced-carousel__arrow advanced-carousel__arrow--is-right" src="img/advanced_carousel_arrow_right.png" />
    </div>

    <ul class="advanced-carousel__slides-list js-slides-list">

      <li class="advanced-carousel__slides-list-item js-slide is-active" data-slide-name="life">
        <div class="advanced-carousel__slide-container">
          <div class="advanced-carousel__background-image is-life"></div>

          <div class="advanced-carousel__main-img-wrapper hidden-sm-up">
            <img class="advanced-carousel__main-img" src="img/home_carousel_life_bg.jpg" />
          </div>

          <div class="advanced-carousel__slide-left-content">
            <div class="advanced-carousel__slide-logo-wrapper">
            </div>
            <div class="advanced-carousel__slide-title-wrapper">
              <h2 class="advanced-carousel__slide-title">Treat our furry friends in a healthy lifestyle with naturally better nutrition</h2>
            </div>
            <div class="advanced-carousel__slide-paragraph-wrapper">
              <p class="advanced-carousel__slide-paragraph">
                  It is the natural without any nasties, so you can trust that your lovely cats and dogs are in good hands. It is also the tasty that you can feed by a whole range of wholesome goodness.
              </p>
            </div>
          </div>
          <div class="advanced-carousel__btns-wrapper">
            <ul class="advanced-carousel__main-sections-thumbnails main-sections-thumbnails grid">
              <li class="advanced-carousel__main-sections-thumbnail-wrapper">
                <div class="main-sections-thumbnails__thumbnail main-sections-thumbnails__thumbnail--has-bg-image">
                  <a class="advanced-carousel__main-sections-thumbnail grid grid--align-center grid--justify-center grid--direction-column" href="products-goatsMilk.html">
                    <img class="main-sections-thumbnails__thumbnail-icon dog" style="margin-bottom: 15"  src="img/Goatsmilk.png" alt="Cats icon" />
                    <span class="main-sections-thumbnails__thumbnail-text">GoatsMilk</span>
                  </a>
                </div>
              </li>

              <li class="advanced-carousel__main-sections-thumbnail-wrapper">
                <div class="main-sections-thumbnails__thumbnail main-sections-thumbnails__thumbnail--has-bg-image">
                  <a class="advanced-carousel__main-sections-thumbnail grid grid--align-center grid--justify-center grid--direction-column" href="products-treats.html">
                    <img class="main-sections-thumbnails__thumbnail-icon dog" style="margin-bottom: 15" src="img/Treats.png" alt="Dogs icon" />
                    <span class="main-sections-thumbnails__thumbnail-text">Treats</span>
                  </a>
                </div>
              </li>

            </ul>
          </div>

        </div>
      </li>

      <li class="advanced-carousel__slides-list-item js-slide " data-slide-name="holistic">
        <div class="advanced-carousel__slide-container">
        <div class="advanced-carousel__background-image is-holistic"></div>
        <div class="advanced-carousel__main-img-wrapper hidden-sm-up">
            <img class="advanced-carousel__main-img" src="img/tab-bg1.jpg" />
        </div>
        <div class="advanced-carousel__slide-left-content">
          <div class="advanced-carousel__slide-logo-wrapper">
          </div>
          <div class="advanced-carousel__slide-title-wrapper">
          <h2 class="advanced-carousel__slide-title">Gathering knowledge makes our furry friends more healthy</h2>
          </div>
          <div class="advanced-carousel__slide-paragraph-wrapper">
            <p class="advanced-carousel__slide-paragraph">Here is a perfect place to acquire necessary knowledge and share latest information, so you can look after your lovely cats and dogs in a professional way and improve their well-being.</p>
          </div>
        </div>
        <div class="advanced-carousel__main-img-wrapper hidden-xs-down">
        </div>
        <div class="advanced-carousel__btns-wrapper">
          <ul class="advanced-carousel__main-sections-thumbnails main-sections-thumbnails grid">
          <li class="advanced-carousel__main-sections-thumbnail-wrapper">
            <div class="main-sections-thumbnails__thumbnail main-sections-thumbnails__thumbnail--has-bg-image">
            <a class="advanced-carousel__main-sections-thumbnail grid grid--align-center grid--justify-center grid--direction-column" href="blogs-1.html"> <img class="main-sections-thumbnails__thumbnail-icon dog" src="img/learn 2.png" alt="Cats icon" /> <span class="main-sections-thumbnails__thumbnail-text">LEARN NOW!</span> </a>
            </div>
          </li>
          </ul>
        </div>
        </div>
      </li>

      <li class="advanced-carousel__slides-list-item js-slide " data-slide-name="original">
        <div class="advanced-carousel__slide-container">
          <div class="advanced-carousel__background-image is-original"></div>

          <div class="advanced-carousel__main-img-wrapper hidden-sm-up">
              <img class="advanced-carousel__main-img" src="img/tab-bg2.jpg" />
          </div>

          <div class="advanced-carousel__slide-left-content">
            <div class="advanced-carousel__slide-logo-wrapper">
              </div>
              <div class="advanced-carousel__slide-title-wrapper">
              <h2 class="advanced-carousel__slide-title">Experience our products via vivid clips</h2>
              </div>
              <div class="advanced-carousel__slide-paragraph-wrapper">
              <p class="advanced-carousel__slide-paragraph">
                We gathered our fantastic clips to show the best of PetsBuddy® products, furry friends and their lovly families.
              </p>
            </div>
          </div>

          <div class="advanced-carousel__main-img-wrapper hidden-xs-down">
          </div>

          <div class="advanced-carousel__btns-wrapper">
            <ul class="advanced-carousel__main-sections-thumbnails main-sections-thumbnails grid">

              <li class="advanced-carousel__main-sections-thumbnail-wrapper">
                <div class="main-sections-thumbnails__thumbnail main-sections-thumbnails__thumbnail--has-bg-image">
                  <a class="advanced-carousel__main-sections-thumbnail grid grid--align-center grid--justify-center grid--direction-column" href="video.html">
                    <img class="main-sections-thumbnails__thumbnail-icon dog" src="img/experience.png" alt="Cats icon" />
                    <span class="main-sections-thumbnails__thumbnail-text">EXPERIENCE NOW!</span>
                  </a>
                </div>
              </li>

            </ul>
          </div>

        </div>
      </li>

    </ul>
   </div>
  </div>
 </div>
</section>

<section class="home-middle-section">
 <div class="home-middle-section__content">
  <div class="home-middle-section__title-wrapper">
   <h2 class="home-middle-section__title">NATURAL AND HEALTHY AWESOMENESS UNLEASHED</h2>
  </div>
  <div class="home-middle-section__paragraph-wrapper">
    <p class="home-middle-section__paragraph">
      PetsBuddy® offers serverl lines of distinctive products that are healthy, tasty, wholesome and nutritious. More than a brand, it is a mindset dedicated to better feeding for better living. All of our PetsBuddy® are inspired by nature, knowledge and a love for furry friends.
    </p>
  </div>
  <div class="home-middle-section__btn-wrapper">
   <a class="home-middle-section__btn btn" href="about-us.html">DISCOVER NOW!</a>
  </div>
 </div>
</section>

{% endblock %}
