{% extends "layouts/default.html" %} {% set title = "Accurate Pet Food Calorie
Estimates may Fight Obesity - PetsBuddy" %} {% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">
      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        Accurate Pet Food Calorie Estimates may Fight Obesity
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">22</span>
              <span class="month">Mar 2021</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div
            id="carousel-post-1"
            class="carousel slide mb-20"
            data-ride="carousel"
          >
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog74.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog74-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <p>
            The varieties of dog, cat and other pet food available have
            diversified from conventional kibble to a range of options,
            including frozen or refrigerated fresh pet foods. This
            diversification of pet food options may have implications for
            calculations used to estimate a particular formulation’s energy and
            nutrient content.
          </p>
          <p>
            “There are many ways that we can estimate the calories of a dog
            food,”
            <strong
              >Jirayu Tanprasertsuk, Ph.D., scientist with pet food company Nom
              Nom</strong
            >
            said. “The one that is commonly used, because it's pretty easy to
            do, is the modified Atwater calculation. That takes into account
            mostly the macronutrient composition. But we know that the
            digestibility of calories or macronutrients are not influenced by
            only the macronutrient composition. They are influenced by a lot of
            factors like food processing, the fiber content, etc.”
          </p>
          <p>
            <strong
              >Tanprasertsuk was part of a group of Nom Nom and University of
              Florida researchers</strong
            >
            who conducted an experiment to observe differences in digestibility
            and available calories among several varieties of dog food. The
            researchers observed differences not only among the actual foods,
            but in the estimates provided by calculations of digestibility. The
            journal Translational Animal Science published the results.
          </p>
          <p>
            Providing accurate calorie estimates helps pet owners avoid feeding
            their animals more energy than they need in a day. Improving
            calculations and subsequently calorie labeling could help fight the
            growing obesity problem in pets.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Accurate Pet Food Calorie Estimates</a>
          </div>
          <div class="link pull-right">
            <ul
              class="social-links circle small colored clearfix margin-clear text-right animated-effect-1"
            >
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a
                  target="_blank"
                  href="https://www.facebook.com/AustraliaPetIndustryGroup/"
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->
    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}
