{% extends "layouts/default.html" %}
{% set title = "Will COVID-19 Surge in Pet Food, Other E-Commerce Last? - PetsBuddy" %} {% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">
      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        Will COVID-19 Surge in Pet Food, Other E-Commerce Last?
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">18</span>
              <span class="month">Apr 2020</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div id="carousel-post-1" class="carousel slide mb-20" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog52.jpg" width="100%" alt="" />
                  <a href="img/blogs/blog52-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <p>
            Well before the COVID-19 pandemic disrupted every aspect of life and business as we know them, e-commerce
            was enacting its own form of disruption, including in the pet food market. Over the last few months, with
            most people around the world quarantined or sheltering at home, online purchasing in every category has
            soared, and some experts are projecting that new shoppers to the channel may decide to stick with it because
            of convenience, pricing, ongoing concern over COVID-19 or some combination thereof.
          </p>
          <p>A new report, however, casts some doubt on that theory. </p>
          <h4>E-commerce struggles and friction for new customers</h4>
          <p>
            Collected via its platform, according to <strong style="text-decoration: underline;">Quantum
              Metric</strong>, the data come from a sample of 32 million online
            browsing sessions on “broad-category retail sites” in March 2020; for comparison, the firm also looked at 50
            million browsing sessions from March 2019.
            Year over year, mobile shopping in March 2020 increased 56%, while desktop grew 52% compared to March 2019,
            which saw 35% and 43% increases, respectively, over 2018. The difference between growth rates in mobile
            between the two years indicate that during pandemic-related shutdowns and panic buying this year, people
            particularly flocked to shopping on their phones.
            That’s the good news. “Unfortunately, a surge of new visitors has also resulted in a surge of customer
            struggle and friction,” the report reads. “Cart abandonment, frustration rates and error rates were all much
            higher this March compared to last March.” Specifically, new customers abandoned their online shopping carts
            62% more, experienced 52% higher frustration and 12% more errors. “This may result from a lack of inventory,
            new visitors to sites not optimized for digital conversions or the negative impact of peak traffic on
            performance,” according to <strong style="text-decoration: underline;">Quantum Metric</strong>.
            In addition, the data suggest that online shoppers are adopting more of what <strong
              style="text-decoration: underline;">Quantum Metric</strong> calls
            “goal-oriented behaviors,” such as searching (up 11%) vs. simply navigating through a site (down 31%). It
            also includes making purchasing choices faster, which <strong
              style="text-decoration: underline;">Quantum</strong> measured by tracking the average product views
            before adding a product to the cart and the average product hits per search; both declined, by 47% and 6%
            respectively, indicating quicker decisions. Another behavior to look at is average time to complete
            checkout; that decreased from 13 minutes to eight on desktops and from nine minutes to six on mobile.

          </p>
          <p>The bottom line? Average order values are lower, at just over US$70 compared to over US$100 in 2019. “This
            reflects the current customer tendency to shop more frequently but for fewer items, which is akin to making
            quick trips to the grocery store,” the report concludes, recommending that online retailers focus on search,
            personalization, cross-selling and new visitor journeys, while optimizing for fast shopping and identifying
            performance impact.</p>
          <h4>Pet food e-commerce surge: timeline uncertain</h4>
          <p>Online sales of pet food in the U.S. soared 77% in March 2020, said <strong
              style="text-decoration: underline;">Sean Simpson, associate client director
              of the pet vertical for Nielsen</strong>, during a <strong style="text-decoration: underline;">Petfood
              Industry webinar</strong>. In just one month, from February to
            March 2020, online pet food sales jumped US$281 million, more than 51%. Subscription purchases of pet food
            also increased 28% from February to March; it’s too early to know if those gains will continue as more areas
            start to open up from lockdowns and quarantines.</p>
          <p>More recent pet food e-commerce data is available </p>
          <p>
            from <strong style="text-decoration: underline;">Packaged Facts</strong>. The research firm found that
            nearly half reported purchasing pet food digitally within
            the past three months, either on an e-commerce site or via an app.
          </p>
          <p>
            Though app shopping is still low for pet foods – 18% for dog owners, 15% for cat owners in the last three
            months – that percentage seems to be rising, consistent with strong style="text-decoration:
            underline;">Quantum Metric</strong>’s data on mobile e-commerce
            overall. With pet owners, <strong style="text-decoration: underline;">David Sprinkle, publisher and research
              director for Packaged Facts</strong> speculated
            that the increased use of apps could signify a “gradual and generationally driven changing of the guard.”
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Quantum Metric</a>
          </div>
          <div class="link pull-right">
            <ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a target="_blank" href="https://www.facebook.com/AustraliaPetIndustryGroup/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->
    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}