{% extends "layouts/default.html" %} {% set title = "U.S. Pet Food Spending Rose
in 2020, Tracking Sales Growth - PetsBuddy" %} {% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">
      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        U.S. Pet Food Spending Rose in 2020, Tracking Sales Growth
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">12</span>
              <span class="month">Jul 2021</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div
            id="carousel-post-1"
            class="carousel slide mb-20"
            data-ride="carousel"
          >
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog81.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog81-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <p>
            Pet food spending by U.S. consumers increased by more than 31% year
            over year (YOY) by mid-2020, according to data from
            <strong
              >the U.S. Bureau of Labor Statistics (BLS) reported and analysed
              by John Gibbons, aka the Pet Business Professor</strong
            >.
          </p>

          <h4>COVID-19 impact on pet food spending</h4>
          <p>
            By mid-year 2020, U.S. pet food spending reached nearly US$40
            billion—US$37.96 billion, to be precise, according to
            <strong>the BLS data</strong>. That represented a US$9.06 billion
            rise from mid-year 2019, <strong>Gibbons</strong>
            reported.
          </p>

          <p>
            He noted that pet food spending had actually started to
            grow—“recover,” even—in the second half of 2019 after declining
            unexpectedly, at least by historical patterns, in 2018. That
            decrease was likely due to the
            <strong>Food and Drug Administration’s (FDA)</strong> investigation
            into and announcements about a potential link between grain-free pet
            food and canine dilated cardiomyopathy (DCM). Which makes sense, as
            sales data from <strong>Nielsen</strong> and others showed a
            definite fall in grain-free sales in 2018 and 2019, and that
            category accounted for a significant share of the overall U.S. pet
            food market.
          </p>

          <p>
            “In the second half of 2019, we started to see a recovery from the
            overreaction to the FDA warning, and spending increased by US$2.3
            billion,” <strong>Gibbons</strong> wrote. “Then came 2020. The
            recovery was continuing but a new outside influence was added, which
            had a massive impact on U.S. consumers—the COVID-19 pandemic. In
            March nonessential businesses were closed. This also produced a wave
            of panic buying in some truly essential product categories. In the
            pet industry, there is only one truly essential category—pet food.”
          </p>

          <h4>Ultimate pet food spenders?</h4>
          <p>
            We all know the rest of that story, but Gibbons’ analysis provides
            additional insights into who actually spent more on pet food:
            namely, higher-income U.S. households as well as baby boomers.
            Specifically, households with incomes greater than US$70,000
            increased their spending by 25% in the first half of 2020, and those
            earning more than US$100,000 increased spending by more than 20%.
            Again, this matches pet food sales data from
            <strong>Euromonitor</strong> and other sources.
          </p>

          <p>
            Looking at pet food spending by age group, U.S. consumers 55 and
            older grew theirs by nearly 23%, per the BLS data, while spending
            among two other broad age groups, under 35 and 35-to-54-year-olds,
            actually declined slightly YOY.
          </p>

          <p>
            Based on this data, <strong>Gibbons</strong> provided a profile of
            the “ultimate pet food spending household”: 55 to 64 years old (aka
            boomers), married couple with their oldest child over age 18, two
            earners but self-employed, income of US$100,000 to $150,000 and
            living in an area with a population greater than 2,500.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Tracking Sales Growth</a>
          </div>
          <div class="link pull-right">
            <ul
              class="social-links circle small colored clearfix margin-clear text-right animated-effect-1"
            >
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a
                  target="_blank"
                  href="https://www.facebook.com/AustraliaPetIndustryGroup/"
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->
    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}
