{% extends "layouts/default.html" %} {% set title = "2019，We are in Pet Fair
Asia at Shanghai again - PetsBuddy" %} {% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">
      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        Consumer Trust and The Pet Food Industry: Bridging The Gap
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">8</span>
              <span class="month">Nov 2019</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div id="carousel-post-1" class="carousel slide mb-20" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog41.jpg" width="100%" alt="" />
                  <a href="img/blogs/blog41-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
            <h4>When adversity strikes, it’s time to come together and remember our shared vision: happy, healthy lives
              for pets and their families.</h4>
            <p>
              There’s no question that events like the 2007 melamine recall and current concerns about DCM have shaken
              up the pet food industry. They lead to consumer panic, and their economic impact trickles back all the way
              to the families of farmers and ranchers. While this kind of turmoil is never desirable, it provides us
              with a unique opportunity to take stock of pet industry, our businesses, and how to move forward in unity
              and strength.
            </p>
            <p>
              It’s easy to lose sight of this motivation amid the day-to-day demands of business. Concerns about the
              bottom line or competitors can cloud our vision. But when an industry-wide crisis occurs, we need to bring
              our focus back to that central commonality. We need to resist the temptation to point fingers and assign
              blame. Consumers are in a state of hypervigilance where they don’t know what to do for their pet or who to
              trust about pet nutrition—when we fight among ourselves, it only heightens their confusion.
            </p>
            <h4>Building Trust</h4>
            <p>
              Consumers continue to view pet food as a mystery. They have no idea that formulas are developed by
              dedicated professionals with the highest levels of nutritional training, or that pet food is more
              nutritionally complete than most human food. Often pet food purchasing decisions are emotionally driven.
              When misinformation spreads, consumers don’t know what to believe.
            </p>
            <p>
              As an industry, it’s time to use information platforms to give consumers the openness they demand and
              deserve. By inviting consumers in, teaching them how careful ingredient sourcing, formulation, and
              manufacturing plays a critical role in forming balanced diets, we build trust. Consumers expect companies
              to share who they are, what they care about, and why they’re in business. It’s up to us to let them know
              about the incredible level of care and planning that goes into pet food recipes—care based on a shared
              love of pets.
            </p>
            <p>
              We can also build trust in each other. Spend a couple days each year working with industry peers through
              professional groups like the Pet Food Industry (PFI), American Feed Industry Association (AFIA), and
              Association of American Feed Control Officials (AAFCO).
            </p>
            <h4>
              Moving Forward
            </h4>
            <p>
              We all share a common goal: a happy, healthy lifestyle for all pets. Keeping an eye on our common values
              and developing solutions together will fortify and energize the pet industry.
            </p>
          </div>
          <footer class="clearfix">
            <div class="tags pull-left">
              <i class="icon-tags"></i>
              <a href="#">Consumer Trust</a>
            </div>
            <div class="link pull-right">
              <ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
                <li class="twitter">
                  <a target="_blank" href="https://twitter.com/AUpetindustry">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="facebook">
                  <a target="_blank" href="https://www.facebook.com/AustraliaPetIndustryGroup/">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
              </ul>
            </div>
          </footer>
      </article>
      <!-- blogpost end -->
    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}