{% extends "layouts/default.html" %} {% set title = "2 Trends Fuel Pet Food
Facility Expansion in 2020 - PetsBuddy" %} {% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">
      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        2 Trends Fuel Pet Food Facility Expansion in 2020
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">20</span>
              <span class="month">Sep 2020</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div
            id="carousel-post-1"
            class="carousel slide mb-20"
            data-ride="carousel"
          >
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog62.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog62-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <p>
            Despite the COVID-19 pandemic, pet food producers and ingredient
            suppliers expanded their operations in 2020 as the twin trends of
            premiumization and humanization drove demand. Pet owners
            increasingly view their animals as members of the family and buy
            products accordingly. The pandemic reinforced these trends. While
            many facility expansions were planned before the pandemic, the
            spread of the disease didn’t upend the pet food and treat industry.
            In 2020, pet food industry construction continued to build capacity
            and create employment. “The demand for new pet food manufacturing or
            expanded facilities has grown substantially because of a market
            that’s responding to demand from consumers, who want to feed their
            pets the same kind of high-quality and safe ingredients that they
            feed themselves,” said
            <strong
              >Jeff Roy, senior project director for engineering, architecture
              and construction company CRB</strong
            >, “That’s why we’re seeing pet food manufacturers take notice and
            develop new products that increasingly require expansive renovations
            and new or additional capacity that, in turn, can accommodate new
            manufacturing methods and new products.”
          </p>
          <p>
            In September, Nestlé Purina PetCare announced plans to spend US$450
            million to convert an old brewery into a dry dog and cat food
            factory in Eden, North Carolina, USA. The plant will produce Purina
            Pro Plan, Purina ONE and Purina Pro Plan Veterinary Diets. In the
            same month, the city government of Ripon California, USA asked for
            public comment on the environmental impact statement for the
            expansion of Diamond Pet Foods facility. The 366,000-square-foot pet
            food facility currently runs three production lines, which would be
            expanded to four within the same structure. Total production
            capacity would increase from 780 tons per day to 1,040 tons per day.
          </p>
          <p>Pet food ingredient suppliers expanding facilities</p>
          <p>
            Further up the production chain, pet food ingredient suppliers have
            also expanded. In 2019, D&D Ingredient Distributors expanded their
            pre-mix facility in Delphos, Ohio, USA, which now includes a
            precision-automated micro-proportioning and a 4-ton twin-shaft
            horizontal ribbon-paddle mixer.
          </p>
          <p>
            Continued growth in the pet food market also motivated Kemin
            Nutrisurance to make investments in equipment and facilities, said
            <strong
              >Alberto Muñoz, marketing director for the pet food ingredient
              manufacturer</strong
            >.
          </p>
          <p>
            “More product demand means a higher level of finished goods that
            need testing to ensure consistent product quality and reliable
            resources,” he said.
          </p>
          <p>
            In July, Kemin Industries broke ground on a US$8 million quality
            control laboratory at its worldwide headquarters in Des Moines,
            Iowa, USA. The 15,000 square foot lab will feature functional
            showcase labs exhibiting Kemin's analytical capabilities, used to
            check the company’s finished goods.
          </p>
          <p>
            Assuring quality ingredients will continue to be important as
            premiumization and humanization remain dominant trends in the pet
            food market, fueling facility expansion and construction.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Trends Fuel Pet Food Facility Expansion</a>
          </div>
          <div class="link pull-right">
            <ul
              class="social-links circle small colored clearfix margin-clear text-right animated-effect-1"
            >
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a
                  target="_blank"
                  href="https://www.facebook.com/AustraliaPetIndustryGroup/"
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->
    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}
