{% extends "layouts/default.html" %} {% set title = "Do Most Pets Eat Only a Complete and Balanced Pet Food? - PetsBuddy" %} {% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">
      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        Do Most Pets Eat Only a Complete and Balanced Pet Food?
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">21</span>
              <span class="month">Sep 2019</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div id="carousel-post-1" class="carousel slide mb-20" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog38.jpg" width="100%" alt="" />
                  <a href="img/blogs/blog38-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <p>
            Basic nutrition teaches that nutritional balance and fortification are critical in bone growth, muscle
            development and other metabolic functions. Too much of one nutrient can have a dramatic impact on others.
            Pet food nutrient profiles for claims of completeness, balance and 100% nutritious embody years of nutrition
            science to ensure the right concentrations and ratios of nutrients for the long-term health of our pets. If
            a pet were to eat only a complete and balanced food, we could have confidence of a reasonably healthy life
            for that pet. Typically, only commercial pet foods follow nutritional principles that are called complete
            and balanced – other edible products do not.
          </p>
          <p>
            According to Mintel, 75% of U.S. consumers confirm that they show love to their pets through treating, and
            24% give treats for health-related issues. Results from multiple focus groups indicate consumers rarely feed
            only one complete and balanced pet food. By our estimates in dealing with hundreds of consumers, it is
            likely that more than 90% of all pet owners are feeding other edibles (biscuits, chews, dental products,
            supplements, food scraps, toppers, broths, rawhides, etc.) with their pet foods and do not consider these
            part of a daily food regimen. If the total food regimen were required to meet guidelines set forth by the
            Association of American Feed Control Officials (AAFCO) as complete and balanced, most would fail.
          </p>
          <h4>What else pets are eating and the nutritional impact</h4>
          <p>
            When asked, “What do you feed your pet?” the typical consumer answers, “This or that food.” If asked, “What
            treats do you feed?” the answer is, “Just a few or none.” However, when asked, “When do you feed biscuits,
            or soft-moist bacon or rawhide?” the truth comes out. Bottom line: Dietary histories from consumers are not
            well documented.
          </p>
          <p>
            In <span style="text-decoration: underline;">GEORGE COLLINGS, PH.D.</span> studies, only a few consumers
            feed a single, well-balanced food while following
            the published feeding guidelines using some sort of measuring device. Additionally, consumers might add five
            dental bones per week, two moderate biscuits per day, one to two moderate soft-moist treats per day, five
            rawhide chips per week and several table scraps of various sizes and flavors. The balance of this food
            regimen adds 40-50% more calories and reduces many key nutrients (vitamins, trace minerals) to
            concentrations 40-50% lower than AAFCO nutrient profiles.
          </p>
          <p>
            This feeding of “more” introduces a myriad of nutrients while piling on the calories. Excessive weight and
            excessive nutrients lead to an incomplete and imbalanced food regimen.
          </p>
          <p>
            Complicating this, recent work by Coe et al. (2019) showed that consumers dramatically overestimate and
            underestimate the amount of pet food to be fed while using a variety of feeding devices. This occurs while
            trying to use good feeding guidelines. However, imbalanced food regimens and their impact on health were not
            considered or reported when grain-free foods were linked to DCM by the Food and Drug Administration (FDA)
            and others. It is stated the greatest risk to our pets is caloric control, balance of nutrients and proper
            fortification.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Complete and Balanced Pet Food</a>
          </div>
          <div class="link pull-right">
            <ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a target="_blank" href="https://www.facebook.com/AustraliaPetIndustryGroup/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->
    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}