{% extends "layouts/default.html" %} {% set title = "Krill Omega-3 Fatty Acids
Boosted Dogs’ Levels Over Fish - PetsBuddy" %} {% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">
      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        Krill Omega-3 Fatty Acids Boosted Dogs’ Levels Over Fish
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">10</span>
              <span class="month">Mar 2021</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div
            id="carousel-post-1"
            class="carousel slide mb-20"
            data-ride="carousel"
          >
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog73.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog73-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <p>
            Krill, tiny marine crustaceans, provide omega-3 fatty acids for pet
            foods in a different form than omega-3s in conventional fish
            sources. That chemical difference may improve the effectiveness of
            omega-3 fatty acids from krill in dog foods.
          </p>
          <p>
            “Omega-3 polyunsaturated fatty acids are beneficial to canine diets,
            but the source of the omega-3s can impact uptake into cell
            membranes,” said
            <strong
              >study co-author Lena Burri, Ph.D., director of animal nutrition
              and health research and development for Aker Biomarine</strong
            >, a krill-based pet food ingredient producer. “The key
            differentiator between the two marine-sourced dietary supplements is
            that the majority of krill-derived omega-3s are bound to
            phospholipids, while omega-3s from fish oil are bound to
            triglycerides.”
          </p>
          <h4>Trending: superfoods</h4>
          <p>
            <strong
              >Burri and other researchers working for Aker Biomarine</strong
            >
            conducted an experiment using twenty Alaskan Huskies to test the
            efficacy of krill-based pet food ingredients. One group of ten dogs
            ate an extruded kibble diet supplemented with 1.7 grams of omega-3
            fatty acids from krill meal for six weeks. The omega-3 fatty acids
            included both eicosapentaenoic acid (EPA) and docosahexaenoic acid
            (DHA). Another ten dogs ate the same diet supplemented with 1.7
            grams of EPA and DHA omega-3 fatty acids from fish oil. EPA levels
            increased in the krill meal group from 1.84% to 4.42% compared to
            the fish oil group, which increased from 1.90% to 2.46%. Overall,
            the group of dogs eating krill-based ingredients increased their
            omega-3 index from 3.9% at to 6.3%. The fish-based omega-3 fatty
            acid group increased from 3.9% to 4.7%.
          </p>
          <p>
            Companion animal researchers have found evidence of omega-3 fatty
            acids helping with skin and coat conditions. Omega-3 fatty acids may
            support the immune system to prevent disease, while reducing heart
            and kidney failure. In early life, omega-3 fatty acids help nervous
            system development. At the other end of life, the chemicals may
            mitigate aging’s effects on cognition and other systems.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Pet Food Formulas</a>
          </div>
          <div class="link pull-right">
            <ul
              class="social-links circle small colored clearfix margin-clear text-right animated-effect-1"
            >
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a
                  target="_blank"
                  href="https://www.facebook.com/AustraliaPetIndustryGroup/"
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->
    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}
