{% extends "layouts/default.html" %} {% set title = "We Love Pets, We Are Here
for Spoil Them - PetsBuddy" %} {% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">
      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        We Love Pets, We Are Here for Spoil Them
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">11</span>
              <span class="month">Aug 2019</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div
            id="carousel-post-1"
            class="carousel slide mb-20"
            data-ride="carousel"
          >
            <ol class="carousel-indicators bottom margin-clear">
              <li
                data-target="#carousel-post-1"
                data-slide-to="0"
                class="active"
              ></li>
              <li data-target="#carousel-post-1" data-slide-to="1"></li>
              <li data-target="#carousel-post-1" data-slide-to="2"></li>
              <li data-target="#carousel-post-1" data-slide-to="3"></li>
              <li data-target="#carousel-post-1" data-slide-to="4"></li>
              <li data-target="#carousel-post-1" data-slide-to="5"></li>
              <li data-target="#carousel-post-1" data-slide-to="6"></li>
              <li data-target="#carousel-post-1" data-slide-to="7"></li>
              <li data-target="#carousel-post-1" data-slide-to="8"></li>
              <li data-target="#carousel-post-1" data-slide-to="9"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog35-1.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog35-1-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

              <div class="item">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog35-2.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog35-2-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

              <div class="item">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog35-3.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog35-3-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

              <div class="item">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog35-4.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog35-4-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

              <div class="item">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog35-5.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog35-5-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

              <div class="item">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog35-6.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog35-6-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

              <div class="item">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog35-7.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog35-7-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

              <div class="item">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog35-8.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog35-8-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

              <div class="item">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog35-9.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog35-9-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

              <div class="item">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog35-10.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog35-10-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <p>
            With ENVON PET SUPPLIES, the distributor for Sydney market,
            PetsBuddy® joined in one of the biggest pet shows in
            Australia—Sydney Dog Lover Show.
          </p>
          <p>
            During this show, PetsBuddy® products were appreciated by both of
            professional traders and customers.
          </p>
          <p>
            Chole, one of PetsBuddy® royal customers, even bought 4 cans of
            goatsmilk at the venue. She said, I have three dogs, they are always
            fed with PetsBuddy® formulated goatsmilk, they love to drink and
            grow faster and stronger, compared with similar dogs at their ages.
            So I will continue to use PetsBuddy goatsmilk.
          </p>
          <p>
            Mark, a new customer for PetsBuddy®, ‘I take two bags of freeze
            dried roo meat cubes for my big labrador as he is under training at
            a pet school. I know roo meat is very healthy and freeze dried
            treats can keep more nutritions, this is why I take them
            immediatedly once I find in this show.
          </p>
          <p>
            For charity organisations, PetsBuddy® has the passion to offer them
            as much as we can. During this expo, Australia Pet Industry Group
            donated products contains formulated goatsmilk and healthy roo
            treats to such organisation and will continue to support them in the
            future.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Spoil</a>
          </div>
          <div class="link pull-right">
            <ul
              class="social-links circle small colored clearfix margin-clear text-right animated-effect-1"
            >
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a
                  target="_blank"
                  href="https://www.facebook.com/AustraliaPetIndustryGroup/"
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->
    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}
