{% extends "layouts/default.html" %} {% set title = "Human Grade Pet Food on
Trend but Poses Challenges - PetsBuddy" %} {% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">
      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        Human Grade Pet Food on Trend but Poses Challenges
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">21</span>
              <span class="month">Jan 2021</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div
            id="carousel-post-1"
            class="carousel slide mb-20"
            data-ride="carousel"
          >
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog70.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog70-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <h4>Human grade pet food labeling full of pitfalls</h4>
          <p>
            As some pet owners seek pet foods closer to what they eat
            themselves, human grade can lead to market success and increased
            sales. But first, a manufacturer must overcome some of the
            challenges to hit the market with products that are palatable to
            both the pet and the owner’s wallet, while also ensuring a profit
            for the company. That means factoring in the higher costs of
            ensuring stable supplies of ingredients, possibly changing
            processing parameters, completing all necessary documentation and
            complying with labeling and other regulations.
          </p>
          <p>
            Following all rules spelled out in Association of American Feed
            Control Officials (AAFCO) guidelines, such as intended use of the
            product, a brand has to place the statement of intended use right
            next to the first usage of the “human grade” claim, taking care that
            the text used for the claim is not larger than the intended use
            statement. The label must include a “not for human consumption”
            statement; at the same time, you have to avoid including statements
            of grade or quality in the ingredients list.
          </p>
          <h4>AAFCO update on human grade pet food guidelines</h4>
          <p>
            During another presentation,
            <strong
              >George Ferguson, feed administrator for the North Carolina
              Department of Agriculture and president of AAFCO</strong
            >, provide an update on the organization’s human grade pet food
            guidelines. At the AAFCO mid-year meeting January 18-20, 2022, the
            Pet Food Committee presented revisions, Ferguson said; he expects a
            vote on them by the full AAFCO membership at its annual meeting in
            August.
          </p>
          <p>
            The revised guidelines created a path for products manufactured and
            final-packed in non-Food-and-Drug Administration-certified
            facilities (i.e., Food Safety and Inspection Service facilities) to
            meet the human grade requirements, Ferguson explained. To certify
            this, the guidelines also set a course for a third-party audit
            through the U.S. Department of Agriculture Marketing Service’s (AMS)
            process-verified program.
          </p>
          <p>
            In addition, Ferguson said, AAFCO is considering a model affidavit
            or scaled document submission for human grade pet foods, will
            establish an FAQ page on its website dedicated to these label
            claims, will create a library to house example or model documents,
            refresh membership of the human grade work group as AAFCO considers
            the AMS audit standards and establish a human grade FAQ work group.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Human Grade Pet Food</a>
          </div>
          <div class="link pull-right">
            <ul
              class="social-links circle small colored clearfix margin-clear text-right animated-effect-1"
            >
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a
                  target="_blank"
                  href="https://www.facebook.com/AustraliaPetIndustryGroup/"
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->
    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}
