{% extends "layouts/default.html" %} {% set title = "Pet Food Calorie Counts
Compared to Weight-Control Claims - PetsBuddy" %} {% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">
      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        Pet Food Calorie Counts Compared to Weight-Control Claims
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">23</span>
              <span class="month">Jun 2021</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div
            id="carousel-post-1"
            class="carousel slide mb-20"
            data-ride="carousel"
          >
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog80.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog80-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <h4>
            Weight-control labelling appeared on higher-calorie pet foods as
            well.
          </h4>
          <p>
            The calories listed on thousands of pet food labels were divided
            into low-, medium- and high- calorie ranges by a recent analysis of
            <strong
              >Petfood Industry’s Dog and Cat Food Ingredient Center
              database</strong
            >. Body-weight-related marketing claims appeared most frequently on
            those products with less than 300 calories per eight-ounce serving.
            However, weight-control labelling appeared on higher-calorie pet
            foods as well.
          </p>
          <p>
            Twenty-six percent of lower-calorie dog and cat food formulations
            are labelled for weight control, making it the highest
            percentage-wise. However, as many or more recipes in higher calorie
            ranges also labelled for weight control.
          </p>
          <p>
            <strong
              >Petfood Industry’s Dog and Cat Food Ingredient Centre</strong
            >
            provides pet food industry professionals with a database of
            nutritional information and full ingredient lists for pet foods
            currently available in the US market. Dog and Cat Food Ingredient
            Centre users can learn what competitors in the pet food industry are
            using in their products, along with how they are marketing those
            formulations.
          </p>
          <h4>Exclusive data on the Dog and Cat Food Ingredient Centre</h4>
          <p>
            The Dog and Cat Food Ingredient Centre contains exclusive data on
            which pet food companies are using particular pet food ingredients,
            along with the nutritional information about these products. Beyond
            that, Petfood Industry’s Dog and Cat Food Ingredient Centre database
            allows users to analyse how pet food companies refer to ingredients,
            for example chicken by-products versus coproducts, along with the
            marketing claims made in the names of the pet foods, such as organic
            or natural.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Ingredient Center database</a>
          </div>
          <div class="link pull-right">
            <ul
              class="social-links circle small colored clearfix margin-clear text-right animated-effect-1"
            >
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a
                  target="_blank"
                  href="https://www.facebook.com/AustraliaPetIndustryGroup/"
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->
    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}
