{% extends "layouts/default.html" %} {% set title = "Ingredient Substitution
Adapts Pet Food to Disruption - PetsBuddy" %} {% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">
      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        Ingredient Substitution Adapts Pet Food to Disruption
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">21</span>
              <span class="month">Nov 2020</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div
            id="carousel-post-1"
            class="carousel slide mb-20"
            data-ride="carousel"
          >
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog66.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog66-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <p>
            Pet food ingredient supply chains can snap, or at least get tangled,
            for many reasons. The COVID-19 pandemic stressed those weak links in
            2020. However, pet food producers largely found ways around the
            supply chain disruptions caused by the early stages of the pandemic.
            Pet food producers and their suppliers face the ongoing potential
            for interruptions as various countries, such as the United Kingdom,
            reinstate movement restrictions. Whether because of a global health
            crisis, or simply a stalled delivery truck, pet food formulators may
            need to find ways to replace a missing ingredient while staying
            within labeling regulations and ensuring pet nutrition.
          </p>
          <p>
            “As formulators, we do replacement,”
            <strong
              >Serge Boutet, animal nutrition consultant, SB Nutrinnov
              Consultants</strong
            >, said during his Petfood Essentials: CONNECT-ED educational short
            course. “We have to look at what we have in the house, in terms of
            ingredients and try to replace the missing product. Let's say we are
            missing a protein source, and for sure we don't want to affect the
            animals by changing a formula, but sometimes we're in a rush. We're
            in a situation where we cannot stop manufacturing. We do reformulate
            an ingredient with others we may have in house… If we can rearrange
            the formulation with available ingredients, then, we may save a lot
            of money to the company, while not affecting the animals.”
          </p>
          <p>
            In his career, <strong>Boutet</strong> has seen substitution used
            more in livestock feed than pet food. Nevertheless, substitution
            works for pet food.
          </p>
          <p>
            He gave the example of a pet food company needing a 60% protein
            source, but only having a 50% source. Dog, cat and other pet food
            makers then try to counter-balance with essentially a kind of
            mini-formulation to replace an ingredient, yet have minimal impact
            on the final product. Manufacturers, buyers and formulators need to
            work together to make this happen. Ultimately, if a recipe can’t be
            developed that will meet animal nutrition or regulatory needs, the
            pet food facility may need to stop production of affected products.
            While expensive, the fallout from recalls or lawsuits costs more in
            both trust and treasure.
          </p>
          <p>
            “It can be disastrous for the plant itself, but sometimes we have to
            say no,” he said.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Boutet</a>
          </div>
          <div class="link pull-right">
            <ul
              class="social-links circle small colored clearfix margin-clear text-right animated-effect-1"
            >
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a
                  target="_blank"
                  href="https://www.facebook.com/AustraliaPetIndustryGroup/"
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->
    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}
