{% extends "layouts/default.html" %} {% set title = "Lamb Kidney may be
Palatable Sub for Liver in Cat Food - PetsBuddy" %} {% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">
      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        Lamb Kidney may be Palatable Sub for Liver in Cat Food
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">1</span>
              <span class="month">Nov 2020</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div
            id="carousel-post-1"
            class="carousel slide mb-20"
            data-ride="carousel"
          >
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog65.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog65-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <p>
            Raw lamb kidney may have palatability and nutritional advantages as
            a cat food ingredient over other co-products.
            <strong>Researchers at Massey University</strong> observed distinct
            differences among cats’ preference for various raw organ meats and
            co-products from cows and lambs. Likewise, raw ingredients from lamb
            and beef had different palatability. Overall, cats preferred liver
            and kidney from both species of livestock. Comparing equivalent raw
            ingredients from either animal, the cats tended to prefer lamb over
            beef.
          </p>
          <p>
            The journal Animals published the study, which examined palatability
            of raw lung, heart, kidney, tripe, liver and mechanically deboned
            meat (MDM) from lamb and beef. Eight domestic short-haired cats ate
            each of the six lamb and six beef components. The researchers used
            two-bowl acceptance and preference tests to develop palatability
            ranking of ingredients within and among species.
          </p>
          <p>
            While liver was the most palatable raw ingredient in the test, the
            scientists pointed out limitations in the ingredients use. Since
            liver contains high amounts of vitamin A, pet food formulators need
            to avoid upper limits for the vitamin’s inclusion in pet food. The
            researchers wrote that lamb kidney is a viable, highly palatable and
            safer alternative to liver for high value pet food.
          </p>
          <p>
            Cats preferred lamb over beef ingredients, except for heart and
            liver, which were equal between species. The researchers suggested
            that the age of the animals at slaughter may have influenced this.
            In New Zealand, lambs are butchered at typically 4 to 9 months old,
            while farmers cull cows at 5 to 8 years generally. Off-flavors may
            develop as the animals age, or the ingredients may become tougher
            with connective tissue.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Lamb Kidney</a>
          </div>
          <div class="link pull-right">
            <ul
              class="social-links circle small colored clearfix margin-clear text-right animated-effect-1"
            >
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a
                  target="_blank"
                  href="https://www.facebook.com/AustraliaPetIndustryGroup/"
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->
    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}
