{% extends "layouts/default.html" %} {% set title = "5 Usage Rates of Dog Food
Ingredients in FDA DCM Warning - PetsBuddy" %} {% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">
      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        5 Usage Rates of Dog Food Ingredients in FDA DCM Warning
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">6</span>
              <span class="month">Jun 2021</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div
            id="carousel-post-1"
            class="carousel slide mb-20"
            data-ride="carousel"
          >
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog79.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog79-o.jfif"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <p>
            Pet food ingredients, such as potatoes, peas and lentils, appear
            with different frequency in dog foods in the United States. Dog
            foods formulated with high percentages of these ingredients may
            correlate to increased risk of a certain heart disease, warned the
            <strong
              >US Food and Drug Administration (FDA) Center for Veterinary
              Medicine on July 2. FDA </strong
            >notified the public that some canine dilated cardiomyopathy (DCM)
            cases were correlated to dogs eating diets containing large amounts
            of potatoes and legume seeds, also known as pulses, such as peas and
            lentils.
          </p>
          <p>
            <strong>Grain-free dog food formulas</strong>
          </p>
          <p>
            Although it is no longer operational, the
            <strong>Dog and Cat Food Ingredient Centre database</strong>
            contained data on usage rates of various ingredients related to the
            FDA announcement.
          </p>
          <p>
            In dry dog food, 44 percent of the recipes in the database do not
            contain grains. These grains include all forms of corn, wheat, rice,
            soybeans, oats, millet, flax, barley and sorghum. Of these
            grain-free recipes, 28 percent have grain-free in their product name
            or in the formula name. Some brands are more heavily invested in
            grain-free than others, but 78 percent of the brands producing dry
            dog food have at least one grain-free formula.
          </p>
          <p>Of grain-free dry dog food recipes:</p>
          <p>50 percent contain peas,</p>
          <p>23 percent use chickpeas and</p>
          <p>14 percent include lentils.</p>
          <p><strong>Use of ingredients mentioned in FDA report</strong></p>
          <p>
            Outside of the realm of grain-free dog foods, various legumes and
            potatoes appeared at lower rates. Nevertheless, chickpeas, lentils
            and peas make up a large percentage of the dry recipes they are in,
            often showing up in the top 3 to 6 spots in the ingredient deck.
          </p>
          <p>Of all dry dog food recipes:</p>
          <p>Potatoes (not sweet) - 28 percent</p>
          <p>Soybeans - 13 percent</p>
          <p>Chickpeas - 12 percent</p>
          <p>Lentils - 8 percent</p>
          <p>Peas - 5 percent</p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">FDA DCM Warning</a>
          </div>
          <div class="link pull-right">
            <ul
              class="social-links circle small colored clearfix margin-clear text-right animated-effect-1"
            >
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a
                  target="_blank"
                  href="https://www.facebook.com/AustraliaPetIndustryGroup/"
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->
    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}
