{% extends "layouts/default.html" %}
{% set title = "How to Feed Your Furry Friends Healthily - PetsBuddy" %}

{% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">

      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        How to Feed Your Furry Friends Healthily
      </h3>
      <h4>
        -- PetsBuddy® shares pet nutrition knowledge with Chinese pet owners in Beijing International Pet Expo 2019
      </h4>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">23</span>
              <span class="month">Mar 2019</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div id="carousel-post-1" class="carousel slide mb-20" data-ride="carousel">

            <ol class="carousel-indicators bottom margin-clear">
              <li data-target="#carousel-post-1" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-post-1" data-slide-to="1"></li>
              <li data-target="#carousel-post-1" data-slide-to="2"></li>
              <li data-target="#carousel-post-1" data-slide-to="3"></li>
              <li data-target="#carousel-post-1" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog26-1.jpg" width="100%" alt="">
                  <a href="img/blogs/blog26-1-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

              <div class="item">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog26-2.jpg" width="100%" alt="">
                  <a href="img/blogs/blog26-2-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

              <div class="item">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog26-3.jpg" width="100%" alt="">
                  <a href="img/blogs/blog26-3-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

              <div class="item">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog26-4.jpg" width="100%" alt="">
                  <a href="img/blogs/blog26-4-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

              <div class="item">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog26-5.jpg" width="100%" alt="">
                  <a href="img/blogs/blog26-5-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <p>
            In 2019 Beijing International Pet Expo, according to the best arrangement of our Chinese business partner
            Margo China Inc., Alex Dunne from R&D department of Australia Pet Industry Group gave Chinese pets families
            a presentation titled ‘How to Rise Your Furry Friends in a Healthy Way’.
          </p>
          <p>
            In this presentation, Alex briefly explained how the 3 key nutrients, Protein, carbohydrates and fats, to
            work. These so-called macro-nutrients make up 90% of nutrients in food. And also, other micro-nutritients
            don’t make up as much of the nutrients in our food, but are absolutely essential. The PetsBuddy® Goatsmilk
            is a perfect substantial supplement of both macro and micro nutrients to pets. We prepared some gifts for
            audience to make more people can benefit from PetsBuddy® unique healthy pet food.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Beijing International Pet Expo 2019</a>
          </div>
          <div class="link pull-right">
            <ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a target="_blank" href="https://www.facebook.com/AustraliaPetIndustryGroup/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->

    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}