{% extends "layouts/default.html" %}
{% set title = "Online Pet Food Sales may Beat Other Channels by 2023 - PetsBuddy" %}

{% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">

      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        Online Pet Food Sales may Beat Other Channels by 2023
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">24</span>
              <span class="month">April 2019</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div id="carousel-post-1" class="carousel slide mb-20" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog28.jpg" width="100%" alt="">
                  <a href="img/blogs/blog28-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

            </div>
          </div>
          <p>
            Pet food, treat and other product e-commerce may continue growing to become the dominant retail channel for
            pet products by 2023, continuing dramatic growth between 2015 and 2018. Market analysts with Packaged Facts
            forecast this impending shift in the dog, cat and other pet food retail landscape in the report<strong>
              “U.S. Pet Market Focus: Pet Specialty Channel and Internet Shoppers.”</strong>
          </p>
          <p>In 2023, analysts projected that pet product e-commerce will reach US$15.5 billion and account for 26% of
            the overall market. Pet specialty retail stores will slip to second place with 21% of pet product sales.
            Discount and superstores, including Wal-Mart, will also account for 21% of the pet food, treat and other
            products market. </p>
          <p>
            Internet sales by all pet product retailers, including omnichannel retailers, stood at 7% of the market in
            2015 with US$3.2 billion. In just a few years, that percentage more than doubled, growing to 18% of the
            total market. Currently, approximately 13 million households buy pet food, treats and other products online,
            compared to 29.9 million shopping at pet superstores PetSmart and Petco, and 9.2 million customers in the
            rest of pet specialty retail.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Online Pet Food Sales</a>
          </div>
          <div class="link pull-right">
            <ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a target="_blank" href="https://www.facebook.com/AustraliaPetIndustryGroup/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->

    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}