{% extends "layouts/default.html" %}
{% set title = "3 Controversial Pet Food Ingredients Debated by AAFCO - PetsBuddy" %}

{% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">

      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        3 Controversial Pet Food Ingredients Debated by AAFCO
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">08</span>
              <span class="month">April 2019</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div id="carousel-post-1" class="carousel slide mb-20" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog27.jpg" width="100%" alt="">
                  <a href="img/blogs/blog27-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

            </div>
          </div>
          <p>
            Association of American Feed Control Officials (AAFCO) members debated the use of certain pet food
            ingredients in the deliberations of the Ingredient Definitions Committee during a meeting in January.
            <strong>David Dzanis, DVM, PhD</strong>, reported the committee’s decisions in his Petfood Industry column
            "AAFCO discusses use of unacceptable pet food ingredients."
          </p>
          <h4>1. Hemp</h4>
          <p>
            AAFCO issued guidelines that no hemp-based ingredients have yet been defined or otherwise sanctioned for use
            in animal feed. AAFCO members based their decision on the US Food and Drug Administration’s position. Hence,
            any inclusion of hemp-based ingredients in pet food would be objectionable to state feed control officials.
          </p>
          <p>
            FDA has posted a Q&A paper regarding the use of marijuana-based products for both people and pets. With
            regard to its use in food, FDA's position is that cannabidiol (CBD, the non-psychoactive component of hemp
            associated with purported health benefits) is an unapproved drug, hence any pet food containing CBD would be
            actionable as an adulterated product.
          </p>
          <h4>2. Human food</h4>
          <p>
            Blueberries, spinach and other plant products have a long culinary history, which makes them suitable human
            and pet food ingredients, according to AAFCO. However, officials have decided that an extract, fraction or
            pomace derived from those ingredients may be materially different in composition, hence is no longer the
            same ingredient, Dzanis said.
          </p>
          <p>
            To allow for use of these plant-based pet food ingredients, new AAFCO definitions for each ingredient must
            be established. For example, AAFCO defined "(fruit) pomace" (AAFCO #60.112) to allow use of this by-product
            from human-edible fruit juice production. However, the only fruits allowed today under AAFCO definitions are
            apples and tomatoes. New definition petitions for other fruit and vegetable pomaces, such as those from
            pears, pomegranates or cranberries, must be submitted, or the pet food ingredients will remain objectionable
            to state feed control officials.
          </p>
          <h4>3. Insects</h4>
          <p>
            Officials decided that new AAFCO definitions would be needed for each insect and type of insect-based
            ingredient, such as flour, meal or protein concentrate. Additionally, the definitions would need to consider
            the species to which the insect-based ingredient would be fed. To date, only one insect, black solder fly
            larvae (AAFCO #T60.117) has been defined by AAFCO, and that is limited to use in salmonid feeds.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">AAFCO</a>
          </div>
          <div class="link pull-right">
            <ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a target="_blank" href="https://www.facebook.com/AustraliaPetIndustryGroup/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->

    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}