{% extends "layouts/default.html" %} {% set title = "Core Species of Dog, Cat
Gut Microbiome Identified - PetsBuddy" %} {% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">
      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        Core Species of Dog, Cat Gut Microbiome Identified
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">25</span>
              <span class="month">Nul 2020</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div
            id="carousel-post-1"
            class="carousel slide mb-20"
            data-ride="carousel"
          >
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog58.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog58-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <p>
            A wide array of microbes dwell in the crevices of dogs’ and cats’
            intestines, forming complex communities called the microbiome.
          </p>
          <p>
            A wide array of microbes dwell in the crevices of dogs’ and cats’
            intestines, forming complex communities called the microbiome. When
            it’s working well, the pet microbiome helps with digestion and
            influences a wide array of seemingly unrelated aspects of pet
            health. When it isn’t, dogs and cats may suffer inflammatory bowel
            diseases, inefficient digestion or other problems.
          </p>
          <p>
            To understand what makes up a healthy pet gut microbiome,
            <strong style="text-decoration: underline;"
              >researchers with AnimalBiome</strong
            >
            analyzed stool samples from more than 4,000 dogs and cats over five
            years. In their analysis of thousands of samples, the researchers
            identified certain bacterial groups that made up a core healthy dog
            or cat gut microbiome. In dogs, 15 genera made up the core, while
            healthy cat guts hosted 17.
            <strong style="text-decoration: underline;">AnimalBiome</strong>
            presented the results of the five-year research project at the ACVIM
            Forum 2020 in June.
          </p>
          <p>
            Of the dog microbiome core group, varieties of Blautia, Bacteroides,
            Fusobacterium, and Sutterella were the most frequent. Healthy cat
            microbiomes held many of the same bacteria groups, along with
            others, including Blautia, Bacteroides, Collinsella, Sutterella and
            Lachnoclostridium.
          </p>
          <h4>Digestive health in dogs and cats</h4>
          <p>
            Like awareness of other aspects of nutrition, the importance of the
            microbial community living inside pet’s intestines and other organs
            has grown in both the human and pet food worlds. However, the
            complexity of the microbiome, not to mention its location, makes it
            difficult to observe and understand.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">AnimalBiome</a>
          </div>
          <div class="link pull-right">
            <ul
              class="social-links circle small colored clearfix margin-clear text-right animated-effect-1"
            >
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a
                  target="_blank"
                  href="https://www.facebook.com/AustraliaPetIndustryGroup/"
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->
    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}
