{% extends "layouts/default.html" %}
{% set title = "Pet Food a Casualty of The US-China Trade and Tariff War - PetsBuddy" %}

{% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">

      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        Pet Food a Casualty of The US-China Trade and Tariff War
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">22</span>
              <span class="month">Feb 2019</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div id="carousel-post-1" class="carousel slide mb-20" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog24.jpg" width="100%" alt="">
                  <a href="img/blogs/blog24-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

            </div>
          </div>
          <p>
            Pet food plays an important role in the global economy – which means it’s also subject to overall economic
            factors, including those happening in international trade. Nowhere is this more evident than in the trade
            and tariff war between the U.S. and China that’s been raging, and escalating, since July 2018. The ongoing
            conflict, recently ratcheted up to even higher levels, is affecting pet food in terms of both exports and
            imports.
          </p>
          <h4>Higher tariffs on pet food exports to China</h4>
          <p>
            Once the U.S. government issued new or increased tariffs against China in 2018, China soon retaliated, which
            put a significant hit on U.S. pet food exports to China. The tariff jumped from 4% to 29%, said Gina
            Tumbarello, director of international policy and trade for the American Feed Industry Association (AFIA).
          </p>
          <h4>Tariff wars also affecting pet food ingredients, packaging</h4>
          <p>
            It’s not just pet food companies feeling the pain of increased tariffs by China. According to AFIA, they’re
            also affecting ingredient suppliers trying to establish or maintain their businesses in China. “U.S.
            fishmeal to China, for example, will go from 10% to 25%, putting the new effective tariff rate at a whopping
            45%,” said an article posted on AFIA’s website soon after the most recent escalation in the trade war.
            “Animal protein meals will go from 5% to 10%, putting the new effective tariff rate at 15%.”
          </p>
          <p>
            But wait, there’s more, with additional challenges coming back the other way. The U.S. government’s latest
            round of tariffs covers nearly all remaining products and goods coming from China, including the vitamins
            used in pet food, said AFIA.
          </p>
          <p>
            At least a U.S. tariff on another raw material important to pet food – the steel and aluminum cans used for
            packaging wet pet food – has been lifted from key sources such as Canada and Mexico. While the U.S. does
            import steel from China.
          </p>
          <h4>Troubling outlook for pet food</h4>
          <p>
            The near-term outlook on this situation is not pretty. “If the U.S. indeed moves forward with imposing
            additional tariffs on imports from China on the remaining tariff lines, the U.S. feed industry stands to be
            severely affected,” said AFIA, including pet food in this assessment. “Increasing the cost of inputs in a
            feed ration to feed America’s extremely large livestock, poultry and pet food industries means an increase
            in the costs of those end products (e.g., meat, milk, eggs and pet food) for consumers.”
          </p>
          <p>
            And, on the flip side, U.S. pet food producers continue to struggle to access one of the most promising and
            dynamic markets of pet owners in the world. “The Chinese market has so much potential,” said Tabor of PFI.
            “The Chinese middle class is larger than the entire U.S. population and pet ownership is growing.”
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">US-China Trade</a>
            <i class="icon-tags"></i>
            <a href="#">Tariff War</a>
          </div>
          <div class="link pull-right">
            <ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a target="_blank" href="https://www.facebook.com/AustraliaPetIndustryGroup/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->

    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}