{% extends "layouts/default.html" %}
{% set title = "Why Newer Pet Food Formats Like Freeze Dried are Rising - PetsBuddy" %}

{% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">

      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        Why Newer Pet Food Formats Like Freeze Dried are Rising
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">02</span>
              <span class="month">May 2019</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div id="carousel-post-1" class="carousel slide mb-20" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog29.jpg" width="100%" alt="">
                  <a href="img/blogs/blog29-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

            </div>
          </div>
          <p>
            With humanization of pets the norm now, human food trends continue to significantly impact pet food product
            development and marketing strategy. That can happen with consumer concerns, too. For example, many consumers
            seek to avoid heavily processed foods and are extending that desire to their pets’ diets.
          </p>
          <p>
            <strong>Bryan Hitchcock senior director of food chain and executive director of the Global Food Traceability
              Center of the Institute of Food Technologists, on the Brain Food blog.</strong> “There are many different
            types of processed food and some can be unhealthy, especially when made with high amounts of sugar, salt or
            fats. But many are healthy and offer a lot of nutritional value as well as greater accessibility to many
            people.”
          </p>
          <p>
            <strong>Hitchcock</strong> was addressing a classification system for “ultra-processed” foods; and while pet
            food doesn’t have the same types of classifications, many of the same issues apply. Pet food nutrition,
            processing and safety are very complex and sophisticated, meaning they’re not easily communicated or
            understood by many consumers.
          </p>
          <p>
            Yet, in terms of further pet food market growth, there may be a silver lining to concerns about traditional
            processing of pet foods (extruded or canned, for the most part). While dry extruded pet food still dominates
            the global market, followed somewhat distantly by wet retort food, newer formats are growing fast, albeit
            from a small base. For example, in U.S. pet specialty,
          </p>
          <h4>Nielsen reported the following for 2018:</h4>
          <p>
            Frozen pet foods accounted for 3.7% of new product launches, US$136 million in sales, 15% growth and a 1.4%
            market share;
          </p>
          <p>
            Freeze-dried full meals had 2.7% of new product launches, 20% sales growth, to US$112 million, and a 1.4%
            share;
          </p>
          <p>
            Dehydrated/air-dried full meals saw an increase in new product launches from 1.8% to 3.3%, plus US$56
            million in sales, representing 23.7% growth and a 0.7% share.
          </p>
          <p>
            Many pet owners care as much about how their pets’ food is made as what’s in it, and that promises to only
            increase. Will it eventually lead to a shake-up in sales and market share of pet food categories?
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Pet Food Formats</a>
            <i class="icon-tags"></i>
            <a href="#">Freeze Dried</a>
          </div>
          <div class="link pull-right">
            <ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a target="_blank" href="https://www.facebook.com/AustraliaPetIndustryGroup/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->

    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}