{% extends "layouts/default.html" %} {% set title = "Plant Oils in Pet Food:
Olive, Soy, Coconut and Sunflower - PetsBuddy" %} {% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">
      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        Plant Oils in Pet Food: Olive, Soy, Coconut and Sunflower
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">07</span>
              <span class="month">Feb 2021</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div
            id="carousel-post-1"
            class="carousel slide mb-20"
            data-ride="carousel"
          >
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog71.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog71-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <h4>Vegetable oils in dog, cat and other pet foods</h4>
          <p>Sunflower oil: flower power in a jug</p>
          <p>
            From a pet food perspective, the palatability of diets containing
            sunflower oil is well liked by dogs, but not as well received by
            cats.
          </p>
          <p>Olive oil: a benefit to pet health, too?</p>

          <p>
            Olive oil, and especially extra virgin olive oil, is all the rage on
            cooking shows and at finer dining establishments these days. It
            seems that good news regarding the benefits of olive oil for our
            health and wellness emerges almost daily. So, it stands to reason
            that people would want to explore this ingredient for use in pet
            diets.
          </p>
          <p>Soybean oil: Food industry staple right for petfood?</p>
          <p>
            Soybean oil plays an infrequent and peripheral role in pet foods.
            This is somewhat surprising given its popularity in human foods and
            its prevalence on grocery store shelves alongside corn and canola
            oil.
          </p>
          <p>Coconut oil: Does it belong in commercial petfood?</p>
          <p>
            Coconut oil has become fashionable with a near cult-like following
            in the human dietary health and supplements aisle. Although it was
            once cast aside as an ingredient that contributed to cardiovascular
            health issues, now it is being touted as a cure for everything from
            obesity to acne. And of course, what becomes popular in the human
            food and supplements aisle often becomes the next new thing in pet
            food.
          </p>
          <p>
            It seems likely that if coconut oil were to become an addition to a
            petfood formula, it would be supplemental at best. This is actually
            the route in which many human health advocates and vegan chefs are
            recommending it now. Also, cost will likely be a significant factor.
            So, in the end, there doesn't seem to be any new information for dog
            and cat nutrition and until we have more viable data, application
            rates should probably not exceed 1% to 2%. Further, any use should
            be validated in cat and/or dog diets to assure they actually handle
            this ingredient without issue.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Plant Oils in Pet Food</a>
          </div>
          <div class="link pull-right">
            <ul
              class="social-links circle small colored clearfix margin-clear text-right animated-effect-1"
            >
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a
                  target="_blank"
                  href="https://www.facebook.com/AustraliaPetIndustryGroup/"
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->
    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}
