{% extends "layouts/default.html" %}
{% set title = "About Us - PetsBuddy" %}

{% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">

      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        The Study on Benefits of Kangaroo Meat
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">22</span>
              <span class="month">Dec 2018</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div id="carousel-post-1" class="carousel slide mb-20" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog3.jpg" alt="">
                </div>
              </div>

            </div>
          </div>
          <p>
            Kangaroo meat is high in protein and low in fat (about 2%). Kangaroo meat has a very high
            concentration of conjugated linoleic
            acid (CLA) when compared with other foods. CLA has been attributed with a wide range of health
            benefits
            including anti-carcinogenic and anti-diabetes properties, in addition to reducing obesity and
            atherosclerosis.
          </p>
          <p>
            While Kangaroo meat has enjoyed popularity for its organic nature, little information has been
            available about its nutrition
            benefits besides articles dedicated to the value of CLA's. While basic nutritional data (total
            protein,
            fats etc) are published worldwide, little research has been provided about the nature of the kangaroo
            protein
            and its composite amino acid profile.
          </p>
          <p>
            Of the 22 amino acids within protein, ten are vital to human and animal well-being because they can't
            be manufactured in
            the body. These are so-called essential amino acids. Essential Amino acids have been calculated for
            dried
            Kangaroo muscle meat and compared to various other farmed meat sources such as chicken, pork, beef
            and
            lamb. By comparison to these farmed meats, kangaroo meat is higher in threonine, isoleucine and
            valine
            and lower in arginine and methionine-cystine amino acids.
          </p>
          <p>
            The meat is also processed into pets food. The small kangaroo farming community is a more
            environmentally friendly meat industry
            than sheep or cattle farming since kangaroos require no processed feed, are well-adapted to drought,
            and
            do not destroy the root systems of native grasses.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Milk Products</a>
          </div>
          <div class="link pull-right">
            <ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a target="_blank" href="https://www.facebook.com/AustraliaPetIndustryGroup/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->

    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

<script>
  // Magnific popup
		//-----------------------------------------------
		if (($(".popup-img").length > 0) || ($(".popup-iframe").length > 0) || ($(".popup-img-single").length > 0)) {
			$(".popup-img").magnificPopup({
				type:"image",
				gallery: {
					enabled: true,
				}
			});
			$(".popup-img-single").magnificPopup({
				type:"image",
				gallery: {
					enabled: false,
				}
			});
			$('.popup-iframe').magnificPopup({
				disableOn: 700,
				type: 'iframe',
				preloader: false,
				fixedContentPos: false
			});
		};
</script>

{% endblock %}