{% extends "layouts/default.html" %} {% set title = "Internet Key to Pet Food Industry Changes Post-Pandemic - PetsBuddy" %} {% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">
      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        Internet Key to Pet Food Industry Changes Post-Pandemic
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">22</span>
              <span class="month">Mar 2020</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div id="carousel-post-1" class="carousel slide mb-20" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog50.jpg" width="100%" alt="" />
                  <a href="img/blogs/blog50-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <h4>
            Two long-term changes to the pet food industry caused by the COVID-19 pandemic will depend on the internet.
          </h4>
          <p>
            Two long-term changes to the pet food industry caused by the COVID-19 pandemic will depend on the internet.
            Many pet food industry professionals suddenly found themselves working from home as factories and offices
            worldwide reduced their staff to a minimum. This sudden work force metamorphosis may result in long-term
            changes to dog, cat and other pet food makers’ labour practices. Nearly 43% of respondents to a <strong
              style="text-decoration: underline;">Petfood
              Industry</strong> poll reported that their employers may revisit investments in virtual and remote work
            and related
            technology for non-manufacturing personnel after the end of movement restrictions related to the pandemic.
            More than 14% may revisit investments in increased automation, the internet of things or similar systems in
            manufacturing and warehouse facilities.
          </p>
          <h4>Online pet food retail trend after pandemic</h4>
          <p>
            Along with that, pet owners may make more purchases online. In a March report, <strong
              style="text-decoration: underline;">Packaged Facts</strong> analysts
            estimated that pet product e-commerce, including internet sales by store-based retailers, will increase 10%
            to reach US$13.5 billion in 2020. The COVID-19 pandemic contributed to that projection. Pet food owners may
            have stocked up at brick-and-mortar stores before going into lockdown, but may increasingly make future
            purchases online.
          </p>
          <p>
            “A lot of pet specialty retailers are offering curb-side pickup allowing for 'contact less' pickup,” said
            <strong style="text-decoration: underline;">Maria Lange, vice president of strategic verticals pet and
              cannabis for Nielsen</strong>, “but people may still be
            more comfortable ordering online, if delivery times are reliable, and having it delivered to their doorstep
            versus getting out the house. So, we may see a shift of some pet food dollars from brick and mortar to
            online as we move into Q3 2020 and into Q4.”
          </p>
          <p>
            <strong style="text-decoration: underline;">Petfood Industry</strong> survey responses suggest that many pet
            food brands have plans to capitalize on that trend
            towards online retail. Thirty-one percent of respondents’ companies may increase future investments in
            e-commerce sales and fulfillment through online retailers. Additionally 20% of participants’ companies may
            revisit the use of direct-to-consumer online sales or subscriptions and home delivery as a result of
            COVID-19.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Internet Key to Pet Food Industry</a>
          </div>
          <div class="link pull-right">
            <ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a target="_blank" href="https://www.facebook.com/AustraliaPetIndustryGroup/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->
    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}