{% extends "layouts/default.html" %}
{% set title = "5 Tips for Dog, Cat Gut Health via Pet Food Ingredients - PetsBuddy" %}

{% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">

      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        5 Tips for Dog, Cat Gut Health via Pet Food Ingredients
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">19</span>
              <span class="month">May 2019</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div id="carousel-post-1" class="carousel slide mb-20" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog30.jpg" width="100%" alt="">
                  <a href="img/blogs/blog30-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <h4>1. Hypoallergenic diets for identifying pet gut problems</h4>
          <p>
            Hypoallergenic diets become particularly beneficial when used as elimination diets for pets with gut health
            problems.
          </p>
          <p>When to consider a hypoallergenic pet food:</p>
          <ul>
            <li> when a pet appears to be allergic to multiple ingredients</li>
            <li>when an otherwise complicated dietary history makes it difficult to identify a novel protein</li>
            <li> when a patient has severe IBD</li>
          </ul>
          <h4>2. Fiber types in digestive health pet foods</h4>
          <p>
            Soluble fibers may help reduce symptoms of some gastrointestinal diseases. In general, the use of soluble,
            or fermentable, fiber in preference to insoluble, non-fermentable fiber.
          </p>
          <h4>3. Beta-glucans in dog food ingredients</h4>
          <p>
            Beta-glucans are water-soluble plant fibers made up of chains of up to 2,000 units of the simple sugar
            glucose.
          </p>
          <p>
            Among pet food ingredients, corn, rice, barley, wheat and oat contain beta-glucans, as does baker's yeast.
            Purified bet-glucans from yeast or oyster mushrooms enhanced immune responses in dogs in experiments.
          </p>
          <h4>4. Fat and vitamin considerations in pet gut health</h4>
          <p>
            Too much fat in the diet can delay gastric emptying in dogs. High-fat dog foods may contribute to diarrhea.
            Pet food formulators need to pay close attention to vitamin levels in gut health diets. Gastrointestinal
            diseases can cause the loss of water-soluble vitamins in diarrhea. Similarly, fat-soluble vitamins can be
            lost in overly fatty feces, a condition known as steatorrhea.
          </p>
          <h4>5. Probiotics for pet food from marine algae</h4>
          <p>
            Probiotics may help dogs and cats with inflammatory bowel disease and should be studied further, according
            to Meallet.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Dog, Cat Gut Health</a>
          </div>
          <div class="link pull-right">
            <ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a target="_blank" href="https://www.facebook.com/AustraliaPetIndustryGroup/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->

    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}