{% extends "layouts/default.html" %} {% set title = "Combination Feeding a Popular Option for Pet Parents - PetsBuddy" %} {% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">
      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        Combination Feeding a Popular Option for Pet Parents
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">9</span>
              <span class="month">Feb 2020</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div id="carousel-post-1" class="carousel slide mb-20" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog47.jpg" width="100%" alt="" />
                  <a href="img/blogs/blog47-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <h4>
            More pet food companies are providing everything from complementary products to specific advice on how to
            combine wet and dry food in pet diets.
          </h4>
          <p>
            More and more pet parents want to be actively involved in their pets’ meals. They’ve moved far beyond
            scooping dry kibbles into a bowl twice a day to the concept of “combination” or “mixed” feeding, where
            different types of pet food (dry and wet, gravies and toppers, solids and liquids) are incorporated to
            provide a complete diet for a dog or cat.
          </p>
          <p>
            “Wet with dry combination feeding is growing in popularity because it offers the combined nutrition benefits
            of both wet and dry food recipes while also adding variety, enhancing palatability and making meal time
            exciting,” said <strong style="text-decoration: underline;">Natalie Asaro, nutrition scientist for
              Petcurean</strong>.
          </p>
          <h4>Catering to the idea of combination feeding</h4>
          <p>
            Pet food companies are listening to their customers, and the space is evolving to accommodate a new normal
            for feeding time. Some companies are creating lines that complement one another and are at their best when
            fed in a combined form.
          </p>
          <h4>Guiding pet owners in their decision to combination feed</h4>
          <p>
            Arguably, one of the most significant challenges in meeting this trend is doing so in a way that will
            maintain the nutritionally balanced diets pets need to stay happy and healthy. To that end, pet food
            companies have gone all in on consumer education, providing multiple ways to get the knowledge of how to
            properly combination feed across to pet owners.
          </p>
          <p>
            Some companies offer plenty of information on their website, providing guidance on the benefits of wet and
            dry food both separately and together, benefits of mixed feeding and a guide on how to transition to mixed
            feeding.
          </p>
          <h4>The future of the combination feeding trend</h4>
          <p>
            As with most trends in the pet food industry, those involved expect combination feeding to become
            increasingly nuanced as it grows in popularity. It’s not the newest trend out there, but it will evolve.
          </p>
          <p>
            Some pet food companies plan to continue expanding to meet the trend, providing more offerings to pet
            parents looking for variety in their pets’ diets.
          </p>
          <p>
            “As more and more humans consider their pets to be full members of the family, it is likely that combination
            feeding will continue to grow in popularity,” said <strong
              style="text-decoration: underline;">Asaro</strong>. “This is because it is a great way to ensure pets
            are getting the added benefits of both wet and dry food recipes together, such as promoting good hydration
            and supporting oral health. Combination feeding is also a great way to make mealtime interesting, by
            offering different textures and formats to promote palatability and respond to changing pet preferences over
            time.”
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Feeding a Popular Option</a>
          </div>
          <div class="link pull-right">
            <ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a target="_blank" href="https://www.facebook.com/AustraliaPetIndustryGroup/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->
    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}