{% extends "layouts/default.html" %} {% set title = "Cat People vs. Dog People: The Battle Continues - PetsBuddy" %} {% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">
      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        Cat People vs. Dog People: The Battle Continues
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">5</span>
              <span class="month">Dec 2019</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div id="carousel-post-1" class="carousel slide mb-20" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog43.jpg" width="100%" alt="" />
                  <a href="img/blogs/blog43-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <p>
            General Social Survey (GSS) released the second half of its 2018 survey results, which included pet
            ownership data.
          </p>
          <h4>Dog owners soak up the sun in the south, cat owners chill up north</h4>
          <p>
            Unsurprisingly, the survey found that dog owners were more likely to live in the southern half of the
            U.S., while cat owners were more likely to be found in the northern half. The Pacific Northwest and New
            England in particular showed higher concentrations of cat owners than anywhere else — to the tune of a pet
            owner being 30–40% more likely to have a cat than a dog in these areas. Why? Weather, most likely. Dogs
            need exercise and walks and all the things pet owners don’t want to do at 6 a.m. in knee-deep snow or
            below-freezing wind chills. Cats, however, are mostly content to stay inside, making them an easier choice
            for pet lovers in cooler climates.
          </p>
          <h4>More money, more dogs</h4>
          <p>
            Having both a dog and cats, I can personally attest to the fact that dogs are, in general, the more
            expensive of the two. Their vet visits cost more (and tend to be more frequent), they need more food
            (especially the big ones) and their general upkeep is higher. It’s no surprise, then, that according to
            the survey, dog owners tend to make more than cat owners — or, at least, those in the higher income
            brackets are more likely to own dogs, while those in the lower brackets are more likely to own cats. In
            fact, cat owners edge out dog owners in every income bracket up to US$100,000. After that, dog owners
            consistently overtake cat owners.
          </p>
          <p>
            Of course, more pet owners in general sit in the higher income brackets, as owning a pet is a luxury in
            terms of being able to devote the proper amount of time and resources (monetary and otherwise) to an
            animal. According to the data, 18.6% of dog owners and 18.7% of cat owners earn US$75,000–$99,999, and
            another 19.1% of dog owners and 18.6% of cat owners make US$100,000–$149,999.
          </p>
          <h4>
            Briefly: More fun facts about dog and cat owners
          </h4>
          <ul>
            <li>Even though dog owners tend to sit in the higher income brackets, cat owners tend to have better
              credit scores. Make of that what you will!</li>
            <li>14.75% of cat owners and 14.14% of dog owners are homemakers. 10.92% of cat owners and 11.19% of dog
              owners are craftspeople/blue collar workers.</li>
            <li>The vast majority of cat and dog owners (91.90% and 91.46%, respectively) are book readers. And more
              than 94% of each say they’re travellers. </li>
          </ul>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">The Battle Continues</a>
          </div>
          <div class="link pull-right">
            <ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a target="_blank" href="https://www.facebook.com/AustraliaPetIndustryGroup/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->
    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}