{% extends "layouts/default.html" %} {% set title = "Hemp CBD Research Aims for Dog, Cat Dosage Data - PetsBuddy" %} {% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">
      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        Hemp CBD Research Aims for Dog, Cat Dosage Data
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">24</span>
              <span class="month">Oct 2019</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div id="carousel-post-1" class="carousel slide mb-20" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog40.jpg" width="100%" alt="" />
                  <a href="img/blogs/blog40-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <p>
            New cannabidiol (CBD) pet products, during the past few years, greatly outpaced publication of
            peer-reviewed studies on how CBD dosage and other variables influence pet health.
          </p>
          <p>
            “To date, <strong>ElleVet’s scientific</strong> team has published two studies with more than five studies
            currently
            underway and several in the pipeline,” <strong>Christian Kjaer, CEO of ElleVet Sciences</strong>, said.
            “Areas we feel need
            most attention include specific formulations of cannabinoids to support specific physiologic processes and
            potential synergy with conventional therapies already being used.”
          </p>
          <p>
            A scientist with ElleVet Sciences collaborated with academic researchers to examine how ingestion of CBD
            influenced dogs’ and cats’ behavior and blood composition over 12 weeks.
          </p>
          <h4>Pet-specific dosage of CBD products</h4>
          <p>
            “As we continue with our studies, we expect to narrow down dosing strategies for specific scenarios, rather
            than a one-size-fits-all dosing scheme as seen with other products,” <strong>Kjaer</strong> said.
          </p>
          <p>
            For example, one milligram per kilogram, twice a day, of <strong>ElleVet’s</strong> cannabinoid formulation
            has proven to be safe and effective for dogs with mobility discomfort, he said. However, every animal has
            its own physiology and may respond differently.
          </p>
          <h4>High dosages of CBD products for pets</h4>
          <p>
            So far, <strong>ElleVet’s scientists</strong> haven’t identified a point where CBD becomes toxic to pets,
            Kjaer said. However, dosing should be reasonable and based on evidence.
          </p>
          <p>
            Kjaer said that pet owners and veterinarians should understand that not all hemp CBD-infused pet products
            are the same. So, one can’t extrapolate results of one study or even dosing for one product to another with
            their varying ingredients.
          </p>
          <p>
            Veterinarians also need to be part of any pet owner’s consideration of including CBD in the diets of dogs,
            cats or other pets, he said.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Aims for Dog</a>
          </div>
          <div class="link pull-right">
            <ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a target="_blank" href="https://www.facebook.com/AustraliaPetIndustryGroup/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->
    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}