{% extends "layouts/default.html" %} {% set title = "CBD Popularity Continues to
Grow in Pet Products - PetsBuddy" %} {% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">
      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        CBD Popularity Continues to Grow in Pet Products
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">29</span>
              <span class="month">Jul 2021</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div
            id="carousel-post-1"
            class="carousel slide mb-20"
            data-ride="carousel"
          >
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog82.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog82-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <p>
            Cannabidiol (CBD) and hemp are significantly growing trends in the
            pet space; consumers spent US$426 million on pet CBD in 2020 and the
            segment is expected to reach US$629 million in sales by the end of
            2021, according to a
            <strong
              >Brightfield Group report, “Pet CBD Pupdate: Consumer & Channel
              Opportunities in 2021</strong
            >.” The most common uses for these ingredients are functional, with
            calming, stress/anxiety and hip/joint relief at the top of the list.
            The ingredients are usually touted in soft chews or bites, though
            oil is another popular vehicle.
          </p>

          <p>
            <strong
              >The continued gray area of CBD and hemp in pet products</strong
            >
          </p>
          <p>
            The <strong>U.S. Food and Drug Administration (FDA)</strong> has yet
            to legalize either ingredient in animal food or feed. In fact, in
            the agency’s extensive “FDA Regulation of Cannabis and
            Cannabis-Derived Products, Including Cannabidiol (CBD)” section, the
            blunt answer to the question, “Is it legal, in interstate commerce,
            to sell a food (including animal food or feed) to which THC or CBD
            has been added?” is “No.”
          </p>

          <p>A later question asks, “Can hemp be added to animal food?”</p>

          <p>
            “All ingredients in animal food must be the subject of an approved
            food additive petition or generally recognized as safe (GRAS) for
            their intended use in the intended species. If an animal food
            contains an ingredient that is not the subject of an approved food
            additive petition or GRAS for its intended use in the intended
            species, that animal food would be adulterated under section
            402(a)(2)(C)(i) of the FD&C Act [21 U.S.C. § 342(a)(2)(C)(i)]. In
            coordination with state feed control officials, CVM also recognizes
            ingredients listed in
            <strong
              >the Official Publication (OP) of the Association of American Feed
              Control Officials (AAFCO)</strong
            >
            as being acceptable for use in animal food. At this time, there are
            no approved food additive petitions or ingredient definitions listed
            in the AAFCO OP for any substances derived from hemp, and we are
            unaware of any GRAS conclusions regarding the use of any substances
            derived from hemp in animal food.”
          </p>

          <p>
            But while the FDA has sent out cease and desist letters to some
            companies in noncompliance, they clearly have not been able to keep
            up, because the CBD market is booming in pet and it’s difficult to
            imagine the industry walking back an entire growth segment.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">CBD</a>
          </div>
          <div class="link pull-right">
            <ul
              class="social-links circle small colored clearfix margin-clear text-right animated-effect-1"
            >
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a
                  target="_blank"
                  href="https://www.facebook.com/AustraliaPetIndustryGroup/"
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->
    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}
