{% extends "layouts/default.html" %}
{% set title = "Taurine Supplementation may Reduce The Risk of Dogs Developing Dilated Cardiomyopathy - PetsBuddy" %}

{% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">

      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        Taurine Supplementation may Reduce The Risk of Dogs Developing Dilated Cardiomyopathy
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">14</span>
              <span class="month">July 2019</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div id="carousel-post-1" class="carousel slide mb-20" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog34.jpg" width="100%" alt="">
                  <a href="img/blogs/blog34-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <p>
            Dilated cardiomyopathy (DCM) is indeed a complex question, and scientists have few solid explanations.
          </p>
          <p>U.S. Food and Drug Administration agents have recorded 290 cases of DCM in dogs in the country as of
            November 11, 2018. Although grain-free dog diets correlated to these DCM reports, many more dogs who ate the
            same foods for years never suffered any ill effects. Why do thousands of dogs with similar breeds and
            lifestyles have no heart problems on grain-free diets heavy in legumes or potatoes, while their conspecifics
            suffer heart problems? We had no more answer to that question than the federal government does.</p>
          <p>
            Similarly, researchers don’t know why the cases of DCM started appearing in the past few years, although the
            grain-free trend is a decade old.
          </p>
          <p>
            Taurine supplementation of dog food to avoid DCM
          </p>
          <p>
            Despite the confusion, at least there’s a straightforward, if stopgap, solution. Taurine supplementation may
            reduce the risk of dogs developing DCM. A similar strategy keeps DCM at bay in cats. Cats can’t synthesize
            their own taurine, so cat food has to provide it, just as prey used to for the felines. Scientists thought
            dogs were capable of synthesizing taurine, although a few breeds such as Golden Retrievers are prone to DCM.
            Now, no one is 100% sure why some dogs seem to have problems with the metabolic pathway involving taurine,
            or if that is even the actual case.
          </p>
          <p>
            While scientists struggle to understand the biology of it all, grain-free pet food formulations may benefit
            from a taurine boost as a cover-your-tail measure.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Reduce The Risk of Dogs Developing Dilated Cardiomyopathy</a>
          </div>
          <div class="link pull-right">
            <ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a target="_blank" href="https://www.facebook.com/AustraliaPetIndustryGroup/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->

    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}