{% extends "layouts/default.html" %}
{% set title = "Crude Fiber Guarantees: Are They on Their Way Out? - PetsBuddy" %}

{% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">

      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        Crude Fiber Guarantees: Are They on Their Way Out?
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">07</span>
              <span class="month">June 2019</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div id="carousel-post-1" class="carousel slide mb-20" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog31.jpg" width="100%" alt="">
                  <a href="img/blogs/blog31-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

            </div>
          </div>
          <p>
            A maximum percentage guarantee for crude fiber has been an integral part of the animal feed label for perhaps the past 100 years. A quantitative declaration of this historically "non-nutritive" component of a feed was deemed necessary to help the purchaser assess the feed's quality and value. However, animal nutritionists have argued that analysis for crude fiber was a poor indicator of true nutritive value and advocated for other means of evaluation of fiber content for a long time.
          </p>
          <h4>Why is crude fiber still analyzed and declared?</h4>
          <p>
            If it wasn't mandated by regulation, I doubt many pet food nutritionists today would care to bother analyzing for, much less declare, crude fiber content on the label. Yet, crude fiber was chosen as the labeling standard because at least at the time the regulations were promulgated, that was the most popular means of fiber measurement.
          </p>
          <h4>Why not stop declaring crude fiber?</h4>
          <p>
            One argument against moving away from crude fiber guarantees is that it would require amendment of many of the state animal feed laws. Unlike changes to regulations, which are typically accomplished within the agency, modifications to the laws themselves require legislative action (admittedly, a much more complicated, resource-intense and unpredictable process).
          </p>
          <p>
            Another concern is that if the method of fiber analysis is changed, what happens to the calorie content statement? Presently, except for when calorie content is determined via digestibility feeding trials, calories must be calculated by use of the "modified Atwater" formula, of which the value for crude fiber is part. The values for fiber will be different depending on method, so manufactures would then have to determine crude fiber as well as total dietary fiber content (hence doubling the number of analyses) in order to comply with labeling requirements.
          </p>
          <p>
            What is needed is a new formula that incorporates total dietary fiber values and has been validated to accurately predict calorie content in pet foods.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Crude Fiber Guarantees</a>
          </div>
          <div class="link pull-right">
            <ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a target="_blank" href="https://www.facebook.com/AustraliaPetIndustryGroup/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->

    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}