{% extends "layouts/default.html" %}
{% set title = "About Us - PetsBuddy" %}

{% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">

      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        PetsBuddy Pet Food in AusPet 2018 of Gold Coast
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">22</span>
              <span class="month">Dec 2018</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div id="carousel-post-1" class="carousel slide mb-20" data-ride="carousel">

            <ol class="carousel-indicators bottom margin-clear">
              <li data-target="#carousel-post-1" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-post-1" data-slide-to="1"></li>
              <li data-target="#carousel-post-1" data-slide-to="2"></li>
              <li data-target="#carousel-post-1" data-slide-to="3"></li>
              <li data-target="#carousel-post-1" data-slide-to="4"></li>
              <li data-target="#carousel-post-1" data-slide-to="5"></li>
              <li data-target="#carousel-post-1" data-slide-to="6"></li>
              <li data-target="#carousel-post-1" data-slide-to="7"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog17-1.jpg" alt="">
                  <a href="img/blogs/blog17-1-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

              <div class="item">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog17-2.jpg" alt="">
                  <a href="img/blogs/blog17-2-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

              <div class="item">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog17-3.jpg" alt="">
                  <a href="img/blogs/blog17-3-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

              <div class="item">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog17-4.jpg" alt="">
                  <a href="img/blogs/blog17-4-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

              <div class="item">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog17-5.jpg" alt="">
                  <a href="img/blogs/blog17-5-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

              <div class="item">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog17-6.jpg" alt="">
                  <a href="img/blogs/blog17-6-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

              <div class="item">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog17-7.jpg" alt="">
                  <a href="img/blogs/blog17-7-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

              <div class="item">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog17-8.jpg" alt="">
                  <a href="img/blogs/blog17-8-o.jpg" class="popup-img overlay-link">
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>

            </div>
          </div>
          <p>
            We are just back from the AusPet 2018 in Gold Coast. Our proud PetsBuddy Pet Food were loved and fully supported by Australian visitors and customers. These adorable pictures show how popular the PetsBuddy roo and dairy products are.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">AusPet 2018</a>
          </div>
          <div class="link pull-right">
            <ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a target="_blank" href="https://www.facebook.com/AustraliaPetIndustryGroup/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->

    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

<script>
  // Magnific popup
		//-----------------------------------------------
		if (($(".popup-img").length > 0) || ($(".popup-iframe").length > 0) || ($(".popup-img-single").length > 0)) {
			$(".popup-img").magnificPopup({
				type:"image",
				gallery: {
					enabled: true,
				}
			});
			$(".popup-img-single").magnificPopup({
				type:"image",
				gallery: {
					enabled: false,
				}
			});
			$('.popup-iframe').magnificPopup({
				disableOn: 700,
				type: 'iframe',
				preloader: false,
				fixedContentPos: false
			});
		};
</script>

{% endblock %}