{% extends "layouts/default.html" %} {% set title = "How the Global Pet Food
Supply Chain, Retail are Changing - PetsBuddy" %} {% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">
      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        How the Global Pet Food Supply Chain, Retail are Changing
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">12</span>
              <span class="month">Jun 2020</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div
            id="carousel-post-1"
            class="carousel slide mb-20"
            data-ride="carousel"
          >
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog55.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog55-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <p>
            There’s nothing like a pandemic to highlight the globalization of
            the pet food market, along with the overall economy. Various regions
            depend on others for raw materials, finished products and many other
            elements crucial to keeping pet food flowing to all those hungry
            pets around the world; and some markets depend on others to buy
            their raw materials and finished products, keeping business flowing.
          </p>
          <p>
            For example, Western Europe and Asia Pacific import a large amount
            of agricultural materials, including pet food ingredients like
            cereals/grains, meat and animal fats/meals and related products. The
            heavy reliance on such imports puts those regions at some risk.
          </p>
          <h4>Pet food imports and exports affected, too</h4>
          <p>
            Similar to the agricultural import situation, some regions or
            countries, including in those same regions of Western Europe and
            Asia Pacific, are more dependent on finished pet food product
            imports.
          </p>
          <p>
            On the other hand, markets like France, the U.S. and China dominate
            with pet food exports, and that can pose a risk in terms of being
            able to get products into other markets during a pandemic and in
            times of other potential supply chain disruptions, such as during
            trade disputes.
          </p>
          <h4>How e-commerce factors into the global pet food market</h4>
          <p>
            For the more import-reliant markets in Western Europe, pet food
            shortages became an issue during the height of the pandemic, even in
            the surging e-commerce channel. Pet owners ordering their pet food
            online in other markets experienced delays in receiving the orders,
            at least those shipped to their homes from e-commerce retailers like
            Chewy in the U.S., Zooplus in Europe and Amazon globally. Several
            large retailers have experienced triple-digit growth for these types
            of orders。
          </p>
          <h4>New model, hope for smaller pet retailers?</h4>
          <p>
            This new guard also offers an opportunity for pet and other
            brick-and-mortar (BAM) retailers, which were already losing business
            to the e-commerce surge; that has accelerated during the pandemic.
            However, like larger, general retailers, pet stores may see hope on
            the horizon from click and collect as well as home delivery.
          </p>
          <h4>What the future may hold for pet food retail</h4>
          <p>
            For pet food companies, pet specialty retailers are often a key
            ally, particularly for smaller, more specialized brands – making it
            even more important for those retailers to stay in business and
            continue to make sales in multiple channels and ways.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">Global Pet Food Supply Chain</a>
          </div>
          <div class="link pull-right">
            <ul
              class="social-links circle small colored clearfix margin-clear text-right animated-effect-1"
            >
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a
                  target="_blank"
                  href="https://www.facebook.com/AustraliaPetIndustryGroup/"
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->
    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}
