{% extends "layouts/default.html" %} {% set title = "4 Aspects of Dog, Cat Food
Protein Sustainability - PetsBuddy" %} {% block content %}

<div class="container blogs">
  <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-8">
      <!-- page-title start -->
      <!-- ================ -->
      <h3 class="page-title">
        4 Aspects of Dog, Cat Food Protein Sustainability
      </h3>
      <!-- page-title end -->

      <!-- blogpost start -->
      <!-- ================ -->
      <article class="blogpost full">
        <header>
          <div class="post-info">
            <span class="post-date">
              <i class="icon-calendar"></i>
              <span class="day">12</span>
              <span class="month">Dec 2020</span>
            </span>
            <span class="comments">
              <i class="icon-chat"></i>
              <a href="#">0 comments</a>
            </span>
          </div>
        </header>
        <div class="blogpost-content">
          <div
            id="carousel-post-1"
            class="carousel slide mb-20"
            data-ride="carousel"
          >
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="overlay-container overlay-visible">
                  <img src="img/blogs/blog67.jpg" width="100%" alt="" />
                  <a
                    href="img/blogs/blog67-o.jpg"
                    class="popup-img overlay-link"
                  >
                    <i class="icon-plus-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <p>
            Sustainable dog, cat and other pet food formulators can evaluate any
            protein source’s effects on human communities, livestock and the
            environment using a four-part framework developed by the
            <strong
              >Pet Sustainability Coalition. Caitlyn Dudas, co-founder and
              executive director of the organization</strong
            >, explained why protein sources were a main target of her group’s
            work, during her presentation at Petfood Forum CONNECT.
          </p>
          <p>
            <strong
              >“Proteins have the highest environmental impact compared to other
              ingredient categories,”</strong
            >
            she said.
          </p>
          <p>
            One Coalition member, Germany-based Josera, estimated the carbon
            dioxide output associated with various pet food ingredients.
            Production of animal protein, either lamb or insect, accounted for
            the majority of greenhouse gas pollution, compared to plant-based
            ingredients, vitamins and minerals. <strong>Dudas</strong> pointed
            to other research supporting <strong>Josera’s</strong> conclusions,
            but also noted that the topic was controversial.
          </p>
          <p>
            In response to a question, she noted that pet foods often use
            rendered meals and other meat co-products from the human food
            industry. As a major consumer of rendered products, along with
            muscle tissue, the pet food industry has leverage to demand
            ecological and social responsibility from the cattle, aquaculture
            and other meat industries.
          </p>
          <p>
            Of those meat industries, the poultry industry provides the most
            common protein in pet food.
          </p>
          <p>
            “Chicken is used in 80% of pet foods and therefore is the area of
            focus for us initially.”
          </p>
          <p>Four-part framework for pet food protein evaluation</p>
          <p>
            To evaluate the wider effects on ecosystems and human communities of
            the chicken used in pet food, formulators and new product developers
            can use a four-part framework developed by the <strong>Pet Sustainability
              Coalition</strong>.
          </p>
          <h4>Environmental impact</h4>
          <p>
            Environmental impact measures things like deforestation, greenhouse
            gas emissions, land and water use.
          </p>
          <h4>Social impact</h4>
          <p>
            Social impact gauges human societal sustainability factors like safe
            working conditions, fair labor standards and freedom from forced
            labor or slavery.
          </p>
          <h4>Nutrition</h4>
          <p>
            Nutrition measures include nutritional composition, bioavailability
            and digestibility
          </p>
          <h4>Animal welfare</h4>
          <p>
            Animal welfare includes measured of humane standards of production,
            including health, prevention of pain and distress, and the promotion
            of comfort and natural behavior.
          </p>
          <p>
            Social impact and animal welfare are important to meeting pet food
            consumer expectations, since those pet owners also tend to care
            deeply about animals of all kinds, she said.
          </p>
        </div>
        <footer class="clearfix">
          <div class="tags pull-left">
            <i class="icon-tags"></i>
            <a href="#">4 aspects of dog, cat food protein sustainability</a>
          </div>
          <div class="link pull-right">
            <ul
              class="social-links circle small colored clearfix margin-clear text-right animated-effect-1"
            >
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/AUpetindustry">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="facebook">
                <a
                  target="_blank"
                  href="https://www.facebook.com/AustraliaPetIndustryGroup/"
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </article>
      <!-- blogpost end -->
    </div>
    <!-- main end -->

    {% include './partials/latestblog.html' %}
  </div>
</div>

{% endblock %}
