{% extends "layouts/default.html" %}
{% set title = "Product Authentication - PetsBuddy" %}

{% block content %}

<div
  class="container section section--has-medium-padding section--has-smaller-padding-top-below-desktop"
>
  <div
    class="row grid-space-10 cms-content__title cms-content__title--has-small-margin"
  >
    <div class="row">
      <div class="col-sm-12">
        <div class="team-member image-box style-2 bordered shadow text-center">
          <div class="body">
            <h3 style="margin-top: 30px">
              Where can I find the authentic verification code?
            </h3>
            <p style="font-size: 16px">
              You can find the authentic verification code sticker on the
              product packaging, scratch off the coating, and obtain the
              12-digit authentic verification code.
            </p>
            <p style="color: #777; font-size: 16px">
              Note: You could also scan the authentic verification code with
              your smartphone to get the results.
            </p>
            <div>
              <img src="img/faq-4.jpg" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 30px">
      <div class="col-sm-12">
        <div class="team-member image-box style-2 bordered shadow text-center">
          <div class="body">
            <h3 style="margin-top: 30px">
              Laser anti-counterfeit label identification instructions
            </h3>
            <p style="font-size: 16px">
              Please turn the label at any angle under the light.
            </p>
            <p style="font-size: 16px">
              With different viewing angles, the logo produces corresponding
              360-degree relative and mutual switching.
            </p>
            <div>
              <img src="img/faq-5.jpg" />
              <img src="img/pet.gif" class="pet-gif" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
