{% extends "layouts/default.html" %}
{% set title = "Goatsmilk - PetsBuddy" %}
{% set page = {
  back_url: "products-1.html"
} %}

{% block content %}

<div class="banner banner--has-fixed-height banner--has-dynamic-background-image banner--has-darker-bg"
  style="background-image: url(../img/banner/banner_three.jpg);">
  <div class="banner__back-btn-wrapper">
    <a onclick="javascript:history.go(-1);">
      <div class="banner__back-btn back-btn">
        <img class="back-btn__img" src="img/icon-back-white.png" alt="Back Button">
        <span class="back-btn__text">back</span>
      </div>
    </a>
  </div>

  <div class="banner__container container container--is-smaller grid">
    <div class="banner__left-section grid__col-12 grid__col-sm-6 grid--justify-center grid--align-start">
      <h1
        class="banner__left-section-header header header--is-color-white header--is-biggest text-left text-center-xs-down text-uppercase">
        INFINITI &gt;&gt; BERRIES+
      </h1>

      <div class="banner__sub-main-title grid grid--align-center">
        <h3
          class="header header--is-color-white header--is-sub-section-header header--is-small-xs-down text-uppercase font-weight-extra-light">
          All Life Stages
        </h3>
        <div class="banner__sub-main-title-separator"></div>
        <h3 class="header header--is-color-white header--is-small-size header--is-small-xs-down font-weight-normal">
          All Breeds
        </h3>
      </div>
      <div class="banner__small-text">with deboned salmon</div>
    </div>

    <div class="grid__col-12 grid__col-sm-6 grid--justify-center grid--direction-row">
      <div class="banner__img-wrapper">
        <picture>
          <source media="(min-width: 992px)"
            srcset="../img/detailsbanner/445/Cat-Goatsmilk.png 2x"
            type="image/png">

          <source media="(min-width: 767px)"
            srcset="../img/detailsbanner/350/Cat-Goatsmilk.png 2x"
            type="image/png">

          <source media="(min-width: 0px)"
            srcset="../img/detailsbanner/250/Cat-Goatsmilk.png 2x"
            type="image/png">

          <img class="banner__img"
            src="../img/detailsbanner/445/Cat-Goatsmilk.png"
            alt="Product Image"
            width="445"
            >
        </picture>
      </div>
    </div>
  </div>
</div>


<section class="section section--has-smaller-padding-bottom section--has-smaller-padding-top-below-desktop">
    <div class="container container--has-padding-mobile">
      <div class="grid">
        <div class="grid_row">
          <div class="main col-md-12">
              <h1 class="page-title">Taurine Enriched Formula for Cat 300g</h1>
              <div class="separator-2"></div>
              <div class="grid_row col-md-12">
                  <h2>Description</h2>
                  <p>A kind of nutritionally balanced dairy supplement for cats of all breeds. As our unique Taurine Enriched Formula closely resembles cat milk, which formulated to match the average composition of cat’s milk, with added vitamins, minerals and essential fatty acids (Omega-3 and 6). It is perfect to feed orphaned kittens or when the mother’s milk is limited. We also add high levels of the sulphonic acid taurine with only moderate amounts of fat and carbonhydrate to aid in prevention of blindness, hair loss, tooth decay and heart failure.</p>
                  <hr class="mb-10">
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="pv-30 light-gray-bg">
    <div class="container">
      <div class="grid_row">
        <div class="col-md-8">
          <h4 class="space-top">Specifications</h4>
          <hr>
          <dl class="dl-horizontal">
              <dt>Weight</dt>
              <dd>300g</dd>
              <dt>Ingredients</dt>
              <dd>Whole goat milk solids, vegetable oils, casein, whey protein isolate, lecithin, L-arginine, omega-3 & 6 fatty acids,
                taurine.</dd>
              <dt>Vitamins</dt>
              <dd>Vitamins A, B1, B2, B3, B5, B6, B12, C, D3, E, K1, folic acid, biotin.</dd>
              <dt>Minerals</dt>
              <dd>Calcium, sodium, magnesium, zinc, iron, manganese, iodine, selenium, potassium. </dd>
              <dt>Storage</dt>
              <dd>Mixed formula milk can be stored in the fridge for a day or frozen for up to one week. Once opened, the rest powder
                must be refrigerated for up to 3 months, or can be frozen for up to 6 months to preserve freshness. </dd>
              <dt>Feeding Guide</dt>
              <dd>
                <table class="row table">
                  <tr>
                    <td></td>
                    <td>Cooled boiled water</td>
                    <td>Level scoops of powder</td>
                    <td>Number of feeds per day</td>
                  </tr>
                  <tr>
                    <td>Adult cats</td>
                    <td>60-90ml</td>
                    <td>2-3</td>
                    <td>1-2</td>
                  </tr>
                  <tr>
                    <td>Over 5 weeks kittens</td>
                    <td>60ml</td>
                    <td>2</td>
                    <td>2-3</td>
                  </tr>
                  <tr>
                    <td>Pregnant or lactating cats</td>
                    <td>60-90ml</td>
                    <td>2-3</td>
                    <td>4-5</td>
                  </tr>
                  <tr>
                    <td colspan="4">
                      <br/> Note:
                      <br/> 1 scoop ≈ 5g of powder
                      <br/> 1 scoop of powder added to 30ml of water yields approximately 33ml of formula milk.
                      <br/>
                      <br/>*PetsBuddy® Goatsmilk cannot be a substitute for solid food.
                      <br/>**Counsult your veterinarian for additional advice
                    </td>
                  </tr>
                </table>
              </dd>
            </dl>
            <hr>
        </div>
        <div class="col-md-4 col-lg-3 col-lg-offset-1">
          <div class="sidebars">
            <div class="block clearfix">
                <h3 class="title">Categories</h3>
                <div class="separator-2"></div>
                <nav>
                    <ul class="nav nav-pills nav-stacked list-style-icons">
                      <li>
                        <a href="products-goatsMilk.html">
                          <i class="fa fa-caret-right pr-10"></i>GoatsMilk</a>
                      </li>
                      <li>
                        <a href="products-treats.html">
                          <i class="fa fa-caret-right pr-10"></i>Roo Treats</a>
                      </li>
                    </ul>
                </nav>
            </div>
            <div class="block clearfix">
                <h3 class="title">Related Products</h3>
                <div class="separator-2"></div>
                <div class="media margin-clear">
                    <div class="media-left">
                      <div class="overlay-container">
                        <img class="media-object" src="../img/details-list/Cat-Goatsmilk.png" alt="blog-thumb">
                        <a href="product-3.html" class="overlay-link small">
                          <i class="fa fa-link"></i>
                        </a>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading">
                        <a href="product-3.html">GoatsMilk for Cat</a>
                      </h6>
                      <p class="margin-clear">
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                      </p>
                      <p class="price">GoatsMilk</p>
                    </div>
                    <hr>
                  </div>
                  <div class="media margin-clear">
                    <div class="media-left">
                      <div class="overlay-container">
                        <img class="media-object" src="../img/details-list/Dog-Goatsmilk.png" alt="blog-thumb">
                        <a href="product-1.html" class="overlay-link small">
                          <i class="fa fa-link"></i>
                        </a>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading">
                        <a href="product-1.html">GoatsMilk for Dog</a>
                      </h6>
                      <p class="margin-clear">
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                      </p>
                      <p class="price">GoatsMilk</p>
                    </div>
                    <hr>
                  </div>
                  <div class="media margin-clear">
                    <div class="media-left">
                      <div class="overlay-container">
                        <img class="media-object" src="../img/details-list/Puppy-Replacement.png" alt="blog-thumb">
                        <a href="product-2.html" class="overlay-link small">
                          <i class="fa fa-link"></i>
                        </a>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading">
                        <a href="product-2.html">Puppy Replacement</a>
                      </h6>
                      <p class="margin-clear">
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                      </p>
                      <p class="price">Replacement</p>
                    </div>
                    <hr>
                  </div>
                  <div class="media margin-clear">
                    <div class="media-left">
                      <div class="overlay-container">
                        <img class="media-object" src="../img/details-list/Kitten-Replacement.png" alt="blog-thumb">
                        <a href="product-4.html" class="overlay-link small">
                          <i class="fa fa-link"></i>
                        </a>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading">
                        <a href="product-4.html">Kitten Replacement</a>
                      </h6>
                      <p class="margin-clear">
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                      </p>
                      <p class="price">Replacement</p>
                    </div>
                    <hr>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}