{% extends "layouts/default.html" %}
{% set title = "Goatsmilk - PetsBuddy" %}
{% set page = {
  back_url: "products-1.html"
} %}

{% block content %}

<div class="banner banner--has-fixed-height banner--has-dynamic-background-image banner--has-darker-bg"
  style="background-image: url(../img/banner/banner_six.jpg);">
  <div class="banner__back-btn-wrapper">
    <a onclick="javascript:history.go(-1);">
      <div class="banner__back-btn back-btn">
        <img class="back-btn__img" src="img/icon-back-white.png" alt="Back Button">
        <span class="back-btn__text">back</span>
      </div>
    </a>
  </div>

  <div class="banner__container container container--is-smaller grid">
    <div class="banner__left-section grid__col-12 grid__col-sm-6 grid--justify-center grid--align-start">
      <h1
        class="banner__left-section-header header header--is-color-white header--is-biggest text-left text-center-xs-down text-uppercase">
        INFINITI &gt;&gt; BERRIES+
      </h1>

      <div class="banner__sub-main-title grid grid--align-center">
        <h3
          class="header header--is-color-white header--is-sub-section-header header--is-small-xs-down text-uppercase font-weight-extra-light">
          All Life Stages
        </h3>
        <div class="banner__sub-main-title-separator"></div>
        <h3 class="header header--is-color-white header--is-small-size header--is-small-xs-down font-weight-normal">
          All Breeds
        </h3>
      </div>
      <div class="banner__small-text">with deboned salmon</div>
    </div>

    <div class="grid__col-12 grid__col-sm-6 grid--justify-center grid--direction-row">
      <div class="banner__img-wrapper">
        <picture>
          <source media="(min-width: 992px)"
            srcset="../img/detailsbanner/445/Freeze-Dried-Lung&Liver.png 2x"
            type="image/png">

          <source media="(min-width: 767px)"
            srcset="../img/detailsbanner/350/Freeze-Dried-Lung&Liver.png 2x"
            type="image/png">

          <source media="(min-width: 0px)"
            srcset="../img/detailsbanner/250/Freeze-Dried-Lung&Liver.png 2x"
            type="image/png">

          <img class="banner__img"
            src="../img/detailsbanner/445/Freeze-Dried-Lung&Liver.png"
            alt="Product Image"
            width="445"
            >
        </picture>
      </div>
    </div>
  </div>
</div>


<section class="section section--has-smaller-padding-bottom section--has-smaller-padding-top-below-desktop">
    <div class="container container--has-padding-mobile">
      <div class="grid">
        <div class="grid_row">
          <div class="main col-md-12">
              <h1 class="page-title">Roo Lung & Liver Cube 50g</h1>
              <div class="separator-2"></div>
              <div class="grid_row col-md-12">
                  <h2>Description</h2>
                  <p>We believe that it is important to treat furry friends in a healthy lifestyle with naturally better nutrintion, so we carefully make this tasty, natural and healthy treats from Australian premium kangarro meat via an advanced low-tempeture freeze dried process. It is without any nasties and there is no any artificial preservatives and flavours, you can trust that your lovely cats and dogs are in our good hands.</p>
                  <p>It is also a tasty treat that you can feed by a whole range of wholesome goodness. Every bite contains all of the natural goodness, which enriched with unsaturated fatty acides and protein while it has a low level of fat. It is high in Vitamins to keep your pets healthy.</p>
                  <hr class="mb-10">
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<section class="pv-30 light-gray-bg">
    <div class="container">
      <div class="grid_row">
        <div class="col-md-8">
          <h4 class="space-top">Specifications</h4>
          <hr>
          <dl class="dl-horizontal">
              <dt>Weight</dt>
              <dd>50g</dd>
              <dt>Ingredients</dt>
              <dd>Kangaroo Lung and Liver<</dd>
              <dt>Typical Analysis</dt>
              <dd>Protein > 50%      Fat ≤ 25%      Ash ≤ 2.5%		Moisture ≤ 3%</dd>
              <dt>Storage</dt>
              <dd>Keep treats stay fresh when they are stored in a cool and dry environment. Keep bag sealed after opening.</dd>
              <dt>Feeding Guide</dt>
              <dd>It is intended for supplemental feeding only, feed as a snack. This means that your pets would love our treats, they still need complete and balanced diet. Always ensure your pet has access to fresh drinking water and shade.</dd>
            </dl>
            <hr>
        </div>
        <div class="col-md-4 col-lg-3 col-lg-offset-1">
          <div class="sidebars">
            <div class="block clearfix">
                <h3 class="title">Categories</h3>
                <div class="separator-2"></div>
                <nav>
                    <ul class="nav nav-pills nav-stacked list-style-icons">
                      <li>
                        <a href="products-goatsMilk.html">
                          <i class="fa fa-caret-right pr-10"></i>GoatsMilk</a>
                      </li>
                      <li>
                        <a href="products-treats.html">
                          <i class="fa fa-caret-right pr-10"></i>Roo Treats</a>
                      </li>
                    </ul>
                </nav>
            </div>
            <div class="block clearfix">
                <h3 class="title">Related Products</h3>
                <div class="separator-2"></div>
                <div class="media margin-clear">
                    <div class="media-left">
                      <div class="overlay-container">
                        <img class="media-object" src="../img/details-list/roo-jerky.png" alt="blog-thumb">
                        <a href="product-6.html" class="overlay-link small">
                          <i class="fa fa-link"></i>
                        </a>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading">
                        <a href="product-6.html">Roo Jerky</a>
                      </h6>
                      <p class="margin-clear">
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                      </p>
                      <p class="price">Air Dried</p>
                    </div>
                    <hr>
                  </div>
                  <div class="media margin-clear">
                    <div class="media-left">
                      <div class="overlay-container">
                        <img class="media-object" src="../img/details-list/Freeze-Dried-Lung&Liver.png" alt="blog-thumb">
                        <a href="product-9.html" class="overlay-link small">
                          <i class="fa fa-link"></i>
                        </a>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading">
                        <a href="product-9.html">Roo Lung&Liver Cube</a>
                      </h6>
                      <p class="margin-clear">
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                      </p>
                      <p class="price">Freeze Dried</p>
                    </div>
                    <hr>
                  </div>
                  <div class="media margin-clear">
                    <div class="media-left">
                      <div class="overlay-container">
                        <img class="media-object" src="../img/details-list/dental-bone.png" alt="blog-thumb">
                        <a href="product-5.html" class="overlay-link small">
                          <i class="fa fa-link"></i>
                        </a>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading">
                        <a href="product-5.html">Dental Bone</a>
                      </h6>
                      <p class="margin-clear">
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                      </p>
                      <p class="price">Air Dried</p>
                    </div>
                    <hr>
                  </div>
                  <div class="media margin-clear">
                    <div class="media-left">
                      <div class="overlay-container">
                        <img class="media-object" src="../img/details-list/roo-tail.png" alt="blog-thumb">
                        <a href="product-7.html" class="overlay-link small">
                          <i class="fa fa-link"></i>
                        </a>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading">
                        <a href="product-7.html">Roo Tail</a>
                      </h6>
                      <p class="margin-clear">
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                      </p>
                      <p class="price">Air Dried</p>
                    </div>
                    <hr>
                  </div>
                  <div class="media margin-clear">
                    <div class="media-left">
                      <div class="overlay-container">
                        <img class="media-object" src="../img/details-list/roo-tendon.png" alt="blog-thumb">
                        <a href="product-8.html" class="overlay-link small">
                          <i class="fa fa-link"></i>
                        </a>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading">
                        <a href="product-8.html">Roo Tendon</a>
                      </h6>
                      <p class="margin-clear">
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                      </p>
                      <p class="price">Air Dried</p>
                    </div>
                    <hr>
                  </div>
                  <div class="media margin-clear">
                    <div class="media-left">
                      <div class="overlay-container">
                        <img class="media-object" src="../img/details-list/Freeze-Dried-Meat.png" alt="blog-thumb">
                        <a href="product-10.html" class="overlay-link small">
                          <i class="fa fa-link"></i>
                        </a>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading">
                        <a href="product-10.html">Roo Meat Cube</a>
                      </h6>
                      <p class="margin-clear">
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                      </p>
                      <p class="price">Freeze Dried</p>
                    </div>
                    <hr>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}