// This is where we define the colors for a project
// Please use the 'colorname-modifier' nomenclature

$colors: (
        gray-lightest: #fdfdfd,
        gray-lightest-2: #f4f5f7,
        gray-lighter: #cccccc,
        gray-lighter-2: #efefef,
        gray-lighter-3: #f1f2f3,
        gray-light: #8e8e8d,
        gray-light-2: #aaadb0,
        gray-normal: #808285,
        gray-dark: #4f5253,
        gray-darker: #434446,
        dark-gray: #292929,
        red-light: #d6002e,
        red-normal: #b9002f,
        red-dark: #96002b,
        red-light-2: #d70d40,
        white-dark: #e3e3e3,
        white-normal: #ffffff,
        black-light: #222222,
        black-normal: #000000,
        blue-normal: #4589c8,
        blue-light: #749fd5,
        blue-facebook : #4259ab,
        purple-normal: #749fd5,
        green-normal: #80a190,
        green-dark: #468074
)