// A z-index map is useful to prevent z-index messes
// Please use only these values when using z-index

$z-indexes: (
    lower: 1,
    low: 5,
    medium: 10,
    high: 15,
        higher: 20,
    highest: 25,
        top: 30
);