<li {% if current == 1 %}class="active" {% endif %}>
  <a href="blogs-1.html">1</a>
</li>
<li {% if current == 2 %}class="active" {% endif %}>
  <a href="blogs-2.html">2</a>
</li>
<li {% if current == 3 %}class="active" {% endif %}>
  <a href="blogs-3.html">3</a>
</li>
<li {% if current == 4 %}class="active" {% endif %}>
  <a href="blogs-4.html">4</a>
</li>
<li {% if current == 5 %}class="active" {% endif %}>
  <a href="blogs-5.html">5</a>
</li>
<li {% if current == 6 %}class="active" {% endif %}>
  <a href="blogs-6.html">6</a>
</li>
<li {% if current == 7 %}class="active" {% endif %}>
  <a href="blogs-7.html">7</a>
</li>