<div
  class="subnavbar__section subnavbar__section--third subnavbar__section--has-background has-smaller-background-size-xxl">
  <h2 class="header header--has-underline header--is-primary-color header--is-smaller-below-desktop font-weight-bold">
    Explore Us
  </h2>
  <div class="subnavbar__section-content-container">
    <a class="darker-on-hover" href="explore-us.html">
      <h6 class="subnavbar__section-content-header-small font-weight-bold">
        The inspiration behind
      </h6>
      <h6 class="subnavbar__section-content-header-small subnavbar__section-content-header-small--is-light">
        of our PetsBuddy pet food
      </h6>
    </a>
  </div>
</div>