<!-- sidebar start -->
<!-- ================ -->
<aside class="col-md-4 col-lg-3 col-lg-offset-1">
  <div class="side-bar">

    <div class="block clearfix">
      <h3 class="title">Latest Blog</h3>
      <div class="separator-2"></div>

      <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog20.jpg" alt="blog-thumb">
            <a href="post-20.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-20.html">
              3 Superfoods Growing Fast as Cat Food Trends
            </a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Dec 22, 2018</p>
        </div>
        <hr>
      </div>

      <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog19.jpg" alt="blog-thumb">
            <a href="post-19.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-19.html">
              New Product Opportunities Posed for Pet Treats
            </a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Dec 12, 2018</p>
        </div>
        <hr>
      </div>

      <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog18.jpg" alt="blog-thumb">
            <a href="post-18.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-18.html">Will More Pet Food Consumers Continue to Find Out The Meaning of 'Fresh'?</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Nov 07, 2018</p>
        </div>
        <hr>
      </div>

      <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog17-1.jpg" alt="blog-thumb">
            <a href="post-17.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-17.html">PetsBuddy Pet Food in AusPet 2018 of Gold Coast</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Nov 03, 2018</p>
        </div>
        <hr>
      </div>

      <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog16.jpg" alt="blog-thumb">
            <a href="post-16.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-16.html">Cats and Dogs Respond Differently to Similar Raw Pet Food</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Oct 12, 2018</p>
        </div>
        <hr>
      </div>

      <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog15.jpg" alt="blog-thumb">
            <a href="post-15.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-15.html">Functional Pet Food Ingredient is More Popular</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Oct 05, 2018</p>
        </div>
        <hr>
      </div>

      <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog14-1.jpg" alt="blog-thumb">
            <a href="post-14.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-14.html">Pet Food Brands Conquer Competitors in Search Engines</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Sep 20, 2018</p>
        </div>
        <hr>
      </div>

      <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog13.jpg" alt="blog-thumb">
            <a href="post-13.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-13.html">Human Food Trends Driving Pet Food Product Innovation</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Sep 14, 2018</p>
        </div>
        <hr>
      </div>

      <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog12-1.jpg" alt="blog-thumb">
            <a href="post-12.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-12.html">PetsBuddy in Pet Fair Asia 2018 in Shanghai</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Aug 26, 2018</p>
        </div>
        <hr>
      </div>

      <div class="media margin-clear">
        <div class="media-left">
          <div class="overlay-container">
            <img class="media-object" src="img/blogs/blog11.jpg" alt="blog-thumb">
            <a href="post-11.html" class="overlay-link small">
              <i class="fa fa-link"></i>
            </a>
          </div>
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="post-11.html">Why a Pet Owner Chooses Your Pet Shop?</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>Aug 07, 2018</p>
        </div>
        <hr>
      </div>

    </div>
</aside>
<!-- sidebar end -->