<aside
  class="sidebar sidebar--is-left-of-screen js-sidebar is-homepage"
  data-dimmer="false"
  data-slide-content="false">

  <div class="sidebar__btn-close-container grid grid--align-center grid--justify-center">
    <a class="sidebar__btn-close js-sidebar-close">
      <img
        class="sidebar__btn-close-img"
        src="img/icon-quit-x.png" alt="Quit button" />
    </a>
  </div>

  <div class="sidebar__container grid grid--direction-column grid--justify-space-between">
    <div>
      <ul class="sidebar__list">
        <li class="sidebar__list-item">
          <a class="sidebar__list-item-link" href="about-us.html">
            About Us
          </a>
        </li>
        <li class="sidebar__list-item">
          <a class="sidebar__list-item-link" href="distributors.html">
            Distributors
          </a>
        </li>
        <li class="sidebar__list-item">
          <a class="sidebar__list-item-link" href="contact-us.html">Contact us</a>
        </li>
        <li class="sidebar__list-item">
          <a class="sidebar__list-item-link" href="faq.html">FAQ</a>
        </li>
      </ul>
    </div>
  </div>

</aside>