<div class="subnavbar js-subnavbar" id="subnavbar-dog">
  <div class="grid">
    <div class="subnavbar__section subnavbar__section--first">
      <h4 class="subnavbar__thumbnail-preheader" style="text-align: left">Dog</h4>
      <ul class="subnavbar__section-content-container grid" style="margin-top: 0">
        <a class="subnavbar__thumbnail grid__col-sm-6" href="product-1.html">
          <img class="subnavbar__thumbnail-img" src="img/nav/GoatsMilk-for-Dog.png" />
          <h3 class="subnavbar__thumbnail-header">Premium Low Lactose Formula for Dog</h3>
        </a>
        <a class="subnavbar__thumbnail grid__col-sm-6" href="product-2.html">
          <img class="subnavbar__thumbnail-img" src="img/nav/Puppy-Replacement.png" />
          <h3 class="subnavbar__thumbnail-header">Formulated Puppy Replacement</h3>
        </a>
      </ul>
      <h4 class="subnavbar__thumbnail-preheader" style="text-align: left">Cat</h4>
      <ul class="subnavbar__section-content-container grid" style="margin-top: 0">
        <a class="subnavbar__thumbnail grid__col-sm-6" href="product-3.html">
          <img class="subnavbar__thumbnail-img" src="img/nav/GoatsMilk-for-Cat.png" />
          <h3 class="subnavbar__thumbnail-header">Taurine Enriched Formula for Cat</h3>
        </a>
        <a class="subnavbar__thumbnail grid__col-sm-6" href="product-4.html">
          <img class="subnavbar__thumbnail-img" src="img/nav/Kitten-Replacement.png" />
          <h3 class="subnavbar__thumbnail-header">Formulated Kitten Replacement</h3>
        </a>
      </ul>
      <h4 class="subnavbar__thumbnail-preheader" style="text-align: left">Small Animal</h4>
      <ul class="subnavbar__section-content-container grid" style="margin-top: 0">
        <a class="subnavbar__thumbnail grid__col-sm-6" href="product-11.html">
          <img class="subnavbar__thumbnail-img" src="img/nav/Rabbit-Replacement.png" />
          <h3 class="subnavbar__thumbnail-header">Formulated Rabbit Replacement</h3>
        </a>
        <a class="subnavbar__thumbnail grid__col-sm-6" href="product-12.html">
          <img class="subnavbar__thumbnail-img" src="img/nav/Guinea-Pig-Replacement.png" />
          <h3 class="subnavbar__thumbnail-header">Formulated Guinea Pig Replacement</h3>
        </a>
      </ul>
    </div>

    {% include 'explore.html' %}
  </div>
</div>
<div class="subnavbar js-subnavbar" id="subnavbar-roo">
  <div class="grid">
    <div class="subnavbar__section subnavbar__section--first">

      <h4 class="subnavbar__thumbnail-preheader" style="text-align: left">FREEZE DRIED</h4>
      <ul class="subnavbar__section-content-container grid" style="margin-top: 0">
        <a class="subnavbar__thumbnail grid__col-sm-3" href="product-10.html">
          <img class="subnavbar__thumbnail-img" src="img/nav/Freeze-Dried-Meat.png" />
          <h3 class="subnavbar__thumbnail-header">Roo Meat Cube</h3>
        </a>
        <a class="subnavbar__thumbnail grid__col-sm-3" href="product-13.html">
          <img class="subnavbar__thumbnail-img" src="img/nav/ChickenBreast.png" />
          <h3 class="subnavbar__thumbnail-header">Chicken Breast</h3>
        </a>
      </ul>
    </div>

    {% include 'explore.html' %}
  </div>
</div>

