{% extends "layouts/default.html" %}
{% set title = "Goatsmilk - PetsBuddy" %}
{% set page = {
  back_url: "products-1.html"
} %}

{% block content %}

<div class="banner banner--has-fixed-height banner--has-dynamic-background-image banner--has-darker-bg"
  style="background-image: url(media/thumbnails/3840x1080s/product/banner_images/pnl_entete_infinitichien.jpg);">
  <div class="banner__back-btn-wrapper">
    <a href="{{ page.back_url }}">
      <div class="banner__back-btn back-btn">
        <img class="back-btn__img" src="img/icon-back-white.png" alt="Back Button">
        <span class="back-btn__text">back</span>
      </div>
    </a>
  </div>

  <div class="banner__container container container--is-smaller grid">
    <div class="banner__left-section grid__col-12 grid__col-sm-6 grid--justify-center grid--align-start">
      <h1
        class="banner__left-section-header header header--is-color-white header--is-biggest text-left text-center-xs-down text-uppercase">
        INFINITI &gt;&gt; BERRIES+
      </h1>

      <div class="banner__sub-main-title grid grid--align-center">
        <h3
          class="header header--is-color-white header--is-sub-section-header header--is-small-xs-down text-uppercase font-weight-extra-light">
          All Life Stages
        </h3>
        <div class="banner__sub-main-title-separator"></div>
        <h3 class="header header--is-color-white header--is-small-size header--is-small-xs-down font-weight-normal">
          All Breeds
        </h3>
      </div>
      <div class="banner__small-text">with deboned salmon</div>
    </div>

    <div class="grid__col-12 grid__col-sm-6 grid--justify-center grid--direction-row">
      <div class="banner__img-wrapper">
        <picture>
          <source media="(min-width: 992px)"
            srcset="/media/thumbnails/445x616s/product/images/pnl_fiche-produit_chien_infiniti_epuAIWd.png, /media/thumbnails/889x1232s/product/images/pnl_fiche-produit_chien_infiniti_epuAIWd.png 2x"
            type="image/png">

          <source media="(min-width: 767px)"
            srcset="/media/thumbnails/350x485s/product/images/pnl_fiche-produit_chien_infiniti_epuAIWd.png, /media/thumbnails/700x970s/product/images/pnl_fiche-produit_chien_infiniti_epuAIWd.png 2x"
            type="image/png">

          <source media="(min-width: 0px)"
            srcset="/media/thumbnails/250x347s/product/images/pnl_fiche-produit_chien_infiniti_epuAIWd.png, /media/thumbnails/500x694s/product/images/pnl_fiche-produit_chien_infiniti_epuAIWd.png 2x"
            type="image/png">

          <img class="banner__img"
            src="/media/thumbnails/445x616__centers/product/images/pnl_fiche-produit_chien_infiniti_epuAIWd.png"
            alt="Product Image">
        </picture>
      </div>
    </div>
  </div>
</div>


<section class="section section--has-smaller-padding-bottom section--has-smaller-padding-top-below-desktop">
  <div class="container container--has-padding-mobile">
    <div class="grid">
      <div class="grid__col-12 grid__col-md-5">
        <p class="description text-center-xs-down">Your cat is now an adult. This delicious chicken recipe is formulated
          and balanced to keep him fit and healthy!</p>
        <div class="grid grid--align-center">
          <div class="grid grid--align-center grid--justify-center">
            <picture>
            </picture>
          </div>
        </div>
      </div>
      <div class="grid__col-12 grid__col-md-7">
        <div class="horizontal-infos">
          <div class="horizontal-infos__item grid grid--align-center">
            <div class="horizontal-infos__img-wrapper grid__col-auto">
              <svg id="0cbad54a-021e-44bc-b7a7-e44cfe14606e" data-name="addf91ab-0b46-4fc8-835e-7d642877954c"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.21 31.77">
                <defs></defs>
                <path class="2ba8a852-d251-4bdd-9300-0f3d50f6b8b6"
                  d="M6.57,25.55C7.5,22.14,11.35,12,24.17,4.33A263.75,263.75,0,0,0,6.57,25.55"></path>
                <path class="2ba8a852-d251-4bdd-9300-0f3d50f6b8b6"
                  d="M17,18s4.78-4,7.1-4.56c-1.57,3.37-4.25,4-7.1,4.56"></path>
                <path class="2ba8a852-d251-4bdd-9300-0f3d50f6b8b6"
                  d="M11.37,26s5.72-4,10.5-4.94c-3.5,4.58-7.08,4.4-10.5,4.94"></path>
                <path class="2ba8a852-d251-4bdd-9300-0f3d50f6b8b6"
                  d="M8.43,6.55C8.45,15.64,7.09,18,7.09,18S4.85,13.17,8.43,6.55"></path>
                <path class="2ba8a852-d251-4bdd-9300-0f3d50f6b8b6"
                  d="M15.47,4c0,3-2.61,6.46-2.61,6.46S12.58,5.6,15.47,4"></path>
                <path class="2ba8a852-d251-4bdd-9300-0f3d50f6b8b6"
                  d="M12.47,31.77H11.38a10.56,10.56,0,0,1-8-3.73h0l-.46-.69C1,24.72.05,21.24.07,17,0,5.56,6.39,0,19.38,0H27.6V3.24c.1,9.2.21,19.62-5,24.9C20.22,30.59,16.88,31.77,12.47,31.77ZM3.93,27.54A9.81,9.81,0,0,0,11.37,31c4.78.21,8.26-.9,10.65-3.35,5-5,4.84-15.3,4.78-24.35V.79l-7.43,0C6.9.77.84,6.08.78,17c0,4,.89,7.35,2.7,9.86Z">
                </path>
              </svg>
            </div>
            <div class="grid__col-auto">
              <h4 class="horizontal-infos__title header header--is-smallest-size text-left">Hairball Control</h4>
              <p class="horizontal-infos__description">
                A blend of herbs that helps prevent hairball formation.
              </p>
            </div>
          </div>
          <div class="horizontal-infos__item grid grid--align-center">
            <div class="horizontal-infos__img-wrapper grid__col-auto">
              <svg id="0cbad54a-021e-44bc-b7a7-e44cfe14606e" data-name="addf91ab-0b46-4fc8-835e-7d642877954c"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.21 31.77">
                <defs></defs>
                <path class="2ba8a852-d251-4bdd-9300-0f3d50f6b8b6"
                  d="M6.57,25.55C7.5,22.14,11.35,12,24.17,4.33A263.75,263.75,0,0,0,6.57,25.55"></path>
                <path class="2ba8a852-d251-4bdd-9300-0f3d50f6b8b6"
                  d="M17,18s4.78-4,7.1-4.56c-1.57,3.37-4.25,4-7.1,4.56"></path>
                <path class="2ba8a852-d251-4bdd-9300-0f3d50f6b8b6"
                  d="M11.37,26s5.72-4,10.5-4.94c-3.5,4.58-7.08,4.4-10.5,4.94"></path>
                <path class="2ba8a852-d251-4bdd-9300-0f3d50f6b8b6"
                  d="M8.43,6.55C8.45,15.64,7.09,18,7.09,18S4.85,13.17,8.43,6.55"></path>
                <path class="2ba8a852-d251-4bdd-9300-0f3d50f6b8b6"
                  d="M15.47,4c0,3-2.61,6.46-2.61,6.46S12.58,5.6,15.47,4"></path>
                <path class="2ba8a852-d251-4bdd-9300-0f3d50f6b8b6"
                  d="M12.47,31.77H11.38a10.56,10.56,0,0,1-8-3.73h0l-.46-.69C1,24.72.05,21.24.07,17,0,5.56,6.39,0,19.38,0H27.6V3.24c.1,9.2.21,19.62-5,24.9C20.22,30.59,16.88,31.77,12.47,31.77ZM3.93,27.54A9.81,9.81,0,0,0,11.37,31c4.78.21,8.26-.9,10.65-3.35,5-5,4.84-15.3,4.78-24.35V.79l-7.43,0C6.9.77.84,6.08.78,17c0,4,.89,7.35,2.7,9.86Z">
                </path>
              </svg>
            </div>
            <div class="grid__col-auto">
              <h4 class="horizontal-infos__title header header--is-smallest-size text-left">Cranberries</h4>
              <p class="horizontal-infos__description">
                Cranberries are known for the role prevention of urinary tract infections.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="section section--has-medium-padding section--has-small-padding-bottom section--has-smaller-padding-top-mobile">
  <div class="container">
    <div class="accordion js-accordion" data-scroll-speed="500" data-scroll-offset="0"
      data-can-have-multiple-items-opened="false" data-open-item-animation="slide" data-slide-duration="300"
      data-scroll-to-item-when-opened="false">

      <ul class="accordion__list">
        <li class="accordion__item js-accordion-item">
          <div class="accordion__item-button grid grid--justify-space-between js-accordion-item-button">
            Daily feeding guidelines
            <span class="accordion__item-button-right-icon"></span>
          </div>
          <div
            class="accordion__item-content accordion__item-content--has-no-vertical-padding-xs-down js-accordion-item-content">
            <div class="tabs js-tabs">
              <div class="grid">
                <div class="tabs__tab-btn">
                  <a class="tabs__tab-btn-link js-tab-trigger is-active" data-tab-id="tab-baby"
                    href="javascript:void(0)">
                    puppy
                  </a>
                </div>
                <div class="tabs__tab-btn">
                  <a class="tabs__tab-btn-link js-tab-trigger " data-tab-id="tab-adult" href="javascript:void(0)">
                    adult
                  </a>
                </div>
                <div class="tabs__tab-btn">
                  <a class="tabs__tab-btn-link js-tab-trigger " data-tab-id="tab-senior" href="javascript:void(0)">
                    senior
                  </a>
                </div>
              </div>
              <div class="tabs__tab-content is-active js-tab-content" id="tab-baby">
                <table class="complex-table js-complex-table">
                  <tbody>
                    <tr class="complex-table__header-top">
                      <td
                        class="complex-table__cell complex-table__cell--has-no-l-padding complex-table__cell--has-no-b-padding complex-table__cell--has-big-t-padding complex-table__cell--has-no-r-padding-xs-down text-center js-header-logo"
                        colspan="2">
                        {% include './svg/dog.html' %}
                      </td>
                      <td
                        class="complex-table__cell complex-table__cell--has-no-l-padding complex-table__cell--has-no-b-padding complex-table__cell--has-big-t-padding complex-table__cell--has-no-r-padding-xs-down text-center js-header-logo"
                        colspan="2">
                        {% include './svg/food.html' %}
                      </td>
                    </tr>
                    <tr class="complex-table__header-bottom hidden-xs-down">
                      <td
                        class="complex-table__cell complex-table__cell--has-bigger-font-size complex-table__cell--is-colored font-weight-bold text-uppercase js-header"
                        data-complex-table-group-id="animal" data-complex-table-col-id="kg">Kg</td>
                      <td
                        class="complex-table__cell complex-table__cell--has-bigger-font-size complex-table__cell--is-colored complex-table__cell--is-bordered-right font-weight-bold text-uppercase js-header"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">Lb</td>
                      <td
                        class="complex-table__cell complex-table__cell--has-bigger-padding-left complex-table__cell--has-bigger-font-size complex-table__cell--is-colored font-weight-bold text-uppercase js-header"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">Grams</td>
                      <td
                        class="complex-table__cell complex-table__cell--has-bigger-font-size complex-table__cell--is-colored font-weight-bold text-uppercase js-header"
                        data-complex-table-group-id="food" data-complex-table-col-id="cups">Cups</td>
                    </tr>
                    <tr class="complex-table__header-bottom hidden-sm-up">
                      <td
                        class="complex-table__cell complex-table__cell--has-big-b-padding complex-table__cell--is-padded-both-sides-large complex-table__cell--has-bigger-font-size font-weight-bold js-header-mobile">
                        <div class="dropdown js-dropdown js-dropdown-units">
                          <a class="dropdown__btn dropdown__btn--has-caret dropdown__btn--has-bigger-font-size dropdown__btn--is-theme-colored dropdown__btn--has-no-padding dropdown__btn--has-xs-h-padding dropdown__btn--is-not-uppercase dropdown__btn--no-double-caret dropdown__btn--is-centered dropdown__btn--has-no-border dropdown__btn--has-border-bottom js-dropdown-btn"
                            href="javascript:void(0)"> Kg </a>
                          <ul class="dropdown__list dropdown__list--has-normal-width-sm-down js-dropdown-list">
                            <li class="dropdown__list-item"> <span
                                class="grid__col-auto grid--align-center js-dropdown-unit is-selected"
                                data-complex-table-group-id="animal" data-complex-table-col-id="kg"
                                data-value="Kg">Kg</span> </li>
                            <li class="dropdown__list-item"> <span
                                class="grid__col-auto grid--align-center js-dropdown-unit"
                                data-complex-table-group-id="animal" data-complex-table-col-id="lb"
                                data-value="Ml">Lb</span> </li>
                          </ul>
                        </div>
                      </td>
                      <td
                        class="complex-table__cell complex-table__cell--has-big-b-padding complex-table__cell--is-padded-both-sides-large complex-table__cell--has-l-padding-border complex-table__cell--has-bigger-font-size font-weight-bold js-header-mobile">
                        <div class="dropdown js-dropdown js-dropdown-units">
                          <a class="dropdown__btn dropdown__btn--has-caret dropdown__btn--has-bigger-font-size dropdown__btn--is-theme-colored dropdown__btn--has-no-padding dropdown__btn--has-xs-h-padding dropdown__btn--is-not-uppercase dropdown__btn--no-double-caret dropdown__btn--is-centered dropdown__btn--has-no-border dropdown__btn--has-border-bottom js-dropdown-btn"
                            href="javascript:void(0)"> Grams </a>
                          <ul class="dropdown__list dropdown__list--has-normal-width-sm-down js-dropdown-list">
                            <li class="dropdown__list-item"> <span
                                class="grid__col-auto grid--align-center js-dropdown-unit is-selected"
                                data-complex-table-group-id="food" data-complex-table-col-id="grams"
                                data-value="Grams">Grams</span> </li>
                            <li class="dropdown__list-item"> <span
                                class="grid__col-auto grid--align-center js-dropdown-unit"
                                data-complex-table-group-id="food" data-complex-table-col-id="cups"
                                data-value="Cups">Cups</span> </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                    <tr class="complex-table__section-separator">
                      <td
                        class="complex-table__cell complex-table__cell--has-bigger-font-size complex-table__cell--has-no-l-padding complex-table__cell--has-smaller-padding complex-table__cell--is-colored-pale text-uppercase font-weight-bold js-separator"
                        colspan="4"> 2 - 12 months </td>
                    </tr>
                    <tr class="complex-table__row complex-table__row--is-odd">
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="animal"
                        data-complex-table-col-id="kg">1.5 - 5.5</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--is-bordered-right js-cell"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">3.3 - 12</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--has-bigger-padding-left js-cell"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">65-175</td>
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="food"
                        data-complex-table-col-id="cups">5/8-1 5/8</td>
                    </tr>
                    <tr class="complex-table__row complex-table__row--is-even">
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="animal"
                        data-complex-table-col-id="kg">5.5 - 9.5</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--is-bordered-right js-cell"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">12 - 20</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--has-bigger-padding-left js-cell"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">175-260</td>
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="food"
                        data-complex-table-col-id="cups">1 5/8-2 1/2</td>
                    </tr>
                    <tr class="complex-table__row complex-table__row--is-odd">
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="animal"
                        data-complex-table-col-id="kg">9.5 - 15.5</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--is-bordered-right js-cell"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">20 - 35</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--has-bigger-padding-left js-cell"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">260-375</td>
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="food"
                        data-complex-table-col-id="cups">2 1/2-3 1/2</td>
                    </tr>
                    <tr class="complex-table__row complex-table__row--is-even">
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="animal"
                        data-complex-table-col-id="kg">15.5 - 22.5</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--is-bordered-right js-cell"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">35 - 50</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--has-bigger-padding-left js-cell"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">375-495</td>
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="food"
                        data-complex-table-col-id="cups">3 1/2-4 5/8</td>
                    </tr>
                    <tr class="complex-table__row complex-table__row--is-odd">
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="animal"
                        data-complex-table-col-id="kg">22.5 - 33.5</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--is-bordered-right js-cell"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">50 - 75</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--has-bigger-padding-left js-cell"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">495-670</td>
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="food"
                        data-complex-table-col-id="cups">4 5/8-6 1/4</td>
                    </tr>
                    <tr class="complex-table__row complex-table__row--is-even">
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="animal"
                        data-complex-table-col-id="kg">33.5 - 45.5</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--is-bordered-right js-cell"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">75 - 100</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--has-bigger-padding-left js-cell"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">670-840</td>
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="food"
                        data-complex-table-col-id="cups">6 1/4-7 7/8</td>
                    </tr>
                    <tr class="complex-table__row complex-table__row--is-odd">
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="animal"
                        data-complex-table-col-id="kg">45.5 +</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--is-bordered-right js-cell"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">100 +</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--has-bigger-padding-left js-cell"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">840+70/5 kg</td>
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="food"
                        data-complex-table-col-id="cups">7 7/8+5/8/10 lbs</td>
                    </tr>
                    <tr class="complex-table__section-separator">
                      <td
                        class="complex-table__cell complex-table__cell--is-padded-both-sides complex-table__cell--is-padded-both-sides complex-table__cell--has-no-t-padding complex-table__cell--has-no-b-padding complex-table__cell--is-colored-pale icon-text js-table-footer"
                        colspan="4">
                        <div class="complex-table__footer-row">
                          <img class="icon-text__icon icon-text__icon--is-bigger inline-block" src="img/icon-cup.png" />
                          <span class="text-center font-italic font-weight-light inline-block"> A standard 250 ml (8 oz)
                            <br />measuring cup = 115 g </span>
                        </div>
                        <div
                          class="complex-table__footer-row complex-table__footer-infos grid grid--justify-center grid--align-center">
                          <span
                            class="complex-table__footer-infos-item complex-table__footer-infos-item--is-full-width-xs text-uppercase">Calorie<br />content</span>
                          <span
                            class="complex-table__footer-infos-item complex-table__footer-infos-item--is-full-width-xs complex-table__footer-infos-item--has-big-margin-left">Metabolizable
                            Energy<br />(calculated)</span>
                          <span
                            class="complex-table__footer-infos-item complex-table__footer-infos-icon hidden-xs-down"><i
                              class="fa fa-angle-right"></i></span>
                          <span class="complex-table__footer-infos-item complex-table__footer-infos-big-text">408</span>
                          <span
                            class="complex-table__footer-infos-item complex-table__footer-infos-item--is-small-xs complex-table__footer-infos-item--has-sm-margin-left">kcal/<br />CUP</span>
                          <span
                            class="complex-table__footer-infos-item complex-table__footer-infos-item--has-xs-margin-left complex-table__footer-infos-big-text">3345</span>
                          <span
                            class="complex-table__footer-infos-item complex-table__footer-infos-item--is-small-xs complex-table__footer-infos-item--has-sm-margin-left">kcal/<br />kg</span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tabs__tab-content  js-tab-content" id="tab-adult">
                <table class="complex-table js-complex-table">
                  <tbody>
                    <tr class="complex-table__header-top">
                      <td
                        class="complex-table__cell complex-table__cell--has-no-l-padding complex-table__cell--has-no-b-padding complex-table__cell--has-big-t-padding complex-table__cell--has-no-r-padding-xs-down text-center js-header-logo"
                        colspan="2">
                        {% include './svg/dog.html' %}
                      </td>
                      <td
                        class="complex-table__cell complex-table__cell--has-no-l-padding complex-table__cell--has-no-b-padding complex-table__cell--has-big-t-padding complex-table__cell--has-no-r-padding-xs-down text-center js-header-logo"
                        colspan="2">
                        {% include './svg/food.html' %}
                      </td>
                    </tr>
                    <tr class="complex-table__header-bottom hidden-xs-down">
                      <td
                        class="complex-table__cell complex-table__cell--has-bigger-font-size complex-table__cell--is-colored font-weight-bold text-uppercase js-header"
                        data-complex-table-group-id="animal" data-complex-table-col-id="kg">Kg</td>
                      <td
                        class="complex-table__cell complex-table__cell--has-bigger-font-size complex-table__cell--is-colored complex-table__cell--is-bordered-right font-weight-bold text-uppercase js-header"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">Lb</td>
                      <td
                        class="complex-table__cell complex-table__cell--has-bigger-padding-left complex-table__cell--has-bigger-font-size complex-table__cell--is-colored font-weight-bold text-uppercase js-header"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">Grams</td>
                      <td
                        class="complex-table__cell complex-table__cell--has-bigger-font-size complex-table__cell--is-colored font-weight-bold text-uppercase js-header"
                        data-complex-table-group-id="food" data-complex-table-col-id="cups">Cups</td>
                    </tr>
                    <tr class="complex-table__header-bottom hidden-sm-up">
                      <td
                        class="complex-table__cell complex-table__cell--has-big-b-padding complex-table__cell--is-padded-both-sides-large complex-table__cell--has-bigger-font-size font-weight-bold js-header-mobile">
                        <div class="dropdown js-dropdown js-dropdown-units">
                          <a class="dropdown__btn dropdown__btn--has-caret dropdown__btn--has-bigger-font-size dropdown__btn--is-theme-colored dropdown__btn--has-no-padding dropdown__btn--has-xs-h-padding dropdown__btn--is-not-uppercase dropdown__btn--no-double-caret dropdown__btn--is-centered dropdown__btn--has-no-border dropdown__btn--has-border-bottom js-dropdown-btn"
                            href="javascript:void(0)"> Kg </a>
                          <ul class="dropdown__list dropdown__list--has-normal-width-sm-down js-dropdown-list">
                            <li class="dropdown__list-item"> <span
                                class="grid__col-auto grid--align-center js-dropdown-unit is-selected"
                                data-complex-table-group-id="animal" data-complex-table-col-id="kg"
                                data-value="Kg">Kg</span>
                            </li>
                            <li class="dropdown__list-item"> <span
                                class="grid__col-auto grid--align-center js-dropdown-unit"
                                data-complex-table-group-id="animal" data-complex-table-col-id="lb"
                                data-value="Ml">Lb</span>
                            </li>
                          </ul>
                        </div>
                      </td>
                      <td
                        class="complex-table__cell complex-table__cell--has-big-b-padding complex-table__cell--is-padded-both-sides-large complex-table__cell--has-l-padding-border complex-table__cell--has-bigger-font-size font-weight-bold js-header-mobile">
                        <div class="dropdown js-dropdown js-dropdown-units">
                          <a class="dropdown__btn dropdown__btn--has-caret dropdown__btn--has-bigger-font-size dropdown__btn--is-theme-colored dropdown__btn--has-no-padding dropdown__btn--has-xs-h-padding dropdown__btn--is-not-uppercase dropdown__btn--no-double-caret dropdown__btn--is-centered dropdown__btn--has-no-border dropdown__btn--has-border-bottom js-dropdown-btn"
                            href="javascript:void(0)"> Grams </a>
                          <ul class="dropdown__list dropdown__list--has-normal-width-sm-down js-dropdown-list">
                            <li class="dropdown__list-item"> <span
                                class="grid__col-auto grid--align-center js-dropdown-unit is-selected"
                                data-complex-table-group-id="food" data-complex-table-col-id="grams"
                                data-value="Grams">Grams</span> </li>
                            <li class="dropdown__list-item"> <span
                                class="grid__col-auto grid--align-center js-dropdown-unit"
                                data-complex-table-group-id="food" data-complex-table-col-id="cups"
                                data-value="Cups">Cups</span> </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                    <tr class="complex-table__section-separator">
                      <td
                        class="complex-table__cell complex-table__cell--has-bigger-font-size complex-table__cell--has-no-l-padding complex-table__cell--has-smaller-padding complex-table__cell--is-colored-pale text-uppercase font-weight-bold js-separator"
                        colspan="4"> 1 - 6 years </td>
                    </tr>
                    <tr class="complex-table__row complex-table__row--is-even">
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="animal"
                        data-complex-table-col-id="kg">1.5 - 5.5</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--is-bordered-right js-cell"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">3.3 - 12</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--has-bigger-padding-left js-cell"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">35-100</td>
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="food"
                        data-complex-table-col-id="cups">3/8-7/8</td>
                    </tr>
                    <tr class="complex-table__row complex-table__row--is-odd">
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="animal"
                        data-complex-table-col-id="kg">5.5 - 9.5</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--is-bordered-right js-cell"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">12 - 20</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--has-bigger-padding-left js-cell"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">100-150</td>
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="food"
                        data-complex-table-col-id="cups">7/8-1 3/8</td>
                    </tr>
                    <tr class="complex-table__row complex-table__row--is-even">
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="animal"
                        data-complex-table-col-id="kg">9.5 - 15.5</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--is-bordered-right js-cell"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">20 - 35</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--has-bigger-padding-left js-cell"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">150-215</td>
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="food"
                        data-complex-table-col-id="cups">1 3/8-2</td>
                    </tr>
                    <tr class="complex-table__row complex-table__row--is-odd">
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="animal"
                        data-complex-table-col-id="kg">15.5 - 22.5</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--is-bordered-right js-cell"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">35 - 50</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--has-bigger-padding-left js-cell"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">215-285</td>
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="food"
                        data-complex-table-col-id="cups">2-2 5/8</td>
                    </tr>
                    <tr class="complex-table__row complex-table__row--is-even">
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="animal"
                        data-complex-table-col-id="kg">22.5 - 33.5</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--is-bordered-right js-cell"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">50 - 75</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--has-bigger-padding-left js-cell"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">285-380</td>
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="food"
                        data-complex-table-col-id="cups">2 5/8-3 5/8</td>
                    </tr>
                    <tr class="complex-table__row complex-table__row--is-odd">
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="animal"
                        data-complex-table-col-id="kg">33.5 - 45.5</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--is-bordered-right js-cell"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">75 - 100</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--has-bigger-padding-left js-cell"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">380-480</td>
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="food"
                        data-complex-table-col-id="cups">3 5/8-4 1/2</td>
                    </tr>
                    <tr class="complex-table__row complex-table__row--is-even">
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="animal"
                        data-complex-table-col-id="kg">45.5 +</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--is-bordered-right js-cell"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">100 +</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--has-bigger-padding-left js-cell"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">480+40/5 kg</td>
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="food"
                        data-complex-table-col-id="cups">4 1/2+3/8/10 lbs</td>
                    </tr>
                    <tr class="complex-table__section-separator">
                      <td
                        class="complex-table__cell complex-table__cell--is-padded-both-sides complex-table__cell--is-padded-both-sides complex-table__cell--has-no-t-padding complex-table__cell--has-no-b-padding complex-table__cell--is-colored-pale icon-text js-table-footer"
                        colspan="4">
                        <div class="complex-table__footer-row">
                          <img class="icon-text__icon icon-text__icon--is-bigger inline-block" src="img/icon-cup.png" />
                          <span class="text-center font-italic font-weight-light inline-block"> A standard 250 ml (8 oz)
                            <br />measuring cup = 115 g </span>
                        </div>
                        <div
                          class="complex-table__footer-row complex-table__footer-infos grid grid--justify-center grid--align-center">
                          <span
                            class="complex-table__footer-infos-item complex-table__footer-infos-item--is-full-width-xs text-uppercase">Calorie<br />content</span>
                          <span
                            class="complex-table__footer-infos-item complex-table__footer-infos-item--is-full-width-xs complex-table__footer-infos-item--has-big-margin-left">Metabolizable
                            Energy<br />(calculated)</span>
                          <span
                            class="complex-table__footer-infos-item complex-table__footer-infos-icon hidden-xs-down"><i
                              class="fa fa-angle-right"></i></span>
                          <span class="complex-table__footer-infos-item complex-table__footer-infos-big-text">408</span>
                          <span
                            class="complex-table__footer-infos-item complex-table__footer-infos-item--is-small-xs complex-table__footer-infos-item--has-sm-margin-left">kcal/<br />CUP</span>
                          <span
                            class="complex-table__footer-infos-item complex-table__footer-infos-item--has-xs-margin-left complex-table__footer-infos-big-text">3345</span>
                          <span
                            class="complex-table__footer-infos-item complex-table__footer-infos-item--is-small-xs complex-table__footer-infos-item--has-sm-margin-left">kcal/<br />kg</span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tabs__tab-content  js-tab-content" id="tab-senior">
                <table class="complex-table js-complex-table">
                  <tbody>
                    <tr class="complex-table__header-top">
                      <td
                        class="complex-table__cell complex-table__cell--has-no-l-padding complex-table__cell--has-no-b-padding complex-table__cell--has-big-t-padding complex-table__cell--has-no-r-padding-xs-down text-center js-header-logo"
                        colspan="2">
                        {% include './svg/dog.html' %}
                      </td>
                      <td
                        class="complex-table__cell complex-table__cell--has-no-l-padding complex-table__cell--has-no-b-padding complex-table__cell--has-big-t-padding complex-table__cell--has-no-r-padding-xs-down text-center js-header-logo"
                        colspan="2">
                        {% include './svg/food.html' %}
                      </td>
                    </tr>
                    <tr class="complex-table__header-bottom hidden-xs-down">
                      <td
                        class="complex-table__cell complex-table__cell--has-bigger-font-size complex-table__cell--is-colored font-weight-bold text-uppercase js-header"
                        data-complex-table-group-id="animal" data-complex-table-col-id="kg">Kg</td>
                      <td
                        class="complex-table__cell complex-table__cell--has-bigger-font-size complex-table__cell--is-colored complex-table__cell--is-bordered-right font-weight-bold text-uppercase js-header"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">Lb</td>
                      <td
                        class="complex-table__cell complex-table__cell--has-bigger-padding-left complex-table__cell--has-bigger-font-size complex-table__cell--is-colored font-weight-bold text-uppercase js-header"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">Grams</td>
                      <td
                        class="complex-table__cell complex-table__cell--has-bigger-font-size complex-table__cell--is-colored font-weight-bold text-uppercase js-header"
                        data-complex-table-group-id="food" data-complex-table-col-id="cups">Cups</td>
                    </tr>
                    <tr class="complex-table__header-bottom hidden-sm-up">
                      <td
                        class="complex-table__cell complex-table__cell--has-big-b-padding complex-table__cell--is-padded-both-sides-large complex-table__cell--has-bigger-font-size font-weight-bold js-header-mobile">
                        <div class="dropdown js-dropdown js-dropdown-units">
                          <a class="dropdown__btn dropdown__btn--has-caret dropdown__btn--has-bigger-font-size dropdown__btn--is-theme-colored dropdown__btn--has-no-padding dropdown__btn--has-xs-h-padding dropdown__btn--is-not-uppercase dropdown__btn--no-double-caret dropdown__btn--is-centered dropdown__btn--has-no-border dropdown__btn--has-border-bottom js-dropdown-btn"
                            href="javascript:void(0)"> Kg </a>
                          <ul class="dropdown__list dropdown__list--has-normal-width-sm-down js-dropdown-list">
                            <li class="dropdown__list-item"> <span
                                class="grid__col-auto grid--align-center js-dropdown-unit is-selected"
                                data-complex-table-group-id="animal" data-complex-table-col-id="kg"
                                data-value="Kg">Kg</span> </li>
                            <li class="dropdown__list-item"> <span
                                class="grid__col-auto grid--align-center js-dropdown-unit"
                                data-complex-table-group-id="animal" data-complex-table-col-id="lb"
                                data-value="Ml">Lb</span> </li>
                          </ul>
                        </div>
                      </td>
                      <td
                        class="complex-table__cell complex-table__cell--has-big-b-padding complex-table__cell--is-padded-both-sides-large complex-table__cell--has-l-padding-border complex-table__cell--has-bigger-font-size font-weight-bold js-header-mobile">
                        <div class="dropdown js-dropdown js-dropdown-units">
                          <a class="dropdown__btn dropdown__btn--has-caret dropdown__btn--has-bigger-font-size dropdown__btn--is-theme-colored dropdown__btn--has-no-padding dropdown__btn--has-xs-h-padding dropdown__btn--is-not-uppercase dropdown__btn--no-double-caret dropdown__btn--is-centered dropdown__btn--has-no-border dropdown__btn--has-border-bottom js-dropdown-btn"
                            href="javascript:void(0)"> Grams </a>
                          <ul class="dropdown__list dropdown__list--has-normal-width-sm-down js-dropdown-list">
                            <li class="dropdown__list-item"> <span
                                class="grid__col-auto grid--align-center js-dropdown-unit is-selected"
                                data-complex-table-group-id="food" data-complex-table-col-id="grams"
                                data-value="Grams">Grams</span> </li>
                            <li class="dropdown__list-item"> <span
                                class="grid__col-auto grid--align-center js-dropdown-unit"
                                data-complex-table-group-id="food" data-complex-table-col-id="cups"
                                data-value="Cups">Cups</span> </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                    <tr class="complex-table__section-separator">
                      <td
                        class="complex-table__cell complex-table__cell--has-bigger-font-size complex-table__cell--has-no-l-padding complex-table__cell--has-smaller-padding complex-table__cell--is-colored-pale text-uppercase font-weight-bold js-separator"
                        colspan="4"> 7 + years </td>
                    </tr>
                    <tr class="complex-table__row complex-table__row--is-odd">
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="animal"
                        data-complex-table-col-id="kg">1.5 - 5.5</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--is-bordered-right js-cell"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">3.3 - 12</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--has-bigger-padding-left js-cell"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">35-85</td>
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="food"
                        data-complex-table-col-id="cups">1/4-3/4</td>
                    </tr>
                    <tr class="complex-table__row complex-table__row--is-even">
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="animal"
                        data-complex-table-col-id="kg">5.5 - 9.5</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--is-bordered-right js-cell"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">12 - 20</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--has-bigger-padding-left js-cell"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">85-130</td>
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="food"
                        data-complex-table-col-id="cups">3/4-1 1/4</td>
                    </tr>
                    <tr class="complex-table__row complex-table__row--is-odd">
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="animal"
                        data-complex-table-col-id="kg">9.5 - 15.5</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--is-bordered-right js-cell"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">20 - 35</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--has-bigger-padding-left js-cell"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">130-190</td>
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="food"
                        data-complex-table-col-id="cups">1 1/4-1 3/4</td>
                    </tr>
                    <tr class="complex-table__row complex-table__row--is-even">
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="animal"
                        data-complex-table-col-id="kg">15.5 - 22.5</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--is-bordered-right js-cell"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">35 - 50</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--has-bigger-padding-left js-cell"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">190-250</td>
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="food"
                        data-complex-table-col-id="cups">1 3/4-2 3/8</td>
                    </tr>
                    <tr class="complex-table__row complex-table__row--is-odd">
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="animal"
                        data-complex-table-col-id="kg">22.5 - 33.5</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--is-bordered-right js-cell"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">50 - 75</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--has-bigger-padding-left js-cell"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">250-335</td>
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="food"
                        data-complex-table-col-id="cups">2 3/8-3 1/8</td>
                    </tr>
                    <tr class="complex-table__row complex-table__row--is-even">
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="animal"
                        data-complex-table-col-id="kg">33.5 - 45.5</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--is-bordered-right js-cell"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">75 - 100</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--has-bigger-padding-left js-cell"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">335-420</td>
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="food"
                        data-complex-table-col-id="cups">3 1/8-4</td>
                    </tr>
                    <tr class="complex-table__row complex-table__row--is-odd">
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="animal"
                        data-complex-table-col-id="kg">45.5 +</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--is-bordered-right js-cell"
                        data-complex-table-group-id="animal" data-complex-table-col-id="lb">100 +</td>
                      <td colspan="1" class="complex-table__cell complex-table__cell--has-bigger-padding-left js-cell"
                        data-complex-table-group-id="food" data-complex-table-col-id="grams">420+35/5 kg</td>
                      <td colspan="1" class="complex-table__cell js-cell" data-complex-table-group-id="food"
                        data-complex-table-col-id="cups">4+3/8/10 lbs</td>
                    </tr>
                    <tr class="complex-table__section-separator">
                      <td
                        class="complex-table__cell complex-table__cell--is-padded-both-sides complex-table__cell--is-padded-both-sides complex-table__cell--has-no-t-padding complex-table__cell--has-no-b-padding complex-table__cell--is-colored-pale icon-text js-table-footer"
                        colspan="4">
                        <div class="complex-table__footer-row">
                          <img class="icon-text__icon icon-text__icon--is-bigger inline-block" src="img/icon-cup.png" />
                          <span class="text-center font-italic font-weight-light inline-block"> A standard 250 ml (8 oz)
                            <br />measuring cup = 115 g </span>
                        </div>
                        <div
                          class="complex-table__footer-row complex-table__footer-infos grid grid--justify-center grid--align-center">
                          <span
                            class="complex-table__footer-infos-item complex-table__footer-infos-item--is-full-width-xs text-uppercase">Calorie<br />content</span>
                          <span
                            class="complex-table__footer-infos-item complex-table__footer-infos-item--is-full-width-xs complex-table__footer-infos-item--has-big-margin-left">Metabolizable
                            Energy<br />(calculated)</span>
                          <span
                            class="complex-table__footer-infos-item complex-table__footer-infos-icon hidden-xs-down"><i
                              class="fa fa-angle-right"></i></span>
                          <span class="complex-table__footer-infos-item complex-table__footer-infos-big-text">408</span>
                          <span
                            class="complex-table__footer-infos-item complex-table__footer-infos-item--is-small-xs complex-table__footer-infos-item--has-sm-margin-left">kcal/<br />CUP</span>
                          <span
                            class="complex-table__footer-infos-item complex-table__footer-infos-item--has-xs-margin-left complex-table__footer-infos-big-text">3345</span>
                          <span
                            class="complex-table__footer-infos-item complex-table__footer-infos-item--is-small-xs complex-table__footer-infos-item--has-sm-margin-left">kcal/<br />kg</span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </li>
        <li class="accordion__item js-accordion-item">
          <div class="accordion__item-button grid grid--justify-space-between js-accordion-item-button">
            Ingredients
            <span class="accordion__item-button-right-icon"></span>
          </div>
          <div class="accordion__item-content js-accordion-item-content">
            <p>Chicken meal, peas, oatmeal, deboned salmon, dehulled barley, chicken fat naturally preserved with mixed
              tocopherols, suncured alfalfa, dried beet pulp, natural flavor, monocalcium phosphate, lecithin, choline
              chloride, salt, calcium carbonate, ferrous sulfate, dried cranberries, alpha-tocopherol acetate (a source
              of Vitamin E), zinc oxide, rosemary extract, dried blueberries, juniper berry extract, dried kelp,
              turmeric, ginger, olive powder, manganous oxide, zinc proteinate, nicotinic acid, d-calcium pantothenate,
              Vitamin A supplement, manganese proteinate, cholecalciferol (a source of Vitamin D<sub>3</sub>), thiamin
              mononitrate, biotin, sodium selenite, riboflavin, copper proteinate, pyridoxine hydrochloride, Vitamin
              B<sub>12</sub> supplement, calcium iodate, folic acid.</p>
          </div>
        </li>
        <li class="accordion__item js-accordion-item">
          <div class="accordion__item-button grid grid--justify-space-between js-accordion-item-button">
            Guaranteed Analysis
            <span class="accordion__item-button-right-icon"></span>
          </div>
          <div class="accordion__item-content js-accordion-item-content">
            <p>Crude protein 24% minimum, crude fat 14% minimum, crude fiber 6% maximum, moisture 10% maximum, ash 7.5%
              maximum, calcium 1.1% minimum, phosphorus 0.9% minimum, sodium 0.3% minimum, Vitamin A 18,000 IU/kg
              minimum, Vitamin D<sub>3</sub> 1,700 IU/kg minimum, Vitamin E 100 IU/kg minimum.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}