// A dimmer hides distractions to focus attention on particular content by making the whole screen black with a variable opacity

.dimmer {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    z-index: map_get($z-indexes, highest);
    transition: visibility map_get($transitions-times, normal), opacity map_get($transitions-times, normal);
    &.is-visible {
        visibility: visible;
        opacity: 1;
    }
    &__content {
        z-index: map_get($z-indexes, high);
    }
}


