.tabs {
    &__tab-btn {
        & + #{&} {
            margin-left: 4px;
        }
    }
    &__tab-btn-link {
        display: block;
        color: white;
        padding: 20px 30px;
        font-size: 16px;
        line-height: 1;
        text-transform: uppercase;
        background-color: map_get($colors, blue-normal);
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        transition: background-color map_get($transitions-times, normal), color map_get($transitions-times, normal);
        @media screen and(max-width: map_get($breakpoints-max, xs)) {
            padding: 15px;
        }
        &.is-active {
            background-color: #f8f8f8;
            color: map_get($colors, blue-normal);
        }
    }
    &__tab-content {
        display: none;
        &.is-active {
            display: block;
        }
    }
}