<!DOCTYPE html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  <title>{{ title }}</title>
  <meta name="description" content="" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico">

  <link rel="apple-touch-icon" href="apple-touch-icon.png" />

  <link rel="stylesheet" href="css/animate.min.css" />
  <!-- build:css -->
  <link rel="stylesheet" href="css/app.css" />
  <!-- endbuild -->
  <link rel="stylesheet" href="css/slick.min.css" />

  <link rel="stylesheet" href="fonts/font-awesome/font.css" />

  <link rel="stylesheet" href="fonts/fontello/css/fontello.css" rel="stylesheet">

  <link rel="stylesheet" href="plugins/magnific-popup/magnific-popup.css" />

  <script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>

  <script src="./plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
</head>

<body class="preload page_home">

  {% include '../partials/nav.html' %}
  {% include '../partials/subnavbar.html' %}

  {% block content %}{% endblock %}

  {% include '../partials/footer.html' %}

  {% include '../partials/sidebar.html' %}
  {% include '../partials/language.html' %}
  {% include '../partials/newsletter.html' %}

  <div class="dimmer js-dimmer"></div>

  <!-- Start of Async Drift Code -->
  <script>
    "use strict";

    !function () {
      var t = window.driftt = window.drift = window.driftt || [];
      if (!t.init) {
        if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
        t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
          t.factory = function (e) {
            return function () {
              var n = Array.prototype.slice.call(arguments);
              return n.unshift(e), t.push(n), t;
            };
          }, t.methods.forEach(function (e) {
            t[e] = t.factory(e);
          }), t.load = function (t) {
            var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
            o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
            var i = document.getElementsByTagName("script")[0];
            i.parentNode.insertBefore(o, i);
          };
      }
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('cugpxh589yzg');
  </script>
  <!-- End of Async Drift Code -->

  <script src="./js/common.min.js"></script>
  <script src="./js/home.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
</body>

</html>